<!doctype html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
   <title>Markup</title>
   {% block stylesheet_all %}
      {% block stylesheets %}
      {% endblock %}

   {% endblock %}
</head>
<body class="{{ body_class }}">
{% block page_wrapper %}
   <div class="page-wrapper">
      <div class="page-buffer">
         {% include './common/navbar.twig' %}
         {% block header %}{% endblock %}
         <div>
             {% block content %}{% endblock %}
         </div>
         <div id="root"></div>
         <div class="page-buffer__end"></div>
      </div>
   </div>
{% endblock %}

{% block page_footer %}
   <div class="page-footer">
      {% block footer %}
         {% include './common/footer.twig' %}
      {% endblock %}
   </div>
{% endblock %}

<div class="page-helper"></div>

{% block modals_all %}
   {% include './modal/request.twig' %}
   {% include './modal/success.twig' %}
   {% include "./modal/callback.twig" %}
   {% block modals %}{% endblock %}
{% endblock %}

{% block javascript_map %}
{% endblock %}

{% block javascript_all %}
   {% block javascripts %}{% endblock %}
{% endblock %}
</body>
</html>
{% import './macros/svg.twig' as svg %}




<style>
   .program-time {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
   }

   .program-time__item {
      display: flex;
      font-family: "NimbusSanNov-Bol", Arial, sans-serif;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      color: #fff;
   }

   .program-time__time {
      width: 25%;
      font-weight: 700;
      color: #fff;
      font-size: 27px;
      margin-right: 40px;
   }

   .program-time__text {
      width: 40%;
      color: #fff;
   }

   @media (min-width: 992px) {
      .program-time {
         margin-left: 150px;
      }
   }
</style>

<div class="program-time">
   <div class="program-time__item">
      <p class="program-time__time">13<sup>00</sup> — 17<sup>00</sup></p>
      <p class="program-time__text  text">Приветственный фуршет с горячими напитками. Новогодние фотосеты с большим белым медведем.</p>
   </div>
   <div class="program-time__item">
      <p class="program-time__time">13<sup>00</sup> — 17<sup>00</sup></p>
      <p class="program-time__text  text">Приветственный фуршет с горячими напитками. Новогодние фотосеты с большим белым медведем.</p>
   </div>
   <div class="program-time__item">
      <p class="program-time__time">13<sup>00</sup> — 17<sup>00</sup></p>
      <p class="program-time__text  text">Приветственный фуршет с горячими напитками. Новогодние фотосеты с большим белым медведем.</p>
   </div>
   <div class="program-time__item">
      <p class="program-time__time">13<sup>00</sup> — 17<sup>00</sup></p>
      <p class="program-time__text  text">Приветственный фуршет с горячими напитками. Новогодние фотосеты с большим белым медведем.</p>
   </div>
   <div class="program-time__item">
      <p class="program-time__time">13<sup>00</sup> — 17<sup>00</sup></p>
      <p class="program-time__text  text">Приветственный фуршет с горячими напитками. Новогодние фотосеты с большим белым медведем.</p>
   </div>
</div>


<style>
   .program {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
   }
   .program-sub-title {
      margin-right: 15px;
      text-transform: uppercase;
      color: #fff;
   }
</style>