<div class="article">
    <div class="article__pic visible-xs-inline-block">
        <img src="assets/images/bg/painter_xs.png" alt="" class="article__pic-img">
    </div>
    <div class="article__container">
        <div class="article__title">
            <h3 class="article__title-small">мнение эксперта</h3>
            <h2 class="article__title-big">Как правильно наносить наше покрытие</h2>
        </div>
        <div class="article__content">
            <p class="article__content-text">
                При покупке и выборе маркерной и магнитной краски покупатели обычно сталкиваются с решением большого
                количества задач и проблем. Мы попытаемся разложить по полочкам как нанести маркерную краску.
            </p>
            <div class="article__content-buttons">
                <a class="button _purple">
                    <span>перейти в раздел</span>
                </a>
                <a data-target="#modalCalculate" class="button js-modal-toggle _white">
                    <span>Заказать расчет</span>
                </a>
            </div>
        </div>
    </div>
</div>
