<ol class="breadcrumb">
    {% for item in path %}
        {% if item.link %}
            <li class="breadcrumb__li"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
            <li class="breadcrumb__li _active">{{ item.name }}</li>
        {% endif %}
    {% endfor %}
</ol>