{% set concomitants = [
    {
        label: 'акция',
        pic: '1',
        name: 'Маркерная краска SketchPaint (Белая)',
        info: '1л. - 6кв.м.',
        params: [
            {
                cost: 100,
                name: '0,5л'
            },
            {
                cost: 200,
                name: '1л'
            },
            {
                cost: 300,
                name: '2л'
            }
        ]
    }, {
        label: 'скидка',
        pic: '2',
        name: 'Маркерная краска Sherwin Williams Dry',
        info: 'Erase - 20 кв.м',
        params: [
            {
                cost: 100,
                name: '0,5л'
            },
            {
                cost: 200,
                name: '1л'
            },
            {
                cost: 300,
                name: '2л'
            }
        ]
    }, {
        pic: '3',
        name: 'Маркерная краска Sherwin Williams Dry',
        info: 'Erase - 20 кв.м',
        price: 200
    }, {
        pic: '4',
        name: 'Маркерная краска Sherwin Williams Dry',
        info: 'Erase - 20 кв.м',
        price: 100
    }
] %}

<div class="concomitant">
    <h2 class="concomitant__title">Не забудьте купить</h2>
    <div class="concomitant__content row">
        {% for i, item in concomitants %}
            <div class="concomitant__card col-xs-12 col-sm-6 col-md-6 col-lg-3 col-vl-3">
                {% include '../partials/card/product.twig' with i, item %}
            </div>
        {% endfor %}
    </div>
</div>