<div class="js-product-count counter{% if border %} _{{ border }}{% endif %}{% if mod %} {{ mod }}{% endif %}">
    <button type="button" class="js-product-count-button counter__button _down">-</button>
    <input class="js-product-count-value counter__value" title="" value={{ value }}>
    <button type="button" class="js-product-count-button counter__button _up">+</button>
</div>