<div class="partners flex-row">
    {% for post in ['1','2','3','4','5','6'] %}
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-vl-2">
            <div class="partners-item">
                <div class="partners-item__pic">
                    <a href="#" rel="noindex, nofollow">
                        <img class="partners-item__pic-img" src="assets/images/partners/{{ post }}.png" alt="">
                    </a>
                </div>
                <div class="partners-item__pic _gray">
                    <a href="#" rel="noindex, nofollow">
                        <img class="partners-item__pic-img" src="assets/images/partners/{{ post }}_gray.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>