<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-vl-3">
    <ul class="about-nav">
        <li role="presentation" >
            <a href="/" class="about-nav__link">О КОМПАНИИ</a>
        </li>
        <li role="presentation">
            <a href="/" class="about-nav__link">НАШИ ПРОЕКТЫ</a>
        </li>
        <li role="presentation" class="_active">
            <a href="/" class="about-nav__link">ДОСТАВКА И ОПЛАТА</a>
        </li>
        <li role="presentation">
            <a href="/" class="about-nav__link">ПОМОЩЬ</a>
        </li>
        <li role="presentation">
            <a href="/" class="about-nav__link">КОНТАКТЫ</a>
        </li>
    </ul>
</div>