@mixin flex-row() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;

  & > * {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
}

.flex-row {
  @include flex-row;
}

@mixin flex-row-responsive () {
  @each $name, $breakpoint in $breakpoints {

    @media (min-width: #{$breakpoint}) {
      .flex-row-#{$name} {
        @include flex-row;
      }
    }
  }
}

@mixin flex-row() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;

  & > * {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
}

.flex-row {
  @include flex-row;
}

@mixin flex-centered () {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-centered{
  @include flex-centered;
}

