// Категории, вспомонательные тексты
@mixin help-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px;
    color: #a68ac7;
    @media (min-width: $screen-vl) {
        font-size: 14px;
    }
}

@mixin name {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.3;
    color: #60566b;
    @media (min-width: $screen-lg) {
        font-size: 14px;
    }
    @media (min-width: $screen-vl) {
        font-size: 18px;
    }
}

@mixin promo-text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #917fa3;
    @media(min-width: $screen-lg) {
        font-size: 12px;
    }
}

@mixin promo-normal {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #917fa3;
    @media(min-width: $screen-lg) {
        font-size: 10px;
    }
}

@mixin promo-small {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #917fa3;
    @media(min-width: $screen-lg) {
        font-size: 8px;
    }
}

