{% extends "./base.twig" %}

{% import '../macros/form.twig' as form %}

{% set modal = {
    id: 'modalCallback',
    title: 'Заказ обратного звонка'
} %}

{% block modal_content %}
    <div class="modal__form">
        <form class="js-form js-request-form form _modal">
            <div class="form__group">
                {{ form.input({placeholder: 'Ваше имя', name: 'name', inputMod: 'modal__input'}) }}
            </div>
            <div class="form__group">
                {{ form.input({ placeholder: 'Телефон', name: 'phone', inputMod: 'js-form-phone modal__input'}) }}
            </div>
            <div class="form__submit-wr">
                <button type="submit" class="modal__submit button _inverse">
                    <span class="btn__text">Заказать</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}