{% extends './base.twig' %}

{% import '../macros/form.twig' as form %}

{% set modal = {
   id: 'modalRequest',
   title: 'Ответим на любые вопросы'
} %}

{% block modal_content %}
   <div class="modal__form">
      <form class="js-request-form modal-form">
         <div class="modal-form__group">
            {{ form.input({title: 'Имя', name: 'name'}) }}
         </div>
         <div class="modal-form__group">
            {{ form.input({title: 'Телефон', name: 'phone', inputMod: 'js-form-phone'}) }}
         </div>
         <div class="modal__submit-wr">
            <button type="submit" class="modal__submit btn">
               <span class="btn__text">Заказать звонок</span>
            </button>
         </div>
      </form>
   </div>
{% endblock %}

