{% extends './base.twig' %}

{% set modal = {
   id: 'modalSuccess',
   title: 'Спасибо'
} %}

{% block modal_content %}
   <p class="modal__desc">
      Заявка успешно отправлена
   </p>
{% endblock %}

