.page-404 {
  padding-top: 200px;
  padding-bottom: 20px;
  &__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #8f819d;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 28px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 25px;
    color: #fff;
    background-color: #665973;
    transition: opacity 0.4s ease;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
}