.about {
  padding: 40px 0 72px;
  background-color: #f9fbfc;
  @media (max-width: $screen-xs-max) {
    padding: 30px 0 57px;
  }
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    padding: 30px 0 57px;
  }

  &__inner {
    & h1 {
      margin-bottom: 40px;
    }

    & p {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 300;
      color: #8f819d;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      @include gutters(10);
    }
    @media (min-width: $screen-vl) {
      @include gutters(13);
    }

    [class^=col-] + [class^=col-] {
      @media (max-width: $screen-md-max) {
        margin-top: 20px;
      }
    }
  }

  &__title {
    color: #4c4257;
    font-weight: 200;
    @media (max-width: $screen-xs-max) {
      font-size: 26px;
      font-weight: 300;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 30px;
    }
    @media (min-width: $screen-vl) {
      font-size: 58px;
    }
  }
  &__content {
    margin-top: 32px;
  }

  &__inside {
    width: 100%;
  }
  &__info {
    margin-top: 40px;
    @media (max-width: $screen-xs-max) {
      margin-top: 31px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 23px;
    }
    &-title {
      max-width: 850px;
      color: #4c4257;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 2.2px;
      line-height: 27.36px;
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 22px;
        max-width: 90%;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 15px;
        letter-spacing: 1.6px;
        line-height: 17.88px;
        max-width: 75%;
      }
    }
    &-content {
      color: #8f819d;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 0.55px;
      margin-top: 26px;
      line-height: 27.36px;
      @media (max-width: $screen-xs-max) {
        margin-top: 5px;
        font-size: 16px;
        line-height: 22.88px;
        letter-spacing: 0.3px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        max-width: 90%;
        margin-top: 18px;
        font-size: 11px;
        line-height: 17.88px;
        letter-spacing: 0.11px;
      }
    }
  }
  &__desc {
    margin-top: 16px;
    @media (max-width: $screen-xs-max) {
      margin-top: 36px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 19px;
    }
    &-title {
      color: #7f6d94;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 10px;
        line-height: 19.6px;
        letter-spacing: 2.3px;
      }
    }
    &-content {
      margin-top: 18px;
      color: #898796;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.16px;
      line-height: 26px;
      @media (max-width: $screen-xs-max) {
          max-width: 98%
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        margin-top: 8px;
        font-size: 10px;
        line-height: 16.99px;
        letter-spacing: 0.67px;
        max-width: 93%;
      }
    }
  }
  &__advantages {
    margin-top: 43px;
    @media (max-width: $screen-xs-max) {
      margin-top: 29px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 26px;
    }
    &-title {
      color: #7f6d94;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 10px;
        line-height: 19.6px;
        letter-spacing: 2.3px;
      }
    }
    &-content {
      margin-top: 11px;
      @media (max-width: $screen-xs-max) {
        margin-top: 22px;
      }
    }
    &-text {
      color: #898796;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0.16px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 10px;
        line-height: 17.2px;
        letter-spacing: 0.35px;
        max-width: 95%;
      }
    }
    &-list-title {
      margin-top: 50px;
      color: #60566b;
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 2px;
      @media (max-width: $screen-xs-max) {
        max-width: 90%;
        margin-top: 33px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1.8px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 13px;
        line-height: 16.99px;
        letter-spacing: 1.35px;
        margin-top: 33px;
      }
    }
    &-list {
      margin-top: 36px;
      margin-left: 18px;
      list-style-type: disc;
      @media (max-width: $screen-xs-max) {
        margin-top: 34px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        margin-top: 24px;
        margin-left: 15px;
      }
    }
    &-item {
      padding-left: 12px;
      color: #898796;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0.16px;
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.16px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        padding-left: 4px;
        font-size: 10px;
        line-height: 16.99px;
        letter-spacing: 0.4px;
      }
      & + & {
        margin-top: 13px;
        @media (max-width: $screen-xs-max) {
          margin-top: 19px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          margin-top: 18px;
        }
      }
    }
  }

  &__instructions {
    margin-top: 58px;
    @media (max-width: $screen-xs-max) {
      margin-top: 41px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 32px;
    }
    &-download {
      & + &{
        margin-top: 23px;
        @media (max-width: $screen-xs-max) {
          margin-top: 8px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          margin-top: 16px;
        }
      }
    }
    [class^=col-] + [class^=col-] {
      @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        margin-top: 10px;
      }
    }
    [class^=col-]:nth-child(2) ~ [class^=col-] {
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        margin-top: 20px;
      }
    }
  }

  &__gallery{
    margin-top: 67px;
    @media (max-width: $screen-xs-max) {
      margin-top: 34px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 38px;
    }
  }
}

.about-block {
  width: 100%;
  &__title {
    color: #4c4257;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 2.8px;
    @media (max-width: $screen-xs-max) {
      font-size: 22px;
      font-weight: 400;
      line-height: 27.36px;
      letter-spacing: 2.2px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 20px;
      line-height: 17.88px;
      letter-spacing: 2px;
    }

    .about__gallery &{
      @media (min-width: $screen-lg) {
        padding-left: 25.5%;
      }
    }
  }
  &__content{
    @media (max-width: $screen-xs-max) {
      margin-top: 24px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-lg-max) {
      margin-top: 31px;
    }
    @media (min-width: $screen-vl) {
      margin-top: 42px;
    }
  }
}

.about-nav {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  li {
    width: 100%;
  }
  &__link {
    width: 100%;
    background-color: $CWhite;
    display: flex;
    align-items: center;
    color: #9785a8;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    &:hover,li._active & {
      color: #fefefe;
      background-color: #9785a8;
    }

    @media (max-width: $screen-md-max) {
      padding: 21px 24px;
      font-size: 10px;
      line-height: 18px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding: 17px 19px;
      height: 41px;
      font-size: 9px;
    }
    @media (min-width: $screen-vl) {
      padding: 25px 34px;
      letter-spacing: 3.6px;
      height: 58px;
      font-size: 12px;
    }
  }
}