.advantages {
    &__section {
        margin-top: 0 !important;
    }
    background-color: #f9fbfc;
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        padding: 38px 47px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        padding: 20px 0;
    }
    @media (min-width: $screen-vl) {
        padding: 20px 0;
    }

    &__row .slick-dots {
        padding-bottom: 42px;
    }

    &__row {
        @include carousel-base;
        display: flex;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: $screen-xs-max) {
            width: 320px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            width: 722px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            width: 1068px;
        }
        @media (min-width: $screen-vl) {
            width: 1548px;
        }

        .slick-list {
            overflow: visible;
        }
    }
    &__slide {
        position: relative;
        float: none;
        height: auto;
        outline: none;
        @media (max-width: $screen-xs-max) {
            width: 320px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            width: 442px;
        }
        @media (min-width: $screen-lg) {
            width: 33%;
        }
    }

}

.advantages-slide {
    height: 100%;
    @media (max-width: $screen-xs-max) {
        padding: 53px 22px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        padding: 84px 57px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        padding: 47px 41px;
    }
    @media (min-width: $screen-vl) {
        padding: 30px 57px;
    }
    body:not(.mobile) &:hover, .mobile .slick-active & {
        background-color: $CWhite;
        box-shadow: 0 0 62px rgba(215, 225, 230, 0.26);
    }
    &__icon {
        width: 76px;
        height: 60px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            width: 46px;
            height: 35px;
        }
        &._c-red {
            color: #f2707c;
        }
        &._c-yellow {
            color: #d0b70f;
        }
        &._c-blue {
            color: #95c4dc;
        }

        &-svg {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__title {
        margin-top: 25px;
        font-size: 25px;
        font-weight: 300;
        color: #483e54;
        @media (min-width: $screen-sm) {
            font-size: 25px;
        }
        @media (min-width: $screen-lg) {
            font-size: 30px;
        }
    }

    &__content {
        margin-top: 20px;

        &-text {
            margin-bottom: 20px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 1px;
            color: #81788b;
            @media (min-width: $screen-sm) {
                margin-bottom: 50px;
                font-size: 14px;
            }
            @media (min-width: 1400px) {
                max-width: 86%;
                font-size: 16px;
            }
        }
        &-button {
            position: absolute;
            bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: $screen-sm) {
                display: none;
            }
            body:not(.mobile) .advantages-slide:hover &, .mobile .slick-active & {
                @media (min-width: $screen-sm) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
