.article {
    background-color: #fbfbfb;
    &__section {
        margin-bottom: 0 !important;
    }
    @media (max-width: $screen-xs-max) {
        padding: 33px 0;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        padding: 72px 36px 79px 386px;
        background: url('~images/bg/painter_sm.png') no-repeat;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        padding: 92px 37px 55px 598px;
        background: url('~images/bg/painter_lg.png') no-repeat;
    }
    @media (min-width: $screen-vl) {
        padding: 236px 90px 200px 959px;
        background: url('~images/bg/painter_vl.png') no-repeat;
    }

    &__container {
        @media(max-width: $screen-sm - 1) {
            @include container-fixed;
        }
    }

    &__pic {
        width: 100%;
        height: 175px;
        background-color: #fbfbfb;
        &-img {
            max-height: 100%;
        }
    }

    &__title {
        &-small {
            max-width: 550px;
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: #a69fd1;
            @media (min-width: $screen-sm) {
                margin-top: 0;
            }
            @media (min-width: $screen-vl) {
                margin-bottom: 20px;
                font-size: 12px;
            }
        }
        &-big {
            max-width: 550px;
            font-weight: 300;
            line-height: 1.1;
            color: #81788b;
            @media (min-width: $screen-sm) {
                max-width: 80%;
                font-size: 28px;
            }
            @media (min-width: $screen-vl) {
                font-size: 51px;
            }
        }
    }
    &__content {
        @media (max-width: $screen-md-max) {
            margin-top: 20px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            margin-top: 15px;
        }
        @media (min-width: $screen-vl) {
            margin-top: 30px;
        }
        &-text {
            max-width: 550px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 1px;
            color: #81788b;
            @media (min-width: $screen-sm) {
                max-width: 80%;
                font-size: 14px;
            }
            @media (min-width: 1400px) {
                font-size: 16px;
            }
        }
        &-buttons {
            @media (max-width: $screen-xs-max) {
                margin-top: 27px;
            }
            @media (min-width: $screen-sm) {
                display: flex;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                margin-top: 24px;
                flex-wrap: wrap;
            }
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                margin-top: 26px;
            }
            @media (min-width: $screen-vl) {
                margin-top: 43px;
            }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                @media (max-width: $screen-xs-max) {
                    width: 280px;
                    margin-left: auto;
                    margin-right: auto;
                }
                & + & {
                    @media (max-width: $screen-md-max) {
                        margin-top: 13px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}