.breadcrumb{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 12px;
  line-height: 11.15px;
  letter-spacing: 1.44px;
  padding: 0;

  &__li{
    color: #665973;
    a{
      display: inline-block;
      word-wrap: normal;
      &:hover {
        opacity: 0.6;
      }
    }

    &:first-child{
      margin-bottom: 13px;
    }

    &:not(:first-child){
      display: flex;
      flex-wrap: wrap;

      &:before{
        content: '|';
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &._active{
      color: #d3ced8;
    }
  }
}