.cart{
  background-color: #f9fbfc;
  & > [class^=container] {
    padding: 57px 0;
    @media (max-width: $screen-xs-max) {
      padding: 25px 0 40px;
    }
  }


  &__title{
    color: #473c52;
    font-weight: 300;
    @media (max-width: $screen-xs-max) {
      font-size: 26px;
      letter-spacing: 0.52px;
      margin-left: 20px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      font-size: 38px;
      letter-spacing: 0.76px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      letter-spacing: 1.14px;
      font-size: 40px;
    }
    @media (min-width: $screen-vl) {
      font-size: 58px;
      letter-spacing: 1.16px;
    }
  }

  &__download{
    @media (max-width: $screen-xs-max) {
      margin-left: 20px;
      margin-top: 20px;
    }
    @media (min-width: $screen-sm) {
      padding: 0 11px;
    }
  }

  &__content{
    margin-top: 35px;
  }

  &__list{
    border-radius: 3px;
    background-color: $CWhite;
    margin-bottom: 22px;
    @media (max-width: $screen-xs-max) {
        padding: 0 20px;
    }
  }

  &__table{
    width: 100%;
    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }

  &__thead{
    width: 100%;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    &-tr{
      width: 100%;
      border-bottom: 1px solid #f3f6f7;
    }
    &-cell{
      padding: 24px 0;
      text-align: left;
      color: #9485a6;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 8px;
      }
      &._pic{
        padding-left: 50px;
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
          width: 200px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 200px;
        }
        @media (min-width: $screen-vl) {
          width: 260px;
        }
      }
      &._price{
        @media (max-width: $screen-xs-max) {

        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {

        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 220px;
        }
        @media (min-width: $screen-vl) {
          width: 260px;
        }
      }
      &._count{
        padding-left: 11px;
        @media (max-width: $screen-xs-max) {

        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
          width: 200px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 220px;
        }
        @media (min-width: $screen-vl) {
          width: 260px;
        }
      }
      &._cost{
        padding-left: 50px;
        @media (max-width: $screen-xs-max) {

        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {

        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 220px;
        }
        @media (min-width: $screen-vl) {
          width: 260px;
        }
      }
      &._name{
        padding-left: 31px;
        @media (max-width: $screen-xs-max) {

        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
          width: 390px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 390px;
        }
        @media (min-width: $screen-vl) {
          width: 300px;
        }
      }
      &._del{
        @media (max-width: $screen-xs-max) {

        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
          width: 50px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 100px;
        }
        @media (min-width: $screen-vl) {
          width: 130px;
        }
      }
    }
  }
  &__tbody{
    @media (max-width: $screen-xs-max) {
      display: block;
    }
    &-tr{
      @media (max-width: $screen-xs-max) {
        display: flex;
        flex-flow: row wrap;
        position: relative;
      }
    }
    &-cell{
      @media (max-width: $screen-xs-max) {
        display: block;
      }
      &._pic{
        @media (max-width: $screen-xs-max) {
          width: 24%;
          flex-shrink: 0;
          @include flex-centered;
        }
      }
      &._name{
        @media (max-width: $screen-xs-max) {
          width: 76%;
          flex-shrink: 0;
          @include flex-centered;
        }
      }
      &._price{
        @media (max-width: $screen-xs-max) {
          order: 1;
          flex-grow: 1;
          text-align: right;
          margin-top: 18px;
          margin-left: 32px;
        }
      }
      &._count{
        @media (max-width: $screen-xs-max) {
          order: 0;
          margin-top: 18px;
        }
      }
      &._cost{
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      &._del{
        @media (max-width: $screen-xs-max) {
          position: absolute;
          top: 24px;
          right: 20px;

        }
      }
    }
  }
  &-item{
    border-bottom: 1px solid #f3f6f7;

    & .counter__button {
      padding: 0 5px;
    }

    & .counter__value {
      margin: 0 13px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 27px 0;
    }
    &__pic{
      height: 104px;
      @media (min-width: $screen-sm) {
        margin: 34px 50px;
      }
      &-img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__name{
      margin-left: 31px;
      display: inline-block;
      color: #60566b;
      font-size: 18px;
      letter-spacing: 1.8px;
      @media (max-width: $screen-xs-max) {
        letter-spacing: 1.6px;
        font-size: 16px;
        margin-left: 7px;
      }
      @media (min-width: $screen-sm) {
        max-width: 70%;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 13px;
      }
    }
    &__cost{
      margin-left: 50px;
    }
    &__counter{
      height: 45px;
      width: 130px;
      border-radius: 22px;
      padding: 0 13px;
      flex-grow: 0;
    }
    &__price,&__cost{
      color: #696171;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.6px;
      @media (max-width: $screen-xs-max) {
        display: flex;
        flex-flow: column nowrap;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        display: inline-block;
        margin-top: 21px;
        margin-left: 31px;
      }
    }
    &__price-text{
      margin-top: 9px;
      color: #b1acb8;
      font-size: 12px;
      letter-spacing: 1.2;
    }
    &__close{
      position: relative;
      width: 14px;
      height: 14px;
      &-line{
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 20px;
        height: 1px;
        background-color: #d1d7da;
        &:first-child{
          @include rotate(45deg);
        }
        &:last-child{
          @include rotate(-45deg);
        }
      }
      &:hover &-line{
        background-color: #b1bbc0;
      }
    }
    &__column{
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__back{
    color: #9485a6;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    display: flex;
    align-items: center;
    @media (max-width: $screen-xs-max) {
      margin-left: 20px;
      margin-bottom: 30px;
    }
    &-icon{
      @include rotate(-90deg);
      height: 8px;
    }
    &-text{
      margin-left: 14px;
    }
  }

  &__submit{
    height: 50px;
    border-radius: 25px;
    background-color: #ffe34b;
    @include flex-centered;
    padding: 0 28px;
    color: #665973;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    @media (max-width: $screen-xs-max) {
      margin: 27px 20px 0;
      width: 100%;
    }
  }

  &__result{
    display: flex;
    
    @media (max-width: $screen-xs-max) {
        flex-flow: column nowrap;
      padding: 31px 0 27px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      padding: 39px;
    }
    @media (min-width: $screen-lg) {
      height: 120px;
      align-items: center;
    }

    &-promo{
      display: flex;
      align-items: center;
      @media (min-width: $screen-sm) {
        padding-left: 46px;
      }
      @media (max-width: $screen-md-max) {
        display: flex;
        flex-flow: column nowrap;
      }
      &-title{
        color: #60566b;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.8px;
      }
      &-wrap {
        display: flex;
        @media (max-width: $screen-xs-max) {
          margin-top: 13px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
          margin-top: 18px;
        }

        @media (min-width: $screen-lg) {
          margin-left: 37px;
        }
      }
      &-input{
        width: 164px;
        height: 42px;
        border: 1px solid #ecf0f2;
        padding: 0 18px;
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.2;
        @include placeholder(#b8c2c7);
        
        
        
      }

      &-submit {
        border-radius: 0 4px 4px 0;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #665973;
        transition: all 1s ease;
        height: 42px;
        color: #ffffff;



        .icon-svg-checked,
        .icon-svg-error {
          display: none;
        }

        .icon-svg-checked {
          width: 24px;
          height: 19px;
          fill: #ffffff;
        }

        .icon-svg-error {
          fill: #ffffff;
          width: 24px;
          height: 24px;
        }

        &-text {
          color: #ffffff;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 700;
        }

        &--ok {
          .icon-svg-checked {
            display: block;
          }
        }

        &--error {
          .icon-svg-error {
            display: block;
          }
        }
      }
    }

    &-title{
      @media (max-width: $screen-xs-max) {
        margin-top: 28px;
      }
      &-big{
        color: #60566b;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 2.2px;
      }
      &-small{
        display: none;
        margin-top: 14px;
        color: #b8c2c7;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.2;
      }
    }

    &-old-cost {
      display: none;
      color: #b9c0c7;
      font-size: 14px;
      text-decoration: line-through;
      
      text-align: right;

      @media screen and (max-width: $screen-xs-max) {
        display: block;
      }
    }

    &-cost{
      display: block;
      color: #725d88;
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 2.2px;
      text-align: right;
      @media (max-width: $screen-xs-max) {
        margin-top: 28px;
      }
      @media (min-width: $screen-sm) {
        display: inline-block;
        margin-top: 10px;
        padding-right: 10px;
        text-align: left;
      }
      @media screen and (min-width: $screen-lg) {
        margin-top: 0;
      }
    }
  }
}