.concomitant{
  padding: 70px 0;
  &__title{
    color: #60566b;
    font-weight: 400;
    @media (max-width: $screen-lg-max) {
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 1.32px;
    }
    @media (min-width: $screen-vl) {
      font-size: 28px;
      line-height: 30px;
      letter-spacing: 1.68px;
    }
  }

  &__content{
    @media (max-width: $screen-xs-max) {
      margin-top: 27px;
    }
    @media (min-width: $screen-sm) {
      @include gutters(11);
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-top: 29px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      @include gutters(7);
      margin-top: 42px;
    }
    @media (min-width: $screen-vl) {
      margin-top: 57px;
    }
  }

  &__card{
    & + &{
      @media (max-width: $screen-xs-max) {
        margin-top: 15px;
      }
    }
  }
}