.contacts-main {
    background-color: #f9fbfc;
    @media (max-width: $screen-xs-max) {
        padding: 31px 0 39px 0;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        padding: 36px 0 46px 0;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        padding: 41px 0 55px 0;
    }
    @media (min-width: $screen-vl) {
        padding: 47px 0 120px 0;
    }

    &__title {
        color: #4c4257;
        font-weight: 200;
        @media (max-width: $screen-xs-max) {
            font-size: 26px;
            font-weight: 300;
            letter-spacing: 0.21px;
            line-height: 32px;
            margin-bottom: 34px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            font-size: 28px;
            line-height: 36px;
            margin-bottom: 39px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            font-size: 30px;
            line-height: 45.4px;
            margin-bottom: 45px;
        }
        @media (min-width: $screen-vl) {
            margin-bottom: 60px;
            font-size: 58px;
            line-height: 68px;
        }
    }

    &__phones {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $CWhite;
        @media (max-width: $screen-xs-max) {
            padding: 42px 20px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            padding: 41px 70px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            padding: 44px 125px;
        }
        @media (min-width: $screen-vl) {
            padding: 66px 111px;
        }

        &-column {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            @media (max-width: $screen-md-max) {
                width: 100%;
            }
            @media (min-width: $screen-lg) {
                width: auto;
                margin-right: 80px;
                &:last-of-type {
                    margin-right: 0;
                }
            }

            & + & {
                @media (max-width: $screen-md-max) {
                    margin-top: 46px;
                }
            }
        }

        &-title {
            @include promo-text;
            line-height: 1;
            color: #9179b6;
            text-transform: uppercase;
            @media (max-width: $screen-xs-max) {
                width: 100%;
            }
        }

        &-content {
            position: relative;
            margin-top: -2px;
            @media (max-width: $screen-xs-max) {
                margin-top: 22px;
                width: 100%;
            }
            @media (min-width: $screen-sm) {
                margin-left: 50px;
            }
            @media (min-width: $screen-lg) {
                margin-left: 52px;
            }
            @media (min-width: $screen-vl) {
                margin-left: 20px;
            }
        }

        &-link {
            @include name;
            display: block;
            color: #5a5265;
            font-size: 22px;
            line-height: 1;
            transition: opacity 0.4s ease;
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                font-size: 13px;
            }
            &:hover {
                opacity: 0.6;
            }

            &:active {
                opacity: 0.4;
            }
        }

        &-info {
            @include promo-normal;
            display: block;
            margin-top: 10px;
            text-transform: uppercase;
            color: #b4aebe;
        }
    }

    &__content {
        margin-top: 97px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            margin-top: 50px;
        }

        [class^=col-] + [class^=col-] {
            @media (max-width: $screen-xs-max) {
                margin-top: 37px;
            }
        }

        &-column {
            text-align: center;
        }

        &-label {
            margin-left: auto;
            margin-right: auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $CWhite;
            @include flex-centered;
            @media (min-width: $screen-sm) and (max-width: $screen-lg-max) {
                width: 68px;
                height: 68px;
            }

            &-svg {
                color: #b284e1;
                max-width: 42px;
                max-height: 42px;
                @media (min-width: $screen-sm) and (max-width: $screen-lg-max) {
                    max-width: 29px;
                    max-height: 29px;
                }
            }
        }

        &-title {
            @include promo-text;
            margin-top: 25px;
            margin-bottom: 20px;
            color: #9179b6;
            text-transform: uppercase;
            @media (min-width: $screen-sm) {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }

        &-text {
            @include name;
            display: block;
            color: #5a5265;

            & + & {
                margin-top: 10px;
            }
        }
    }
}

.contacts-map {
    width: 100%;
    @media (max-width: $screen-xs-max) {
        height: 376px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        height: 386px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        height: 395px;
    }
    @media (min-width: $screen-vl) {
        height: 591px;
    }
}

a.contacts-main__content-text {
    transition: opacity 0.4s ease;
    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.4;
    }
}