.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Style for fonts */
  color: #696171;
  font-weight: 500;
  @media (max-width: $screen-xs-max) {
    font-size: 14px;
    letter-spacing: 1.4px;
    padding: 0 11px;
  }
  @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    font-size: 15px;
    letter-spacing: 1.6px;
    padding: 0 18px;
  }
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    font-size: 11px;
    letter-spacing: 1.56px;
    padding: 0 12px;
  }
  @media (min-width: $screen-vl) {
    font-size: 16px;
    letter-spacing: 1.6px;
    padding: 0 23px;
  }
  &._ellipse {
    border: 1px solid #dfd6e9;
  }
  &._side {

  }

  &__value {
    border: none;
    text-align: center;
    background-color: transparent;
    @media (max-width: $screen-xs-max) {
      margin: 0 12px;
      width: 36px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin: 0 15px;
      width: 38px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin: 0 10px;
      width: 12px;
    }
    @media (min-width: $screen-vl) {
      margin: 0 17px;
      width: 40px;
    }
  }
  &__button{
    &:hover{
      color: #b291d9;
    }
  }
}