.footer {
  padding: 0 0 20px;

  &__social {
    display: flex;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ece9ee;
    border-bottom: 1px solid #ece9ee;
    & .container {
      width: 100%;
    }
  }

  &__links {
    & > [class^='col-']:not(:first-child) {
      @media (max-width: $screen-xs-max) {
        margin-top: 22px;
      }
    }
    & > [class^='col-']:nth-child(2) ~ [class^='col-'] {
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        margin-top: 50px;
      }
    }
    & > [class^='col-']:nth-child(2n + 1) {
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        padding-left: 25px;
      }
    }

    @include gutters(0);
    margin: 30px 0 20px;
  }

  &__info-wr{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #ece9ee;
  }
}

.footer-social {
  border-left: 1px solid #ece9ee;
  width: 100%;
  height: 100%;
  @include gutters(0);

  &__link {
    display: inline-block;
    width: 33%;
    @include flex-centered;
    border-right: 1px solid #ece9ee;
    height: 118px;
    color: #6b5e77;
    @media (max-width: $screen-xs-max) {
      height: 48px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      height: 70px;
    }
    &:hover {
      color: #c0b8c7;
    }
  }

  &__svg {
    max-width: 38px;
    max-height: 38px;
    @media (max-width: $screen-xs-max) {
      max-width: 18px;
      max-height: 18px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      max-width: 24px;
      max-height: 24px;
    }
  }
}

.footer-links {
  &__title {
    color: #61566c;
    font-size: 24px;
    font-weight: 500;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 15px;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
    @media (min-width: $screen-sm) {
      margin-top: 15px;
    }
  }

  &__link {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 1.5;
    color: #4f4459;
    &:hover{
      color: #c0b8c7;
    }
    @media (min-width: $screen-lg) {
      font-size: 16px;
    }
  }
}

.footer-contacts {
  @media (max-width: $screen-xs-max) {
    margin-top: 17px;
  }
  &__phone {
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding: 0 15px;
    }
    @media (min-width: $screen-vl) {
      padding: 0 65px;
    }
    & + & {
      margin-top: 13px;
      @media (min-width: 1400px) {
        margin-top: 30px;
      }
    }
    &-title {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 1px;
      color: #a197aa;
    }
    &-link {
      display: inline-block;
      color: #5b5264;
      font-size: 20px;
      font-weight: 400;
      @media (max-width: $screen-xs-max) {
        margin-top: 4px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 14px;
      }
      @media (min-width: $screen-vl) {
        margin-top: 3px;
      }
      &:hover {
        color: #c0b8c7;
      }
    }
  }

  &__requisites {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: #81788b;
    @media (max-width: $screen-xs-max) {
      margin-top: 32px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      max-width: 250px;
      margin-top: 25px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding-left: 15px;
      margin-top: 19px;
    }
    @media (min-width: $screen-vl) {
      margin-top: 35px;
      padding-left: 62px;
    }
  }
}

.footer-info {
  align-items: center;
  color: #8a8291;
  font-size: 12px;
  @media (min-width: $screen-sm) {
    margin-top: 10px;
  }
  @media (min-width: $screen-lg) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    margin-top: 22px;
    font-size: 10px;
  }
  @media (min-width: $screen-vl) {
    margin-top: 38px;
  }

  &__copyright {
    @media (min-width: $screen-sm) {
      display: flex;
      align-items: center;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      justify-content: center;
    }
    @media (min-width: $screen-lg) {
      justify-content: flex-start;
    }
    &-logo {
      width: 64px;
      height: 42px;
      margin-right: 10px;
      color: #d3ced8;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        width: 38px;
        height: 24px;
      }
    }
    &-text {
      display: inline-block;
      margin-top: 0;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.5;
      @media (min-width: $screen-sm) {
        display: block;
        margin-left: 20px;
      }
    }
  }

  &__agreement {
    max-width: 670px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    @media (max-width: $screen-xs-max) {
      margin-top: 13px;
      margin-bottom: 10px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 20px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 7px;
      max-width: 550px;
    }
    @media (min-width: $screen-vl) {
      margin-top: 20px;
    }
    &-link {
      display: inline-block;
      margin-right: 20px;
      color: #8a8291;
      &:last-of-type {
        margin-left: 0;
      }
      &:hover{
        text-decoration: underline;
        color: #6a537f;
      }
    }
  }
  &__design {
    @include flex-centered;
    @media (max-width: $screen-xs-max) {
      padding-top: 27px;
      border-top: 1px solid #ece9ee;
      height: 100%;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      text-align: center;
      margin-top: 20px;
    }
    &-text {
      margin-right: 5px;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 1px;
    }
    &-link {

      &-logo {
        width: 35px;
        color: #8a8291;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 28px;
        }
        &:hover{
          color: #f7d418;
        }
      }
    }
  }
}
