.main {
  @media (max-width: $screen-md-max) {
    padding-bottom: 40px;
  }

  &._light {
    background-color: #f9fbfc;
    background-image: none;

  }

&._pic {
  background-image: url(~images/main-slider-bg/1.png);
  background-color: transparent;
}

  &._gray {

  }

  &._dark {
    background-image: url(~images/paints/swiper_thumb_1.jpg);
    background-color: transparent;
  }

  &__inner {
    width: 100%;
    position: relative;
  }

  &__swiper-thumbs .swiper-slide {
    opacity: 0.4;
  }

  &__swiper-thumbs .swiper-slide-active {
    opacity: 1;
  }
}

.main-thumbs {
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    height: 502px;
  }
  width: 100%;
  &__title {
    font-weight: 200;
    text-align: center;
    width: 100%;
    @media (max-width: $screen-xs-max) {
      margin-top: 50px;
      font-size: 32px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      font-size: 38px;
      margin-top: 35px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 38px;
      margin-top: 3px;
    }
    @media (min-width: $screen-vl) {
      font-size: 78px;
      margin-top: 46px;
    }

    .main._light & {
      color: #4c4257;
    }

    .main._dark & {
      color: $CWhite;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 52px;
    @media (max-width: $screen-xs-max) {
      margin-top: 34px;
    }
    @media (max-width: $screen-md-max) {
      flex-direction: column;
    }
    @media (min-width: $screen-lg) {
      padding-right: 15%;
    }
  }

  &__content {
    @media (max-width: $screen-xs-max) {
    }
    @media (max-width: $screen-md-max) {
      width: 100%;
      order: 1;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      width: 50%;
    }
    @media (min-width: $screen-vl) {
      width: 45%;
    }
  }

  &__text {
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    @media (min-width: $screen-sm) {
      max-width: 72%;
      font-size: 14px;
    }
    @media (min-width: 1400px) {
      font-size: 16px;
    }

    .main._light & {
      color: #898796;
    }

    .main._dark & {
      color: #a1a0a7;
    }
  }

  &__panel {
    @media (max-width: $screen-xs-max) {
      margin-top: 22px;
    }
    @media (min-width: $screen-sm) {
      display: flex;
      margin-top: 40px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 45px;
    }

    .button {
      @media (max-width: $screen-xs-max) {
        margin-left: auto;
        margin-right: auto;
        width: 280px;
      }
    }
  }

  &__pic {
    text-align: center;
    font-size: 0;
    @media (max-width: $screen-md-max) {
      order: -1;
    }

    @media (max-width: $screen-xs-max) {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      width: 100%;
      padding-right: 35%;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding-top: 2%;
      margin-right: 40px;
      height: 390px;
      width: 55%;
    }
    @media (min-width: $screen-vl) {
      width: 55%;
      margin-right: 40px;
    }
  }
}

.main-nav {
  position: absolute;
  z-index: 1;


  @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    right: 20px;
    top: 130px;
    height: auto;
    max-height: 320px;
  }
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    top: 65px;
    right: -20px;
    height: auto;
    max-height: 280px;
  }
  @media (min-width: $screen-vl) {
    top: 188px;
    right: 65px;
    height: auto;
    padding-bottom: 20px;
    max-height: 380px;
  }

  &__swiper {
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      height: auto;
      max-height: 320px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      height: auto;
      max-height: 280px;
    }
    @media (min-width: $screen-vl) {
      height: auto;
      max-height: 380px;
    }
  }

  &__buttons {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__button {
    width: 65px;
    position: absolute;
    z-index: 99999999;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      width: 48px;
    }
    @include flex-centered;
    padding: 10px 0;

    .main._light & {
      color: #a199b0;
    }

    .main._dark & {
      color: #5e576b;
    }

    color: #a199b0;

    &._enabled:hover {
      .main._light & {
        color: #665973;
      }

      .main._dark & {
        color: $CWhite;
      }
    }

    &._prev {
      top: -10px;
      left: 50%;
    }

    &._next {
      bottom: -10px;
      @include rotate(180deg);
      left: 50%;
    }
  }

  &__slide {
    outline: none;
    width: 216px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      padding: 5px 0;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding: 6px 0;
    }
    @media (min-width: $screen-vl) {
      padding: 15px 0;
    }

    &-label-wr {
      width: 65px;
      height: 65px;
      flex-shrink: 0;
      @include flex-centered;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        width: 48px;
        height: 48px;
      }
    }

    &-label {
      border-radius: 50%;
      background-color: transparent;
      width: 61px;
      height: 61px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        width: 44px;
        height: 44px;
      }
      @include flex-centered;
      transition: width .3s, height .3s;

      .main-nav__slide:hover &, .main-nav__slide._active & {
        background-color: $CWhite;
        box-shadow: 0 0 16px rgba(134, 121, 147, 0.11);
        width: 65px;
        height: 65px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 48px;
          height: 48px;
        }
      }

      &-pic {
        border-radius: 50%;
        overflow: hidden;
        transition: width .3s, height .3s;
        width: 50px;
        height: 50px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 36px;
          height: 36px;
        }

        .main-nav__slide:hover &, .main-nav__slide._active & {
          width: 61px;
          height: 61px;
          @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            width: 44px;
            height: 44px;
          }
        }
      }

      &-img {
        height: 100%;
      }
    }

    &-text {
      text-align: left;
      padding-left: 20px;
      width: 180px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 12px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 10px;
      }

      .main._light & {
        color: #8b90a5;

        &:hover {
          color: #3b3f4c;
        }
      }

      .main._dark & {
        color: #676a77;

        &:hover {
          color: $CWhite;
        }
      }

      .main-nav__slide:hover &, .main-nav__slide._active & {
        color: #3b3f4c;
      }
    }
  }
}

._light .main-nav__slide-label--active .main-nav__slide-label {
  border: 1px solid #554b5f !important;
  cursor: default !important;
}

._dark .main-nav__slide-label--active .main-nav__slide-label {
  border: 1px solid #fff !important;
  cursor: default !important;
}