.blocker._custom {
  z-index: 999;
  padding: 10px;
}

.modal {

  &._custom {
    padding: 40px 65px 30px;
    width: 100%;
    max-width: 650px;
    box-shadow: none;
    border-radius: 0;
    @media(min-width: $screen-md) {
      padding: 55px 85px 115px;
    }
  }

  &._custom &__close {
    background: none;
    text-indent: 0;
    right: 15px;
    top: 15px;
    width: auto;
    height: auto;
    padding: 10px;
    width: 30px;
    height: 30px;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      display: block;
      background-color: #665973;
      width: 100%;
      height: 2px;
      border-radius: 2px;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__close-icon {
    display: inline-block;
    color: #d9d6ca;
    //@include sprite-svg(close_gray);
    //font-size: mq-px2em(20px, sprite-attr(close_gray, width));
  }

  &__title {
    text-transform: uppercase;
    font-size: 16px;
    color: $BFont-color;
    margin-bottom: 20px;
    font-weight: 200;
    @media(min-width: $screen-md) {
      margin-bottom: 50px;
      font-size: 20px;
    }

    @media screen and (min-width: $screen-lg) {
      font-size: 38px;
    }
  }

  .form__group {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    width: 100%;
    padding: 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 2.78px;
    color: #554b5f;
    border: none;
    border-bottom: 2px solid #665973;
  }


  &__submit-wr {
    margin-top: 20px;
    text-align: center;
    @media(min-width: $screen-md) {
      margin-top: 50px;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 50px;
    border-radius: 30px;
    background-color: #665973;
    margin: 0 auto;

    .btn__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 2.4px;
      color: #ffffff;
    }
  }
}

.modal-form {
  &__group + &__group {
    margin-top: 12px;
  }
}
