.ordering {
  background-color: #f9fbfc;

  &__inner {
    padding-top: 103px;
    padding-bottom: 50px;
    align-items: flex-start;
    @media (max-width: $screen-xs-max) {
      padding-top: 30px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      padding-top: 50px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding-top: 75px;
    }
    @media (min-width: $screen-vl) {
      padding-top: 90px;
    }
  }

  &__column1 {
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      width: 542px;
      margin-top: 38px;
    }
    @media (min-width: $screen-vl) {
      width: 734px;
      margin-top: 36px;
    }
  }
  &__column2 {
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      width: 466px;
    }
    @media (min-width: $screen-vl) {
      width: 637px;
    }
  }
}

.ordering-block {
  & + & {
    @media (max-width: $screen-xs-max) {
      margin-top: 33px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-top: 57px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 44px;
    }
    @media (min-width: $screen-vl) {
      margin-top: 63px;
    }
  }
  &__title {
    color: #4c4257;
    font-weight: 300;
    @media (max-width: $screen-xs-max) {
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 2.2px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      font-size: 22px;
      letter-spacing: 2px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 20px;
      letter-spacing: 2px;
    }
    @media (min-width: $screen-vl) {
      font-size: 28px;
      letter-spacing: 2.9px;
    }
  }

  &__content {
    @media (max-width: $screen-xs-max) {
      margin-top: 20px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-top: 27px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 30px;
    }
    @media (min-width: $screen-vl) {
      margin-top: 42px;
    }
  }

  &__row {

  }

  &__field-wr{
    width: 100%;
    position: relative;
    background-color: $CWhite;
    height: 50px;
    display: flex;
    align-items: center;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      height: 37px;
    }
    & + &{
      margin-top: 21px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        margin-top: 15px;
      }
    }
  }

  &__field-star{
    position: absolute;
    right: 23px;
    //top: 50%;
    display: inline-block;
    color: #efe037;
    font-size: 26px;
    letter-spacing: 2.08px;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 19px;
      right: 15px;
    }
  }

  &__field {
    width: 100%;
    border: 1px solid #e9e4ea;
    background-color: $CWhite;
    color: #9f93ac;
    font-weight: 300;
    display: flex;
    align-items: center;
    //xs-sm-md-vl
    height: 50px;
    padding: 0 24px;
    font-size: 16px;
    letter-spacing: 1.28px;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 11px;
      letter-spacing: 1.21px;
      padding: 0 15px;
      height: 37px;
    }
    & + &{
      margin-top: 21px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        margin-top: 15px;
      }
    }
    &._area {
      margin-top: 20px;
      height: 144px;
      resize: none;
      padding-top: 18px;
      padding-bottom: 18px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        height: 105px;
        padding-top: 13px;
        padding-bottom: 13px;
      }
    }
    .ordering-contacts &{
      padding-right: 50px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        padding-right: 36px;
      }
    }
  }

  &-radio {
    cursor: pointer;
    display: flex;
    align-items: center;
    & + & {
      margin-top: 30px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        margin-top: 20px;
      }
    }
    &__input {
      width: 0;
      height: 0;
      opacity: 0;
    }
    &__field {
      width: 40px;
      height: 20px;
      border-radius: 10px;
      background-color: #e4e0ea;
      position: relative;
      flex-shrink: 0;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        width: 30px;
        height: 16px;
        border-radius: 8px;
      }
      .ordering-block-radio__input:checked + & {
        background-color: #a38ebd;
      }

      &-circle {
        position: absolute;
        left: 2px;
        top: 2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $CWhite;
        transition: left .3s;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 12px;
          height: 12px;
        }
        .ordering-block-radio__input:checked + .ordering-block-radio__field > & {
          left: 22px;
          @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            left: 16px;
          }
        }
      }
    }
    &__text {
      vertical-align: middle;
      color: #c9c3d2;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 20px;
      //xs-sm=md-vl
      letter-spacing: 1.44px;
      font-size: 12px;
      margin-left: 18px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 8px;
        letter-spacing: 1px;
        margin-left: 10px;
      }
      .ordering-block-radio__input:checked ~ & {
        color: #6d5b83;
      }
    }
  }

  &-download {
    display: flex;
    align-items: center;
    &__input {
      width: 0;
      height: 0;
      opacity: 0;
    }
    &__field {
      padding: 0 28px;
      height: 50px;
      border-radius: 25px;
      border: 1px solid #e4e0ea;
      background-color: $CWhite;
      position: relative;
      @include flex-centered;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        padding: 0 18px;
        height: 37px;
      }
      &-svg {
        color: #a599b1;
        width: 15px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          width: 11px;
        }
      }
      &-text {
        margin-left: 14px;
        color: #9d90ab;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          margin-left: 10px;
          font-size: 8px;
          letter-spacing: 2.19px;
        }
      }
    }
  }
}

.ordering-contacts {
  @media (max-width: $screen-md-max) {
    width: 100%;
  }
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    width: 356px;
  }
  @media (min-width: $screen-vl) {
    width: 490px;
  }
  &__note {
    margin-top: 15px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.12px;
    color: #9d90ab;
    line-height: 24px;
    @media (max-width: $screen-xs-max) {
      margin-top: 20px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-top: 17px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 10px;
      letter-spacing: 1.1px;
      margin-top: 5px;
    }
  }

  &__star {
    color: #efe037;
    font-size: 26px;
    letter-spacing: 2.08px;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 19px;
    }
  }
}

.ordering-delivering, .ordering-paying {
  width: 100%;
}

.ordering-paying {
  
  &__content-wr {
    position: relative;
    @media (max-width: $screen-xs-max) {
        padding: 26px 0;
    }
    //height: 210px;
    //@media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    //  height: 200px;
    //}
  }
  &__content {
    width: 357px;
    display: none;
    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      width: 263px;
    }
    &._active {
      display: block;
    }
  }
  .ordering-block-download {
    margin-top: 16px;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 11px;
    }
  }
}

.ordering-list {
  width: 100%;
  background-color: $CWhite;
  padding: 41px 0;
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding: 30px 0;
  }

  &__header {
    padding-bottom: 4px;
    @media (min-width: $screen-sm) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__edit {
    color: #9785a8;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    transition: opacity 0.4s ease;
    @media (max-width: $screen-xs-max) {
      margin-top: 8px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 9px;
    }
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.4;
    }
  }

  &__items-wr {
    border-top: 1px solid rgba(#eef2f4, 0.5);
    border-bottom: 1px solid rgba(#eef2f4, 0.5);
  }

  &__items {
    position: relative;
    overflow: hidden;
    width: 100%;

    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      max-height: 322px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      max-height: 240px;
    }
    @media (min-width: $screen-vl) {
      max-height: 543px;
    }
  }

  &__item {
    display: flex;
    @media (max-width: $screen-xs-max) {
      padding: 29px 0;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      padding: 28px 37px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding: 15px 28px;
    }
    @media (min-width: $screen-vl) {
      padding: 28px 35px;
    }
    & + & {
      border-top: 1px solid rgba(#eef2f4, 0.5);
    }
    &-pic {
      @include flex-centered;
      @media (max-width: $screen-xs-max) {
        width: 80px;
        height: 104px;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        height: 104px;
        width: 120px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        width: 90px;
        height: 90px;
      }
      @media (min-width: $screen-vl) {
        width: 125px;
        height: 125px;
      }
      &-img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-data {
      flex: 100%;
      @media (max-width: $screen-xs-max) {
        margin-left: 11px;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        margin-left: 26px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        margin-left: 16px;
      }
      @media (min-width: $screen-vl) {
        margin-left: 35px;
      }
    }
    &-name {
      max-width: 230px;
      color: #60566b;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 1.8px;
      margin-bottom: 30px;
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.6px;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        margin-top: 10px;
        margin-bottom: 24px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        max-width: 210px;
        font-size: 13px;
        line-height: 18.98px;
        letter-spacing: 1.3px;
        margin-top: 8px;
        margin-bottom: 14px;
      }
    }
    &-count {
      color: #a18fb5;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 8px;
        line-height: 18.98px;
        letter-spacing: 3.29px;
      }
    }
    &-cost {
      color: #806f93;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.6px;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 11px;
        line-height: 21.9px;
        letter-spacing: 1.51px;
      }
    }
  }

  &__result {
    flex-wrap: nowrap;
    @media (max-width: $screen-xs-max) {
      margin-top: 19px;
      align-items: flex-start;
    }
    @media (min-width: $screen-sm) {
      padding: 0 35px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-top: 46px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 23px;
    }
    @media (min-width: $screen-vl) {
      margin-top: 39px;
    }
    &-title {
      &-big {
        color: #60566b;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 1.32px;
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {

        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          font-size: 16px;
          letter-spacing: 1.31px;
        }
      }
      &-small {
        margin-top: 13px;
        color: #bdb1cc;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.96px;
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
          margin-top: 5px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
          margin-top: 5px;
          font-size: 8px;
          letter-spacing: 0.88px;
        }
      }
    }

    &-value {
      color: #685181;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 1.32px;
      flex-shrink: 0;
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 16px;
        letter-spacing: 1.31px;
      }
    }
  }
}

.ordering-submit-block {
  margin-top: 29px;
  width: 100%;
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    margin-top: 15px;
  }

  &__acception {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #a9a2b0;
    letter-spacing: 0.48px;
    @media (min-width: $screen-sm) {
      padding: 0 35px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 9px;
      line-height: 13.14px;
    }

    &-link {
      color: #87808e;
      text-decoration: underline;
    }
  }
  &__submit {
    float: right;
    margin-top: 30px;
    padding: 0 32px;
    border-radius: 30px;
    background-color: #ffe34b;
    @include flex-centered;
    color: #665973;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    height: 60px;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      height: 44px;
      border-radius: 22px;
      padding: 0 25px;
      font-size: 13px;
      letter-spacing: 3.56px;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}
