.partners {
    margin: 50px 0;

    [class^=col-]:nth-child(2) ~ [class^=col-] {
        @media (max-width: $screen-xs-max) {
            margin-top: 20px;
        }
    }
    [class^=col-]:nth-child(3) ~ [class^=col-] {
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            margin-top: 20px;
        }
    }
}

.partners-item {
    //@include flex-centered;
    position: relative;
    height: 100px;
    @media (max-width: $screen-xs-max) {
        height: 50px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        height: 70px;
    }
    @include flex-centered;

    &__pic {
        position: absolute;
        height: 100%;
        opacity: 1;
        transition: opacity .4s ease;
        @include flex-centered;
        &:hover {
            opacity: 0.6;
        }

        &-img {
            max-width: 100%;
            max-height: 100% !important;
        }
    }
}