.section{
  &:first-child{
    @media (max-width: $screen-md-max) {
      padding-top: 60px;
    }
    @media (min-width: $screen-lg) {
      padding-top: 90px;
    }
  }
  & + &{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}