.c-order {
	padding: 39px 0 113px;
	overflow: hidden;

	@media(max-width: $screen-md-max) {
		padding: 30px 0 80px;
	}
	@media(max-width: $screen-sm-max) {
		padding: 30px 0 60px;
	}
	@media(max-width: $screen-xs-max) {
		padding: 44px 0 0;
	}
}

.order {
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media(max-width: $screen-sm-max) {
			flex-direction: column;
		}
	}

	&__data {
		width: 781px;
		padding-top: 26px;
		color: rgb(131, 144, 156);

		@media(max-width: $screen-md-max) {
			width: 521px;
			padding-top: 10px;
		}
		@media(max-width: $screen-sm-max) {
			width: 100%;
			padding-top: 0;
		}

		&-delivery-regions {
			display: none;
		}

		&-item {
			&:nth-child(n + 2) {
				margin-top: 69px;
				@media(max-width: $screen-xs-max) {
					margin-top: 71px;
				}
			}

			&-tabs {
				@media screen and (min-width: $screen-sm) {
					display: flex;
					flex-direction: row;
				}
			}

			&-map {
				margin-top: 30px;
				height: 181px;
				max-width: 400px;
				background: url('~images/delivery-main-map.jpg') no-repeat;
				background-size: cover;

				@media screen and (min-width: $screen-lg) {
					height: 358px;
					max-width: none;
				}
			}
			
			.input-label {
				width: 100%;
			}
			&_delivery {
				
				&-info {
					margin-top: 50px;
					@media(max-width: $screen-xs-max) {
						margin-top: 30px;
					}

					&-inputs {
						max-width: 521px;

						.form-group {
							&:nth-child(n + 2) {
								margin-top: 19px;
							}
						}
					}

					&-descr {
						margin-top: 23px;
						letter-spacing: 0;
						@media(max-width: $screen-xs-max) {
							margin-top: 21px;
						}
						p {
							font-size: 14px;
							line-height: 1.5;
							color: #81788b;
						}
					}

					&-link {
						display: inline-block;
						font-weight: 700;
						color: #83909c;
						font-size: 17px;
						margin-top: 22px;
						letter-spacing: 0.3px;
						text-decoration: underline;

						&:hover {
							text-decoration: none;
							color: #83909c - 15%;
						}
					}

					&-default {
						&.minimized {
							display: none;
						}
					}

					&-pickup {
						&.minimized {
							display: none;
						}

						p {
							font-size: 14px;
							line-height: 1.5;
							color: #81788b;
						}

						ul li {
							font-size: 14px;
							line-height: 1.5;
							color: #81788b;
						}
					}
				}
			}

			&_payment {
				&-info {
					margin-top: 25px;
				}

				&-content {
					display: none;
				}

				&-content._show {
					display: block;
				}
			}

			&-ttl {
				padding-bottom: 19px;
				border-bottom: 1px solid #e6e9eb;
				@media(max-width: $screen-xs-max) {
					border-bottom: none;
					position: relative;
					padding-bottom: 23px;

					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: -100vw;
						right: -100vw;
						height: 1px;
						background-color: #e6e9eb;
					}
				}
			}
			&-main {
				margin-top: 30px;
			}
			&-inputs {
				max-width: 521px;

				.form-group {
					&:nth-child(n + 2) {
						margin-top: 16px;
					}
				}
			}
			.delivery__main-item-notes {
				margin-top: 14px;
				letter-spacing: 0;
			}
			&-file {
				margin-top: 28px;

				&-label {
					input[type="file"] {
						width: 0;
						height: 0;
						visibility: hidden;
						position: absolute;
					}
				}

				&-btn {
					display: flex;
					align-items: center;

					@media(max-width: $screen-xs-max) {
						align-items: flex-start;
					}

					&:hover {
						.order__data-item-file-btn-txt {
						
						}
					}

					&-icon {
						display: flex;
						font-size: 18px;
						flex-shrink: 0;
						margin-right: 13px;
						
					}

					&-txt {
						text-transform: uppercase;
						text-decoration: underline;
						font-weight: 700;
						
						font-size: 12px;
						letter-spacing: 1.2;
						transition: color 0.3s ease;
					}
				}
			}
			&-radiobtns {
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				@media(max-width: $screen-xs-max) {
					flex-direction: row;
				}

				

				.radio-label,
				.form-checkbox._radio {
					margin-right: 31px;
					

					// &:nth-child(n + 2) {
					// 	@media(max-width: $screen-xs-max) {
					// 		margin-top: 20px;
					// 	}
					// }

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		

		

		&-town-toggle {
			width: 100%;
			margin-bottom: 20px;
			background-color: #ffffff;
			border: 3px solid #a38ebd;
			color: #a38ebd;
			height: 49px;
    	border-radius: 25px;
    	font-weight: 400;
    	line-height: 47px;
    	letter-spacing: 2px;
    	text-align: center;
			padding: 0 38px;
			font-weight: 700;
    	text-transform: uppercase;
    	max-width: 100%;
    	overflow: hidden;
    	-webkit-transition: all .3s ease;
    	-o-transition: all .3s ease;
    	transition: all .3s ease;

			&--active {
				background-color: #a38ebd;
				color: #fff;
			}

			@media screen and (min-width: $screen-sm) {
				min-width: 144px;
				width: auto;
				height: 41px;
				font-size: 10px;
				margin-right: 20px;
				line-height: 26px;
				padding: 0;
				border: 2px solid #a38ebd;
			}
		}
	}

	&__main {
		width: 571px;
		background-color: #f7f7f7;
		padding: 29px 46px 89px;

		@media(max-width: $screen-md-max) {
			width: 520px;
			padding: 25px 36px 60px;
		}
		@media(max-width: $screen-sm-max) {
			width: 100%;
			margin-top: 61px;
		}
		@media(max-width: $screen-vl-max) {
			padding: 34px 0 60px;
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100vw;
				background-color: #f7f7f7;
			}

			&:before {
				right: 100%;
			}

			&:after {
				left: 100%;
			}
		}

		&-top {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			&-ttl {
				padding-right: 20px;
				@media(max-width: $screen-vl-max) {
					padding-right: 0;
				}
			}

			&-link {
				
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
				text-decoration: underline;
				letter-spacing: 1.1px;
				margin-top: 21px;

				@media(max-width: $screen-md-max) {
					margin-top: 16px;
				}
				@media(max-width: $screen-sm-max) {
					margin-top: 12px;
				}
				@media(max-width: $screen-vl-max) {
					display: none;
				}

				&:hover {
					text-decoration: none;
					
				}
			}
		}

		&-items {
			margin-top: 49px;
			@media(max-width: $screen-md-max) {
				margin-top: 30px;
			}
		}

		&-item {
			background-color: #fff;
			padding: 22px 18px 18px;
			display: flex;

			@media(max-width: $screen-vl-max) {
				padding: 22px 0 13px;
				position: relative;

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					background-color: #fff;
					width: 100vw;
					z-index: 1;
				}

				&:before {
					right: 100%;
				}

				&:after {
					left: 100%;
				}
			}

			&:nth-child(n + 2) {
				margin-top: 8px;
			}

			&-img {
				width: 95px;
				height: 94px;
				flex-shrink: 0;
			}

			&-info {
				flex-grow: 1;
				margin-left: 21px;
				padding-top: 8px;
				display: flex;
				flex-direction: column;
				@media(max-width: $screen-vl-max) {
					padding-top: 0;
					margin-left: 25px;
				}

				&-top {
					

					.catalog-item__ttl-top {
						font-size: 14px;
						letter-spacing: 1.1px;
					}

					.catalog-item__ttl-bot {
						font-size: 20px;
						margin-top: 6px;
						letter-spacing: 0.2px;
						margin-left: 0;
					}
				}

				&-bot {
					display: flex;
					justify-content: space-between;
					color: #83909c;
					font-weight: 700;
					font-size: 18px;
					letter-spacing: 1px;
					margin-top: 22px;
					@media(max-width: $screen-vl-max) {
						margin-top: 14px;
						flex-wrap: wrap;
					}

					&-num {
						margin-right: 15px;
					}
				}
			}
		}

		&-sum {
			margin-top: 45px;

			@media(max-width: $screen-vl-max) {
				margin-top: 36px;
			}

			.basket__table-total-main-top {
				&:nth-child(n + 2) {
					margin-top: 26px;
					padding-top: 34px;
					border-top: 1px solid #e6e9eb;

					@media(max-width: $screen-xs-max) {
						border-top: none;
						margin-top: 29px;
						position: relative;

						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: -100vw;
							right: -100vw;
							height: 1px;
							background-color: #e6e9eb;
							z-index: 1;
						}
					}
				}
			}
		}

		&-policy {
			color: #83909c;
			margin-top: 41px;
			line-height: 1.3;

			@media(max-width: $screen-vl-max) {
				margin-top: 33px;
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
					color: #83909c - 15%;
				}
			}
		}

		&-btn {
			margin-top: 39px;

			.btn {
				width: 100%;
			}
		}
	}
}
