.c-delivery {
    color: #000;
    letter-spacing: 0;
    padding: 0 0 154px;
    overflow: hidden;
    @media(max-width: 1619px) {
        padding: 0 0 130px;
    }
    @media(max-width: $screen-sm-max) {
        padding: 0 0 110px;
    }
    @media(max-width: $screen-xs-max) {
        padding: 0 0 90px;
    }
    @media(max-width: $screen-xx-max) {
        padding: 0 0 75px;
    }
}

.delivery {
    &__main {
        display: flex;
        margin-top: 25px;
        @media(max-width: $screen-sm-max) {
            position: relative;
            flex-direction: column;
        }
        &-ttl {
            margin-bottom: 45px;
            @media(max-width: $screen-sm-max) {
                margin-bottom: 15px;
            }
        }

        &-rt {
            flex-grow: 1;

            @media(max-width: $screen-sm-max) {
                margin-top: 57px;
            }

            &-note {
                margin-top: 50px;
                padding-left: 36px;
                line-height: 1.35;
                position: relative;
                @media(max-width: $screen-xx-max) {
                    margin-top: 33px;
                }

                br {
                    @media(max-width: $screen-xx-max) {
                        display: none;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 3px;
                    width: 3px;
                    height: 49px;
                    background-color: #665973;
                }
            }

            &-info {
                font-size: 14px;
                line-height: 1.35;

                br {
                    @media(max-width: $screen-xx-max) {
                        display: none;
                    }
                }

                &:nth-child(n + 2) {
                    margin-top: 20px;
                }
            }
        }

        &-lt {
            width: 749px;
            flex-shrink: 0;
            margin-right: 46px;

            @media(max-width: 1619px) {
                width: 600px;
            }
            @media(max-width: $screen-sm-max) {
                margin-right: 0;
                width: 100%;
                position: relative;
                padding-bottom: 45px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: -100vw;
                    right: -100vw;
                    height: 1px;
                    background-color: rgba(131, 144, 156, 0.2);
                }
            }

            &-info {
                font-size: 14px;
                line-height: 1.43;
            }

            &-free {
                margin-top: 39px;
                padding-bottom: 41px;
                border-bottom: 1px solid rgba(131, 144, 156, 0.2);
                line-height: 1.35;

                @media(max-width: $screen-sm-max) {
                    margin-top: 43px;
                    padding-bottom: 47px;
                }

                &-ttl {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 800;
                }

                &-descr {
                    margin-top: 10px;
                }
            }

            &-items {
                margin-top: 42px;
                @media(max-width: $screen-sm-max) {
                    margin-top: 40px;
                }
            }
        }

        &-item {
            &:nth-child(n + 2) {
                margin-top: 37px;
                @media(max-width: $screen-sm-max) {
                    margin-top: 30px;
                }
            }
            br {
                @media(max-width: $screen-xx-max) {
                    // display: none;
                }
            }

            &-ttl {
                color: #665973;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1.2px;
                line-height: 1.7;
            }

            &-descr {
                margin-top: 14px;
                font-size: 14px;
                line-height: 1.35;
            }

            &-notes {
                margin-top: 20px;
                margin-bottom: 30px;
                line-height: 1.35;

                li {
                    position: relative;

                    &:nth-child(n + 2) {
                        margin-top: 10px;
                    }

                    &:before {
                        content: '* ';
                        font-family: sans-serif;
                        color: #665973;
                    }
                }
            }
        }

        &-map {
            margin-top: 30px;
            height: 181px;
            background: url('~images/delivery-main-map.jpg') no-repeat;
            background-size: cover;

            @media screen and (min-width: $screen-lg) {
                height: 350px;
            }
        }
    }
    &__payment {
        a {
            color: #665973;

            &:hover {
                color: #665973;
            }
        }

        .delivery__main-lt-info {
            br {
                @media(max-width: $screen-xx-max) {
                    display: none;
                }
            }
        }

        .delivery__main-rt-info {
            a {
                font-weight: 700;
            }
            &:nth-child(n + 2) {
                margin-top: 21px;
            }
        }
    }
}