.delivery {
  background-color: #f9fbfc;
  padding-top: 50px;
  padding-bottom: 34px;
}

.delivery__content {
  width: 100%;
}

.delivery__info-title {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 400;
  color: #4c4257;
}

.delivery__info-content {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #8f819d;
  & span {
    font-weight: 700;
  }
}

.delivery__content-attention {
  font-weight: 700;
  color: #8f819d;
}

.delivery__item-title {
  padding-bottom: 15px;
  margin-top: 45px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eeecf3;
  font-size: 28px;
  font-weight: 300;
  color: #4c4257;
}

.delivery__desc-title {
  margin-bottom: 15px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 700;
  color: #8f819d;
}

.delivery__desc {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
  color: #544d5b;
  &-black {
    font-weight: 700;
  }
  &-bold {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
  }
}

span.delivery__attention {
  font-weight: 700;
}