.c-faq {
    padding: 20px 0;
    overflow: hidden;
}

.faq {
    &__wrap {
        display: flex;
        align-items: flex-start;
        @media(max-width: $screen-xs-max) {
            flex-direction: column;
        }
    }

    &__nav {
        width: 311px;
        flex-shrink: 0;
        margin-right: 80px;
        background-color: #f7f7f7;
        padding: 0 26px;
        margin-top: 6px;

        @media(max-width: $screen-sm-max) {
            width: 260px;
            margin-right: 40px;
            margin-top: 0;
        }
        @media(max-width: $screen-xs-max) {
            display: none;
        }

        &-list {
            li {
                padding: 20px 15px;
                border-bottom: 2px solid #fff;

                &:last-child {
                    border-bottom: none;
                }

                &._active {
                    a {
                        color: #665973;
                    }
                }
            }
            a {
                display: inline-block;
                font-size: 14px;
                color: #83909c;
                letter-spacing: 1px;
                transition: color 0.4s ease;
                &._active,
                &:hover {
                    color: #665973;
                }
            }
        }
    }

    &__main {
        width: 851px;
        color: #000;
        max-width: 100%;

        @media(max-width: $screen-xs-max) {
            width: 100%;
        }

        &-item {
            &:nth-child(n + 2) {
                margin-top: 52px;
                @media(max-width: $screen-xs-max) {
                    margin-top: 64px;
                }
            }
            &-cont {
                margin-top: 20px;
            }
            &-descr {
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1px;
                line-height: 1.5;
            }
            &_bord {
                padding-bottom: 62px;
                border-bottom: 1px solid #e6e9eb;
                @media(max-width: $screen-xs-max) {
                    padding-bottom: 56px;
                    position: relative;
                    border: none;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: -100vw;
                        right: -100vw;
                        height: 1px;
                        background-color: #e6e9eb;
                    }
                }
            }
            &_help {
                &-item {
                    &:nth-child(n + 2) {
                        border-top: 1px solid #e6e9eb;
                        padding-top: 53px;
                        margin-top: 56px;
                        @media(max-width: $screen-xs-max) {
                            padding-top: 39px;
                            margin-top: 37px;
                            position: relative;
                            border: none;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: -100vw;
                                right: -100vw;
                                height: 1px;
                                background-color: #e6e9eb;
                            }
                        }
                    }
                }

                &-ttl {
                    color: #665973;
                    font-size: 28px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    margin-bottom: 9px;

                    @media(max-width: $screen-xs-max) {
                        font-size: 21px;
                        letter-spacing: 0;
                    }
                }

                &-video {
                    width: 100%;
                    height: 476px;

                    @media(max-width: $screen-sm-max) {
                        height: 350px;
                    }
                    @media(max-width: $screen-xs-max) {
                        height: 300px;
                    }
                    @media(max-width: $screen-xx-max) {
                        height: 161px;
                    }

                    &:nth-child(n + 2) {
                        margin-top: 25px;
                        @media(max-width: $screen-xs-max) {
                            margin-top: 27px;
                        }
                    }

                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &_instruction {
                &-items {
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .document-link {
                        @media(max-width: $screen-xx-max) {
                            align-items: flex-start;
                        }
                        &:nth-child(n + 2) {
                            margin-top: 22px;
                        }
                    }
                }
            }
            &_faq {
                &-collapse {
                    &-item {
                        padding-bottom: 20px;
                        @media(max-width: $screen-xs-max) {
                            position: relative;
                            border: none;

                            &:after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: -100vw;
                                right: -100vw;
                                height: 1px;
                                background-color: #e6e9eb;
                            }
                        }
                        &:nth-child(n + 2) {
                            margin-top: 20px;
                        }
                        &-btn {
                            display: flex;
                            color: #665973;
                            padding-right: 35px;
                            position: relative;

                            &:not(.collapsed) {
                                .faq__main-item_faq-collapse-item-btn-icon {
                                    border-color: #d9d9d9;
                                    top: -8px;
                                    transform: rotateZ(45deg) translateZ(0);
                                }

                                &:hover {
                                    .faq__main-item_faq-collapse-item-btn-icon {
                                        border-color: #d9d9d9 - 15%;
                                    }
                                }
                            }

                            &:hover {
                                color: #665973;

                                .faq__main-item_faq-collapse-item-btn-icon {
                                    border-color: #665973;
                                }
                            }

                            &-name {
                                font-size: 14px;
                                font-weight: 300;
                                letter-spacing: 1px;
                                margin-right: 20px;
                            }

                            &-icon {
                                position: absolute;
                                right: 6px;
                                top: -14px;
                                bottom: 0;
                                margin: auto;
                                width: 10px;
                                height: 10px;
                                border-top: 2px solid #665973;
                                border-left: 2px solid #665973;
                                transform: rotateZ(225deg) translateZ(0);
                                transition: transform 0.3s ease, border-color 0.3s ease, top 0.3s ease;
                            }
                        }
                        &-cont {
                            display: none;
                            &-inner {
                                margin-top: 30px;
                            }
                            &-card {
                                font-size: 14px;

                                &:nth-child(n + 2) {
                                    margin-top: 26px;
                                }

                                &-ttl {
                                    font-weight: 700;
                                    letter-spacing: 1px;
                                }
                                &-descr {
                                    font-size: 14px;
                                    font-weight: 300;
                                    letter-spacing: 1px;
                                    line-height: 1.5;
                                    margin-top: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.document-link {
    display: flex;
    align-items: center;
    color: #000;

    &:hover {
        opacity: 0.6;
    }

    span {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    &-icon {
        font-size: 18px;
        display: flex;
        flex-shrink: 0;
        margin-right: 16px;

        & .icon-svg {
            width: 20px;
            height: 20px;
        }
    }
}

.document-link {
    @media(max-width: $screen-xx-max) {
        align-items: flex-start;
    }
    &:nth-child(n + 2) {
        margin-top: 22px;
    }
}