.faq {
  background-color: #f9fbfc;
  padding-top: 50px;
  padding-bottom: 34px;

  &__inner [class^=col-] + [class^=col-] {
    margin-top: 20px;
  }

  &__item-title {
    position: relative;
    display: block;
    font-size: 20px;
    padding-top: 10px ;
    padding-bottom: 10px;
    font-weight: 400;
    color: #4c4257;
    border-bottom: 1px solid rgba(192, 175, 208, 0.2);

    .icon-svg {
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -4px;
      transform: rotate(90deg);
      width: 13px;
      height: 8px;
      fill: #c9b6db;
    }

    &:hover {
      .icon-svg {
        fill: #4c4257;
      }
    }
  }

  

  &__item-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    border-bottom: 1px solid rgba(192, 175, 208, 0.2);
  }

  &__item-subtitle {
    letter-spacing: 3.2px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    color: #3f3449;
  }

  &__item-content {
    font-size: 16px;
    line-height: 22.88px;
    letter-spacing: 0.3px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }


  &__item {
    &:first-child {

      .faq__item-inner {
        display: block;
      }
    }
  }


  @media screen and (min-width: $screen-md) {
    &__inner [class^=col-]+[class^=col-] {
      margin-top: 0px;
    }

    &__item-inner {
      padding-top: 30px;
    }
  }
}