.slick-next, .slick-prev {
  position: absolute;
  z-index: 1;
  top: 40%;
  display: none;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: opacity 0.4s ease;
  @media (min-width: 768px) {
    display: block;
  }
  & svg {
    width: 30px;
    height: 30px;
  }
  &:hover {
    opacity: 0.8;
  }
}

.slick-next {
  right: -60px;
  transform: rotate(90deg);
}

.slick-prev {
  left: -60px;
  transform: rotate(-90deg);
}