{% macro icon (params) %}
   <svg class="icon-svg icon-svg_s icon-svg_{% if params.dir %}{{ params.dir }}--{% endif %}s-{{ params.name }} {{ params.mod }}">
      <use xlink:href="/assets/images/sprite.svg#{% if params.dir %}{{ params.dir }}--{% endif %}s-{{ params.name }}"></use>
   </svg>
{% endmacro %}

{% macro icon_m (name) %}
   <svg class="icon-svg icon-svg_{{ name }}">
      <use xlink:href="/assets/images/sprite.svg#{{ name }}"></use>
   </svg>
{% endmacro %}
