.product-choose {

    @media screen and (max-width: $screen-md-max) {
        width: 100%;
    }
    @media screen and (min-width: $screen-lg) {
        width: 100%;
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background-color .3s ease;
        padding-top: 15px;
        padding-bottom: 15px;

        @media screen and (max-width: $screen-md-max) {
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100vw;
                transition: background-color .3s ease;
            }

            &::before {
                right: 100%;
            }

            &::after {
                left: 100%;
            }
        }

        &._active {
            background-color: #665973;
            &::before {
                background-color: #665973;
            }

            &::after {
                background-color: #665973;
            }

            .product-choose__item-name {
                color: #ffffff;
            }

            .product-choose__item-price {
                color: #ffffff;
            }

            .counter {
                background-color: #ffffff;
            }
        }
    }

    &__item-lt {
        display: flex;
        align-items: center;

        @media screen and (min-width: $screen-lg) {
            width: 60%;
        }

        .counter {
            width: 117px;
            height: 42px;
            @media screen and (min-width: $screen-lg) {
                margin-left: auto;
            }
        }
    }

    &__item-name {
        min-width: 50px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-right: 15px;
        color: #665973;
    }

    &__item-price {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #665973;
    }

    &__total {
        &-desc {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #665973;
        }

        &-price {
            font-size: 16px;
            font-weight: 500;
            color: #665973;
        }


        @media screen and (max-width: $screen-md-max) {
            width: 100%;
        }
        padding: 32px 0 22px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: $screen-lg) {
            width: 100%;
        }
    }
}