.product-info{
  &__nav{
    display: flex;
    justify-content: flex-start;
    &-tab{
      & + &{
        margin-left: 60px;
      }
    }
    &-tab-link{
      display: inline-block;
      height: 52px;
      border: 2px solid transparent;
      padding: 0 8px;
      font-size: 16px;
      color: #9887ad;
      letter-spacing: 1px;
      box-sizing: border-box;
      @include flex-centered;
      .product-info__nav-tab.slick-active &{
        @media (max-width: $screen-xs-max) {
          border-top-color: #917fa3;
        }
      }
      .product-info__nav-tab:hover &,.product-info__nav-tab.active &{
        @media (min-width: $screen-sm) {
          border-top-color: #917fa3;
        }
      }
    }
  }
  &__articles{
    @media (max-width: $screen-xs-max) {
      margin-top: 40px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-top: 50px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 60px;
    }
    @media (min-width: $screen-vl) {
      margin-top: 87px;
    }
    &-pane{
      display: none;
      justify-content: flex-start;
      flex-wrap: wrap;
      @include gutters(10);
      &.active{
        display: flex;
      }
    }
    &-column{
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      @media (max-width: $screen-md-max) {
        width: 100%;
      }
      @media (min-width: $screen-lg) {
        width: 50%;
      }
    }
    &-title{
      max-width: 90%;
      color: #60566b;
      line-height: 26px;
      letter-spacing: 2px;
      margin-bottom: 30px;
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        font-size: 18px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 16px;
      }
      @media (min-width: $screen-vl) {
        font-size: 20px;
      }
    }
    &-content{
      max-width: 90%;
      color: #898796 !important;
      font-weight: 300 !important;
      letter-spacing: 0.18px !important;
      line-height: 29px !important;
      @media (max-width: $screen-xs-max) {
        font-size: 16px !important;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-lg-max) {
        font-size: 14px !important;
      }
      @media (min-width: $screen-vl) {
        font-size: 18px !important;
      }
    }
  }
}