@include slct2;

.product-main {
    background-color: #f9fbfc;
    padding-bottom: 40px;
    @media (min-width: 768px){
        padding-top: 20px;
    }

    & .counter__button {
        padding: 0 5px;
    }

    & .counter__value {
        margin: 0 13px;
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        & .product-main__title {
            margin-top: 0;
        }

        & .product-main__data {
            display:none;
            width: auto;
            margin-top: 0;
            @media (min-width: 576px) {
                display: block;
            }
            @media (min-width: 1120px) {
                display: none;
            }
        }
    }


    &__download {
        @media (min-width: 768px) {
            display: inline-flex;
            width: 49%;
        }
    }

    &-carousel-pictures {
        margin-top: 36px;
        @include carousel-base;
        &__slide {
            outline: none;
            width: 100%;
            &-inner {
                height: auto;
                @include flex-centered;
            }

            &-img {
                display: inline-block;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__pictures {
        display: flex;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            padding-top: 13px;
        }
        &-content {
            @include flex-centered;
            max-width: 410px;
            margin: 0 auto;
            @media (min-width: $screen-sm) {
                max-width: 300px;
                padding: 0;
            }
        }
    }

    &__panel {
        display: flex;
        flex-flow: column nowrap;
        &-link {
            position: relative;
            display: inline-block;
            width: 110px;
            height: 110px;
            border-radius: 10px;
            background-color: $CWhite;
            overflow: hidden;
            box-shadow: 0 0 16px rgba(134, 121, 147, .11);
            transition: opacity 0.4s ease;
            @include flex-centered;
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                width: 77px;
                height: 77px;
            }
            &:hover {
                opacity: 0.6;
            }
            & + & {
                @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                    margin-top: 13px;
                }
                margin-top: 21px;
            }
            &-img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &-video-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(64, 56, 77, 0.75);
            @include flex-centered;
        }
    }

    &__title {
        margin-top: 15px;
        color: #4c4257;
        font-weight: 200;
        line-height: 1.2;
        @media (max-width: $screen-xs-max) {
            font-size: 22px;
        }
        @media (min-width: $screen-sm) {
            font-size: 30px;
            max-width: 75%;
        }
        @media (min-width: $screen-lg) {
            max-width: 520px;
            margin-top: 0;
            font-size: 37px;
        }
        @media (min-width: $screen-vl) {
            max-width: 520px;
            font-size: 37px;
        }
    }

    &__content {
        margin-top: 20px;
        &-row {
            display: flex;
            justify-content: space-between;
            @media (max-width: $screen-md-max) {
                flex-direction: column;
            }
            @media (min-width: $screen-sm) {
                align-items: flex-start;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                width: 100%;
            }
            @media (min-width: $screen-lg) {
                width: 80%;
                flex-direction: column;
                max-width: 480px;
            }
            @media (min-width: $screen-vl) {
                width: 77%;
            }
        }
    }

    &-select {
        width: 280px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            width: 160px;
        }

        .select2-container {
            width: 250px !important;
            height: 100%;
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                width: 200px !important;
            }
            .select2-selection {
                &._cont {
                    border-radius: 25px;
                    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                        border-radius: 17px;
                    }
                }
            }
        }
    }

    &__data {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        position: relative;

        @media (min-width: 576px) {
            display: none;
        }

        @media (min-width: 1120px) {
            display: flex;
            align-items: center;
            padding-bottom: 15px;
            position: relative;
        }

        @media screen and (max-width: $screen-md-max) {
            width: 100%;
        }

        @media (max-width: $screen-xs-max) {
            margin-top: 15px;
        }
        @media (min-width: $screen-sm) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @media screen and (min-width: $screen-lg) {
            margin-left: 0;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &-counter {
            height: 50px;
            border-radius: 25px;

            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                height: 35px;
                border-radius: 17px;
            }
        }
        &-button {
            @include flex-centered;
            margin-left: auto;
            height: 50px;
            padding: 0 25px;
            border-radius: 25px;
            background-color: #ffe34b;
            color: #665973;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 1px;

            @media (min-width: $screen-lg) {
                padding: 0 15px;
                width: 100%;
                height: 50px;
                font-size: 14px;
            }

            &-icon {
                color: #665973;
                margin-left: 13px;
                @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                    width: 15px;
                    margin-left: 9px;
                }
            }
        }
    }

    &__download {
        width: 100%;
        & + & {
            margin-top: 15px;
        }
    }
}

.select2-dropdown._drop._paints {
    border-radius: 0 0 25px 25px;
}

.product-main-select-option {
    padding: 10px 65px 10px 22px;
    min-height: 41px;
    display: flex;
    align-items: center;
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        min-height: 35px;
        padding: 3px 40px 3px 17px;
    }

    &__size {
        display: block;
        width: 42%;
        color: #7d6a92;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        padding-right: 30px;
        text-align: right;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            font-size: 10px;
            padding-right: 15px;
        }
    }
    &__price {
        flex-grow: 1;
        color: #75628b;
        font-size: 16px;
        letter-spacing: 1px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            font-size: 12px;
        }
    }

    .selection__angle {
        right: 28px;
        color: #665973;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            width: 8px;
            right: 15px;
        }
    }
}