{% set offers = [
    {
        title: 'При заказе 20 банок краски, аксессуары - в подарок',
        content: 'Скидка действует до 1 сентября',
        bgcolor: 'purple'
    }, {
        title: 'Скидка 15% всем учебным заведениям',
        content: 'Скидка действует до 1 сентября',
        bgcolor: 'green'
    }, {
        title: 'Третья банка краски в подарок!',
        content: 'Акция действует только при покупки через интернет-магазин',
        bgcolor: 'yellow'
    }, {
        title: 'При заказе 20 банок краски, аксессуары - в подарок',
        content: 'Скидка действует до 1 сентября',
        bgcolor: 'blue'
    }, {
        title: 'При заказе 20 банок краски, аксессуары - в подарок',
        content: 'Скидка действует до 1 сентября',
        bgcolor: 'red'
    }, {
        title: 'При заказе 20 банок краски, аксессуары - в подарок',
        content: 'Скидка действует до 1 сентября',
        bgcolor: 'green'
    }
] %}

<div class="js-carousel-offers carousel-offers">
    {% for offer in offers %}
        <div class="carousel-offers__slide-wr">
            <div class="carousel-offers__slide _{{ offer.bgcolor }}">
                <div class="carousel-offers__slide-label _{{ offer.bgcolor }}">
                    <span class="carousel-offers__slide-label-text ">Акция</span>
                </div>
                <a href="#">
                    <div class="carousel-offers__slide-inner">
                        <h2 class="carousel-offers__slide-title">{{ offer.title }}</h2>
                        <p class="carousel-offers__slide-content">{{ offer.content }}</p>
                     </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>