<div class="js-carousel-posts carousel-posts">
    {% for post in ['1','2','3','1','2','3','1'] %}
        <div class="carousel-posts__slide">
            <div class="carousel-posts-slide">
                <div class="carousel-posts-slide__hover">
                    <h3 class="carousel-posts-slide__hover-title">Наша жизнь</h3>
                    <div class="carousel-posts-slide__hover-info">@marker_paint</div>
                    <button class="carousel-posts-slide__hover-button button _yellow">подписаться</button>
                </div>
                <img class="carousel-posts-slide__img" data-lazy="/assets/images/carousel/posts/{{ post }}.jpg">
            </div>
        </div>
    {% endfor %}
</div>