@mixin slct2 {
  .select2-container {
    width: 250px !important;
    //height: 41px !important;
    box-sizing: border-box;
    transition: 0.4s ease;
    &:hover {
      box-shadow: 0 0 16px rgba(134, 121, 147, 0.11);
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      width: 200px !important;
      //height: 35px !important;
    }
    .select2-selection {
      box-sizing: border-box;
      &._cont {
        position: relative;
        outline: none;
        height: 100%;
        width: 100%;
        border-width: 0;
        display: flex;
        align-items: center;
        transition: 0.4s ease;
        &:hover {
          box-shadow: 0 0 16px rgba(134, 121, 147, 0.11);
        }
      }
      &__rendered {
        height: 100%;
        padding: 0 !important;
        width: 100% !important;
      }

      &__arrow {
        //right: 29px !important;
        //top: 50% !important;
        //margin-top: -8px !important;

        b {
          display: none;
        }
      }
    }

    .select2-dropdown._drop {
      width: 100%;
      overflow: hidden;
      box-shadow: 0 0 16px rgba(134, 121, 147, 0.11);
      border-width: 0;
      .select2-results__options {
        overflow: hidden;
      }
      .select2-results__option {
        width: 100%;
        padding: 0 !important;
        &[aria-selected=true],&--highlighted{
          background-color: #ffe34b;
        }
      }
    }

    .selection__angle {
      position: absolute;
      @include rotateX(180deg);
      transition: transform .3s;
    }

    &.select2-container--open{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.select2-container--open .selection__angle {
      @include rotateX(0);
    }

    //.product-main-select-option__angle {
    //  color: red;
    //}
  }
};