<div class="c-product" {% if (item.params is empty) %}data-param_cost="{{item.price}}"{% endif %}>
    <div class="c-product__main">
        {% if item.label=='акция' %}
            <div class="c-product__label _yellow">
                <span>{{ item.label }}</span>
            </div>
        {% elseif item.label=='скидка' %}
            <div class="c-product__label _green">
                <span>{{ item.label }}</span>
            </div>
        {% elseif item.label=='новинка' %}
            <div class="c-product__label _red">
                <span>{{ item.label }}</span>
            </div>
        {% endif %}
        <div class="c-product__size">
            <label class="c-product__size-input radio radio__field--active" data-param_cost="100" data-square="Проверка1">
                <input type="radio" class="radio__input" name="c-product-size-{{ i }}" checked>
                <span class="radio__field">
                    <span>{{param.name}}</span>
                </span>
            </label>
            <label class="c-product__size-input radio" data-param_cost="200" data-square="Проверка2">
                <input type="radio" class="radio__input" name="c-product-size-{{ i }}">
                <span class="radio__field">
                    <span>1л</span>
                </span>
            </label>
            <label class="c-product__size-input radio" data-param_cost="300" data-square="Проверка3">
                <input type="radio" class="radio__input" name="c-product-size-{{ i }}">
                <span class="radio__field">
                    <span>2л</span>
                </span>
            </label>
        </div>
        <a href="/product.html" class="c-product__pic">
            <img src="assets/images/paints/{{ item.pic }}.png" alt="" class="c-product__pic-img">
        </a>
        <a href="/product.html" class="c-product__name">{{ item.name }}</a>
        <a href="/product.html" class="c-product__info">{{ item.info }}</a>
    </div>
    <div class="js-product-count-wr c-product__panel">
        <div class="c-product__panel-price">
            <span class="c-product__panel-price-sum">107 770</span>  <span class="currency">₽</span>
        </div>
        {% include '../counter.twig' with {value: '1', border: 'side', mod: 'c-product__panel-counter'} %}
        <button class="js-product-buy c-product__panel-buy">
            {{ svg.icon({name: 'cart', mod: 'c-product__panel-buy-svg'}) }}
        </button>
    </div>
</div>
