<div class="footer">
    <div class="footer__social">
        <div class="container">
            <div class="footer-social row">
                {% for icon in ['vk','fb','ig'] %}
                    <a class="footer-social__link col-xs-3 col-sm-3 col-md-3 col-lg-3 col-vl-3" href="#" target="_blank">
                        {{ svg.icon({name: icon, mod: 'footer-social__svg'}) }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__links row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-vl-3">
                <div class="footer-links">
                    <h3 class="footer-links__title">
                        О бренде
                    </h3>
                    <div class="footer-links__content">
                        <a href="" class="footer-links__link">Почему Marker Paint?</a>
                        <a href="" class="footer-links__link">Где купить?</a>
                        <a href="/about.html" class="footer-links__link">О нас</a>
                        <a href="" class="footer-links__link">История бренда</a>
                        <a href="" class="footer-links__link">Мероприятия</a>
                        <a href="/contacts.html" class="footer-links__link">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-vl-3">
                <div class="footer-links">
                    <h3 class="footer-links__title">
                        Каталог
                    </h3>
                    <div class="footer-links__content">
                        <a href="" class="footer-links__link">Маркерные краски</a>
                        <a href="" class="footer-links__link">Магнитные краски</a>
                        <a href="" class="footer-links__link">Грифельные краски</a>
                        <a href="" class="footer-links__link">Аксессуары</a>
                        <a href="" class="footer-links__link">Кисти</a>
                        <a href="" class="footer-links__link">Грунт и шпаклевка</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-vl-3">
                <div class="footer-links">
                    <h3 class="footer-links__title">
                        Клиентам
                    </h3>
                    <div class="footer-links__content">
                        <a href="" class="footer-links__link">Вопросы и ответы</a>
                        <a href="" class="footer-links__link">Помощь</a>
                        <a href="" class="footer-links__link">Отзывы</a>
                        <a href="" class="footer-links__link">Мнение экспертов</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-vl-3">
                <div class="footer-contacts">
                    <div class="footer-contacts__phone">
                        <div class="footer-contacts__phone-title">Другие регионы</div>
                        <a href="tel:+78003333930" class="footer-contacts__phone-link">8-800-333-39-30</a>
                    </div>
                    <div class="footer-contacts__phone">
                        <div class="footer-contacts__phone-title">Москва</div>
                        <a href="tel:+74952301013" class="footer-contacts__phone-link">+7 (495) 230-10-13</a>
                    </div>
                    <div class="footer-contacts__phone">
                        <div class="footer-contacts__phone-title">Другие регионы</div>
                        <a href="tel:+78003333930" class="footer-contacts__phone-link">8-800-333-39-30</a>
                    </div>
                    <p class="footer-contacts__requisites">
                        <span class="footer-contacts__requisites-upper">ООО&nbsp;«Маркер Пэинт»</span><br> ИНН&nbsp;5404468918
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__info-wr">
        <div class="footer__info container-sm">
            <div class="footer-info">
                <div class="container-xs">
                    <div class="footer-info__copyright">
                        <a href="" class="footer-info__copyright-logo">
                            {{ svg.icon({name: 'mp_small', mod: 'footer-info__copyright-logo'}) }}
                        </a>
                        <span class="footer-info__copyright-text">© 2019 ООО «Маркер Пэинт» Все права защищены. <a href="" class="footer-info__agreement-link">Политика конфиденциальности</a>
                            <a href="" class="footer-info__agreement-link">Оферта</a>
                        </span>
                    </div>
                </div>
                <div class="footer-info__design container-xs">
                    <span class="footer-info__design-text">Дизайн и разработка сайта  — </span>
                    <a href="" class="footer-info__design-link">
                        {{ svg.icon({name: 'kr_small', mod: 'footer-info__design-link-logo'}) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
