<div class="navbar _light">
    <div class="container-lg">
        <div class="navbar__inner-wr">
            <div class="navbar__inner">
                <div id="navbarMenu" class="navbar__menu-wr collapse">
                    <div class="navbar__menu">
                        <div class="navbar__menu-nav">
                            <ul class="navbar-nav">
                                {% for item in all.mainMenu %}
                                    <li class="navbar-nav__item-wr {% if item.mod %}navbar-nav__item-wr_{{ item.mod }}{% endif %}">
                                        <div class="navbar-nav__item">
                                            <a {% if item.page %}data-page="{{ item.page }}"{% endif %}
                                               href="{{ item.target | default(item.link) }}"
                                               class="{{ item.js | default('') }} navbar-nav__link"{% if item.submenuId and item.submenu and item.noclick %} aria-expanded="false" data-toggle="dropdown"
                                               data-target="#{{ item.submenuId }}NavbarSubmenu"{% endif %}>
                                                <span>{{ item.title }}</span>
                                                {% if item.submenuId and item.submenu %}
                                                    {{ svg.icon({'name': 'angle_right', mod: 'navbar-nav__link-svg'}) }}
                                                {% endif %}
                                            </a>
                                            {% if item.submenuId and item.submenu %}
                                                <ul id="{{ item.submenuId }}NavbarSubmenu" class="navbar-nav__submenu collapse">
                                                    {% for subitem in item.submenu %}
                                                        <li class="navbar-nav__submenu-item {{ subitem.class }}">
                                                            <a {% if subitem.page %}data-page="{{ subitem.page }}"{% endif %}
                                                               href="{{ subitem.target | default(subitem.link) }}"
                                                               class="{{ subitem.js | default('') }} navbar-nav__sublink">
                                                                <span>{{ subitem.title }}</span>
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="/" class="navbar__logo">
                    {{ svg.icon({name: 'mp_small', mod: 'navbar__logo-icon hidden-lg hidden-vl hidden-fh'}) }}
                    {{ svg.icon({name: 'mp_big', mod: 'navbar__logo-icon hidden-xs hidden-sm hidden-md'}) }}
                </a>
                <div class="navbar__content">
                    <div class="navbar__cart-wr">
                        <a href="/cart.html" class="navbar__cart">
                            <span class="navbar__cart-icon">
                                {{ svg.icon({name: 'cart', mod: 'navbar__cart-svg'}) }}
                            </span>
                            <span class="navbar__cart-text">1 398 98 Р</span>
                        </a>
                    </div>
                    <div class="navbar__phone-wr center-m">
                        <div class="navbar__phone">
                            <a href="tel:+70000000000">{{ svg.icon({name: 'handset', mod: 'navbar__phone-icon'}) }}</a>
                            <div class="hidden-xs">
                                <a href="tel:+70000000000" class="navbar__phone-number">8 800 333 39 30</a>
                                <button data-target="#modalCallback" class="navbar__phone-text js-modal-toggle">Обратный звонок</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar__toggle">
                    <button class="js-navbar-toggle navbar-toggle" aria-expanded="false" data-toggle="collapse"
                            data-target="#navbarMenu">
                       <span class="navbar-toggle__inner">
                          <span class="navbar-toggle__sep"></span>
                          <span class="navbar-toggle__sep"></span>
                          <span class="navbar-toggle__sep"></span>
                       </span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
