.title {
    font-weight: 300;
    font-size: 26px;
    line-height: 34px;
    color: #4c4257;
    @media screen and (min-width: $screen-md) {
      font-size: 58px;
      line-height: 68px;
      margin-bottom: 40px;
    }
}