.projects {
    margin-bottom: 20px;
    background-color: #f9fbfc;
    @media (min-width: 768px) {
        margin-bottom: 40px;
        padding-top: 40px;
    }

    & .container:first-of-type {
        margin-bottom: 40px;
    }

    &__sub-text {
        display: none;
        width: 100%;
        margin-bottom: 10px;
        @media (min-width: 768px) {
            display: block;
            margin-bottom: 30px;
        }
        & a {
            color: #8a8291;
            transition: color 0.4s ease;
            &:hover {
                color: #c0b8c7;
            }
        }
    }

    & + .section {
        margin-bottom: 40px;
    }

    & .catalog-list__title {
        border: none;
        margin-bottom: 40px;
    }

    & .catalog-list__title-info {
        padding: 0;
        border: none;
    }

    & .catalog-list__sub-menu-item {
        margin-right: 25px;
        font-size: 16px;

        &:last-of-type {
            margin-right: 0;
        }

        &--projects {
            margin-right: 30px;

            & a {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            & p {
                margin-left: 5px;
            }

            @media (min-width: 1120px) {
                margin-left: auto;
            }
        }

        &--insta {

            & a {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            & p {
                margin-left: 5px;
            }

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    & .catalog-list__sub-menu-list {
        justify-content: flex-start;
    }

    & .footer-links__link {
        font-size: 16px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        @media (min-width: 768px) {
            & .projects__item-inner {
                padding: 0;
                margin-bottom: 20px;
                background-color: transparent;
            }
        }
    }
    &__title {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 400;
        color: #4c4257;
        @media (min-width: 768px) {
            font-size: 58px;
        }
    }

    &__item {
        max-width: 300px;
        margin: 0 auto 20px;
        box-shadow: 0 0 16px rgba(134,121,147,.11);
        @media(max-width: $screen-lg) {
            padding: 0;
        }

        @media(min-width: 768px) {
            width: 100%;
        }

        @media(min-width: 1120px) {
            width: 50%;
        }
    }

    &__item-img {
        width: 300px;
        height: 214px;
        overflow: hidden;
        cursor: pointer;

        img {
            transition: all 0.4s linear;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -10%) translateZ(0);
            object-fit: cover;
        }
    }

    &__item-inner {
        display: block;
        width: 100%;
        background-color: transparent;
        @media (min-width: 768px) {
            display: block;
            padding: 26px 22px 22px;
            background-color: #ffffff;
        }
    }

    &__item-date {
        display: block;
        margin-top: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        color: #a786c8;
        line-height: 1.2;
        margin-bottom: 10px;
        @media (min-width: 768px) {
            margin-bottom: 30px;
        }
    }

    &__item-title {
        height: 45px;
        color: #61566c;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 10px;
        @media (min-width: 768px) {
            margin-bottom: 30px;
        }
    }

    &__item-link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        letter-spacing: 2px;
        min-width: 147px;
        min-height: 45px;
        color: #a499ae;
        border: 1px solid #a499ae;
        border-radius: 23px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.4s linear;

        &:hover {
            background-color: #a499ae;
            color: #ffffff;
        }

        &:active {
            background-color: #69597d;
            color: #ffffff;
            border-color: #69597d;
            opacity: 0.6;
        }
    }
    @media screen and (min-width: $screen-sm) {
        &__title {
            max-width: none;
            margin-bottom: 25px;
        }

        &__item {
            max-width: none;
            display: flex;
            flex-direction: row-reverse;
        }

        &__item-inner {
            padding: 31px 32px 31px;
            flex: 0 0 50%;
            height: auto;
        }

        &__item-img {
            flex: 0 0 50%;
            height: auto;
            width: 50%;
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
    }

    @media screen and (min-width: $screen-lg) {
        &__list {
            display: flex;
            flex-wrap: wrap;

        }

        &__item {
            margin: 0 0 20px;
        }
    }

    @media screen and (min-width: 1580px) {
        &__item {
            min-height: 325px;
        }
    }
}