*,
*:before,
*:after {
    box-sizing: border-box;
}

/* ---------------------------------Typography------------------------------------ */

html,
body {
    font-family: $FDefault;
    line-height: $BLine-height;
    font-size: $BFont-size;
    color: $BFont-color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 1px;
}

strong {
    //font-family: $FLatoB;
}

/* ---------------------------------Links------------------------------------ */

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

/* ---------------------------------Button------------------------------------ */

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

button:focus {
    outline: none;
}

/* ---------------------------------html body------------------------------------ */

html,
body {
    height: 95%;
}

body {
    position: relative;
}

/* ---------------------------------Img------------------------------------ */

img {
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;

}

/* ---------------------------------Paragraph------------------------------------ */

p {
    margin: 0;
}

/* ---------------------------------Input------------------------------------ */

input:focus {
    outline: none;
}

/* ---------------------------------Textarea------------------------------------ */

textarea:focus {
    outline: none;
}

/* ---------------------------------List------------------------------------ */

ul,
ol {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

/* ---------------------------------Disable video controls on ios------------------------------------ */

video {
    display: none !important;
    -webkit-appearance: none
}

/* ---------------------------------button------------------------------------ */

.button {
    @include flex-centered;

    box-sizing: border-box;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border-radius: 23px;
    height: 45px;
    padding: 0 25px;
    min-width: 132px;
    transition: all 0.4s ease;

    & + & {
        @media (max-width: $screen-xs-max) {
            margin-top: 20px;
        }
        @media (min-width: $screen-sm) {
            margin-left: 11px;
        }
    }

    &._purple {
        background-color: #665973;
        color: $CWhite;
    }
    &._white {
        border: 1px solid #a499ae;
        color: #6b5e77;
        opacity: 0.97;
        background-color: transparent;
        &:hover, &:active {
            border-color: #fad615;
            background-color: transparent;
        }
    }
    &._yellow {
        background-color: #ffe34b;
        color: #554b5f;
        &:hover, &:active {
            color: #9f77c7;
            & .button__icon {
                color: #9f77c7;
            }
        }
    }
    &:hover, &:active {
        background-color: #ffe34b;
        color: #554b5f;
    }
}

/* ---------------------------------radio------------------------------------ */

.radio {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    &__input {
        width: 0;
        height: 0;
        opacity: 0;
    }
    &__field {
        @include promo-small;
        height: 100%;
        width: 100%;
        background-color: $CWhite;
        border: 2px solid $CWhite;
        border-radius: 50%;
        text-align: center;
        @include flex-centered;
    }

    &__input:checked ~ &__field {
        border-color: #917fa3;
        color: #9485a6;
    }

    &:hover &__field {
        box-shadow: 0 0 16px rgba(134, 121, 147, 0.11);
    }
}

/* ---------------------------------fsb------------------------------------ */

.fsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* ---------------------------------download------------------------------------ */

.download {
    display: flex;
    align-items: center;
    &__svg {
        color: #75628b;
        width: 25px;
        height: 22px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            height: 11px;
        }
    }
    &__text {
        color: #9485a6;
        margin-left: 17px;
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &:hover &__text {
        color: #69597d;
    }
}

.h2, h2 {
    font-size: 30px;
    color: #665973;
    font-weight: 400;
    letter-spacing: 1px;
}

.eye__svg {
    width: 25px;
    height: 22px;
    color: #75628b;
}
