/* ---------------------------------Hide------------------------------------ */
.hidden {
  display: none !important;
}

/* ---------------------------------PageBuffer------------------------------------ */

//.page-buffer {
//  &__end {
//    margin-top: 35px;
//    @media(min-width: $screen-md) {
//      margin-top: 50px;
//    }
//
//    @media(min-width: $screen-lg) {
//      margin-top: 80px;
//    }
//  }
//}

/* ---------------------------------Page wrapper------------------------------------ */

.page-wrapper {
  overflow-x: hidden;
}

/* ---------------------------------Page-helper------------------------------------ */

.page-helper {
  min-height: 0.1px;
}

/* ---------------------------------Page footer------------------------------------ */

.page-footer {
  //padding-top: 20px;
}

@media (min-width: $screen-md) {
  .page-footer {
    //padding-top: 40px;
  }
}

/* ---------------------------------Static Footer------------------------------------ */

@media (min-width: $screen-sm-min) {
  .page-wrapper {
    min-height: 100%;
  }
  //@include staticFooter(40px);
}

/* ---------------------------------component------------------------------------ */

.breadscrumb-wr{
  @media (max-width: $screen-xs-max) {
    padding: 25px 0;
  }
  @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    padding: 27px 0;
  }
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    padding: 19px 0;
  }
  @media (min-width: $screen-vl) {
    padding: 30px 0;
  }
  &__helper {
    background-color: #f9fbfc;
    @media (max-width: $screen-xs-max) {
      padding: 75px 0 0;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      padding: 27px 0;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding: 100px 0 10px;
    }
    @media (min-width: $screen-vl) {
      padding: 130px 0 20px;
    }
  }
}