////Fonts
@import "./mixins/font-face";

@include font-face(Montserrat, '~fonts/montserrat/montserrat-extralight-webfont' , 200, normal, ttf woff2 woff);
@include font-face(Montserrat, '~fonts/montserrat/montserrat-light-webfont' , 300, normal, ttf woff2 woff);
@include font-face(Montserrat, '~fonts/montserrat/montserrat-regular-webfont' , 400, normal, ttf woff2 woff);
@include font-face(Montserrat, '~fonts/montserrat/montserrat-medium-webfont' , 500, normal, ttf woff2 woff);
@include font-face(Montserrat, '~fonts/montserrat/montserrat-semibold-webfont' , 600, normal, ttf woff2 woff);

$BFont-size: 13px;
$BLine-height: 1.2;
$BFont-color: #000000;
$TnsDefault: all ease-out 300ms;
$TnsD_Default: 300ms;

$FMontserrat: 'Montserrat';

$FBase:             $FMontserrat, Arial, sans-serif;
//$FBebasNeueRegular: 'BebasNeue Regular';

// USED FONTS
// ------------------------------------
$FDefault:              $FBase;


//USED COLORS
$CWhite: #ffffff;
//$CBlack: #000000;
//$CBlue: #007EE1;
