@include slct2;

.catalog-list {
    margin-top: 27px;
    &__title {
        border: 1px solid #f0ebf5;
        background-color: #f9fbfc;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            height: auto;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            height: 39px;
        }
        @media (min-width: $screen-vl) {
            height: 55px;
        }
        &-info {
            border-right: 1px solid #f0ebf5;
            padding: 0 10px;
            color: #696171;
            letter-spacing: 2px;
            @media (max-width: $screen-xs-max) {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
            }
            @media (min-width: $screen-sm) {
                display: flex;
                align-items: center;
                flex-grow: 1;
                height: 100%;
            }
        }

        &-filter {
            height: 100%;
            background-color: #f9fbfc;
            transition: all 0.4s ease;
            &:hover {
                box-shadow: 0 0 16px rgba(134, 121, 147, 0.11);
            }
            @include flex-centered;
            @media (max-width: $screen-xs-max) {
                width: 100%;
                height: 44px;
                border-top: 1px solid #f0ebf5;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                width: 30%;
            }
            @media (min-width: $screen-lg) {
                width: 16%;
            }

            .select2-container {
                width: 100% !important;
                height: 100%;
                background-color: #f9fbfc;
                //@include flex-centered;
                .select2-selection {
                    //height: 90%;
                }
                @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                    width: 100% !important;
                }
            }
        }
    }

    &__content {
        margin-top: 37px;
        @include gutters(11);
    }

    &__card {
        margin-bottom: 38px;
    }

    &__pagination {
        display: flex;
        align-items: stretch;
        justify-content: center;
        padding: 20px 0;

        &-link-wr {
            padding: 0 10px;
        }

        &-link {
            display: inline-block;
            color: #8f819d;
            font-size: 22px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0.22px;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            @include flex-centered;
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                width: 30px;
                height: 30px;
                font-size: 16px;
            }
            &:hover, &._active {
                color: $CWhite;
                background-color: #665973;
            }
        }

        &-button {
            color: #cbc0d5;
            display: inline-block;
            height: 100%;
            @include flex-centered;
            &._prev {
                margin-right: 50px;
                @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                    margin-right: 30px;
                }
            }
            &._next {
                margin-left: 50px;
                @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                    margin-left: 30px;
                }
            }
            &._enabled {
                color: #665973;
            }
            &-svg {
                width: 11px;
                @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                    width: 8px;
                }
                .catalog-list__pagination-button._prev & {
                    @include rotate(-90deg);
                }
                .catalog-list__pagination-button._next & {
                    @include rotate(90deg);
                }
            }
        }
    }
}

.select2-dropdown._drop._paints {
    border-radius: 0 0 25px 25px;
}

.catalog-filter-select-option {
    display: flex;
    align-items: center;
    @media (max-width: $screen-xs-max) {
        padding: 8px 28px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        padding: 8px 20px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        padding: 4px 18px;
    }
    @media (min-width: $screen-vl) {
        padding: 10px 28px;
    }

    &__type {
        color: #81788b;
        font-size: 14px;
        letter-spacing: 1.4px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            font-size: 12px;
            letter-spacing: 1.4px;
        }
    }

    .selection__angle {
        right: 28px;
        color: #977db1;
        width: 8px;
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            right: 15px;
        }
    }
}

.catalog-list__sub-menu-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    @media (max-width: $screen-lg) {
        justify-content: flex-start;
        font-size: 12px;
        padding: 5px 0;
    }

    @media screen and (min-width: $screen-lg) {
        height: 100%;
    }
}

.catalog-list__sub-menu-item {
    @include help-text;
    position: relative;
    margin-right: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696171;
    transition: color, opacity 0.4s ease;
    &:last-of-type {
        margin-right: 0;
    }
    &:hover {
        color: #8f819d;
    }
    &:active {
        opacity: 0.5;
    }

    &--active {
        cursor: default;
        @media screen and (min-width: $screen-lg) {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                display: block;
                width: 100%;
                height: 3px;
                background-color: #b2a9bc;
            }
        }

        .catalog-list__sub-menu-link {
            color: #b2a9bc;
        }
    }
    @media (max-width: $screen-lg) {
        padding: 5px 0;
    }
}

.catalog-list__sub-menu-item--active .catalog-list__sub-menu-link {
    color: #b2a9bc;
    cursor: default;
}

