.catalog-main{
  @media (min-width: $screen-sm) {
    background-color: #f8f8f8;
    //background-image: url(~images/bg/catalog_main.png);
    //background-repeat: no-repeat;
    //background-position: right;
  }
  @media (max-width: $screen-xs-max) {

  }
  @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    padding: 20px 300px 20px 26px;
    //background-size: auto 100%;
  }
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    padding: 20px 575px 20px 40px;
  }
  @media (min-width: $screen-vl) {
    padding: 40px 700px 50px 50px;
  }

  &__title{
    color: #4d4853;
    @media (max-width: $screen-xs-max) {
      font-size: 22px;
      font-weight: 300;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      font-size: 35px;
      font-weight: 200;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 32px;
      font-weight: 300;
    }
    @media (min-width: $screen-vl) {
      font-size: 42px;
      font-weight: 200;
    }
  }

  &__content{
    margin-top: 34px;
    opacity: 0.9;
    color: #8f819d;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.22px;
    max-width: 500px;
    @media (max-width: $screen-xs-max) {
      margin-top: 16px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.16px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      max-width: 82%;
      margin-top: 17px;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.14px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      margin-top: 24px;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.15px;
    }
    @media (min-width: $screen-vl) {
      font-size: 22px;
      line-height: 36px;
      letter-spacing: 0.22px;
      max-width: 500px;
    }
  }
}