@mixin carousel-base() {

    .slick-track {
        display: flex;
        align-items: stretch;
    }

    .slick-slide {
        float: none;
        height: auto;
        & img {
            max-height: 278px;
            min-height: 278px;
            object-fit: cover;
            object-position: top left;
            @media (max-width: 768px) {
                min-height: 210px;
            }
        }
    }

    .slick-dots {
        margin-top: 30px;
        font-size: 0;
        margin-left: auto;
        margin-right: auto;
        @include flex-centered;
        li {
            padding: 4px;

            button {
                display: block;
                border: 1px solid transparent;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #e3dfe7;
            }
        }

        li.slick-active button {
            border-color: #8c94a3;
            background-color: #8c94a3;
            width: 10px;
            height: 10px;
        }
    }
}
