.carousel-offers {
    @include carousel-base;
    @media (max-width: $screen-xs-max) {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-list {
        overflow: visible;
        @media (max-width: $screen-xs-max) {
            margin-left: -6px;
            margin-right: -6px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            margin-left: -11px;
            margin-right: -11px;
        }
        @media (min-width: $screen-lg) {
            margin-left: -14px;
            margin-right: -14px;
        }
    }

    &__slide-wr {
        position: relative;
        outline: none;
        background-color: $CWhite;
        padding-top: 10px;
        @media (max-width: $screen-xs-max) {
            padding-left: 6px;
            padding-right: 6px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            padding-left: 11px;
            padding-right: 11px;
        }
        @media (min-width: $screen-lg) {
            padding-left: 14px;
            padding-right: 14px;
        }
    }
    &__slide {
        height: 100%;
        position: relative;
        border-radius: 3px;
        box-shadow: 0 0 18px rgba(184, 191, 195, 0.4);
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        transition: transform .3s;
        .slick-slide:hover & {
            @include translate(0, -11px);
        }
        .carousel-offers__slide-wr.slick-current & {
            box-shadow: 0 0 18px rgba(184, 191, 195, 0.4);
        }
        @each $colorName, $color in (
                purple: #665973,
                green: #249c6b,
                yellow: #d0b70f,
                blue: #95c4dc,
                red: #f2707c
        ) {
            &._#{$colorName} {
                background-color: $color;
            }
        }

        &-label {
            position: absolute;
            background-color: $CWhite;
            border-bottom-right-radius: 10px;
            color: #96a49e;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 4px;
            @include flex-centered;
            @media (max-width: $screen-md-max) {
                padding: 0 14px;
                height: 24px;
                font-size: 10px;
            }
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                padding: 0 16px;
                height: 32px;
                font-size: 10px;
            }
            @media (min-width: $screen-vl) {
                padding: 0 18px;
                height: 41px;
                font-size: 12px;
            }
            .carousel-offers__slide:hover & {
                color: $CWhite;
            }
        }

        &-inner {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: $screen-xs-max) {
                padding: 37px 23px;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                padding: 49px 34px;
            }
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                padding: 43px 33px;
            }
            @media (min-width: $screen-vl) {
                padding: 63px 46px;
            }
        }

        &-title {
            color: $CWhite;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.2;
            letter-spacing: 1px;
            @media (min-width: 1400px) {
                font-size: 20px;
            }
        }

        &-content {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $CWhite;
            @media (min-width: 1400px) {
                margin-top: 20px;
                font-size: 16px;
            }
        }
    }
}