.carousel-posts {
    //$side-indent: (100% / 6 / 1.2);
    $side-indent: 220px;
    //margin-right: -$side-indent;
    //margin-left: -$side-indent;
    @include carousel-base;
    @media (max-width: $screen-xs-max) {
        margin-left: auto;
        margin-right: auto;
        width: 280px;
    }

    .slick-list {
        overflow: visible;
        margin-left: -13px;
        margin-right: -13px;
    }

    &__slide {
        padding-left: 13px;
        padding-right: 13px;
        outline: none;
    }
}

.carousel-posts-slide {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    @include flex-centered;
    & a {
        position: absolute;
        bottom: 20px;
        width: 65%;
    }
    &__hover {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 0;
        background-color: #6b5e77;
        transition: opacity .3s;
        @media (max-width: $screen-xs-max) {
            padding: 30px 32px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            padding: 30px 42px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            padding: 20px 31px;
        }
        @media (min-width: $screen-vl) {
            padding: 40px 45px;
        }
        .carousel-posts-slide:hover & {
            opacity: 1;
        }

        &-title {
            width: 100%;
            color: $CWhite;
            font-size: 14px !important;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 1px;
            @media (min-width: 768px) {
                font-size: 20px;
            }
            @media (min-width: 1580px) {
                font-size: 20px;
            }
        }

        &-info {
            margin-top: 15px;
            font-weight: 600;
            line-height: 1.2;
            color: $CWhite;
            @media (max-width: $screen-xs-max) {
                font-size: 20px;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                font-size: 26px;
            }
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                font-size: 14px;
                margin-top: 26px;
            }
            @media (min-width: $screen-vl) {
                font-size: 20px;
            }
        }

        &-button {
            margin-top: 28px;
            font-weight: 600;
        }
    }

    &__img {
        width: 100%;
    }
}