{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% block content %}
    <section class="page-404">
        <div class="container page-404__inner">
            <h1 class="title">Страница недоступна</h1>
            <p class="page-404__text">Пока мы устраняем неполадки, вы можете <br> выбрать товар в нашем каталоге</p>
            <a class="btn page-404__btn" href="/catalog/">Смотреть</a>
        </div>
    </section>
{% endblock %}

