{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% block content %}

    <section class="section">
        <div class="breadscrumb-wr">
            <div class="container">
                {% include '../partials/breadcrumb.twig' with {'path': [{name: 'Главная', link: '/'}, {name: 'О нас'}]} %}
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="about__inner row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-vl-3">
                    <ul class="about-nav">
                        <li role="presentation" class="_active"><a href="/" class="about-nav__link">О КОМПАНИИ</a></li>
                        <li role="presentation"><a href="/" class="about-nav__link">НАШИ ПРОЕКТЫ</a></li>
                        <li role="presentation"><a href="/" class="about-nav__link">ДОСТАВКА И ОПЛАТА</a></li>
                        <li role="presentation"><a href="/" class="about-nav__link">ПОМОЩЬ</a></li>
                        <li role="presentation"><a href="/contacts.html" class="about-nav__link">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-vl-9">
                    <h1 class="about__title">
                        О компании
                    </h1>
                    <div class="about__content">
                        <div class="about__inside">
                            <img src="assets/images/about_inside.jpg" alt="">
                        </div>
                        <div class="about__info">
                            <h3 class="about__info-title">В последнее время маркерное покрытие чаще встречается, особенно в офисах и лофт-кафе.</h3>
                            <p class="about__info-content">
                                Наверное, многие замечали, что в любимой кофейне меню над баром написано от руки, а на входе на работу встречает мотивирующая цитата со смешным рисунком. Но подобный дизайнерский ход можно успешно использовать где угодно.
                            </p>
                        </div>
                        <div class="about__desc">
                            <h3 class="about__desc-title">Описание</h3>
                            <p class="about__desc-content">
                                Подойдите к стене и нарисуйте на ней восклицательный знак. Не можете, потому что вам жалко обои? Срочно срывайте их – они препятствуют вашему личностному росту и развитию творческих способностей! Наносите на стену маркерное покрытие SketchPaint – и вскоре на ней зацветут всеми цветами радуги любые ваши фантазии!
                            </p>
                        </div>
                        <div class="about__advantages">
                            <h3 class="about__advantages-title">Преимущества</h3>
                            <div class="about__advantages-content">
                                <p class="about__advantages-text">
                                    Вы наносите покрытие на любую поверхность – это так же легко, как покрывать краской лист бумаги. Стираете-рисуете 365 дней в году, умноженных на 10 лет, – такова гарантия от производителя. Вы снимаете любые границы в развитии творческих способностей у детей (страсть к рисункам на стене – общеизвестный факт). Избавляетесь от неуклюжих и больших маркерных и меловых досок  в помещении. Пишете любым маркером на водной основе – и так же элементарно стираете записи обычной салфеткой или губкой.
                                </p>
                                <h4 class="about__advantages-list-title">Маркерное покрытие SketchPaint сделано на водной основе, поэтому имеет ряд преимуществ:</h4>
                                <ul class="about__advantages-list">
                                    <li class="about__advantages-item">Может наноситься на любую акриловую или латексную краску (мы их привыкли называть водоэмульсионными)</li>
                                    <li class="about__advantages-item">Не имеет запаха - поэтому может наноситься в жилой квартире или открытом офисе</li>
                                    <li class="about__advantages-item">Покрытие готово к использованию уже через 3 дня</li>
                                    <li class="about__advantages-item">Имеет удобную тару 0,5 или 1 л. (3 и 6 кв.м. соответственно) - удобно подобрать необходимое количество и не платить за остатки</li>
                                    <li class="about__advantages-item">Для окрашивания требуется 1 слой краски</li>
                                    <li class="about__advantages-item">Абсолютно безопасно для использования - имеет все гигиенические сертификаты</li>
                                    <li class="about__advantages-item">Сделано в Нидерландах</li>
                                </ul>
                            </div>
                        </div>
                        <div class="about-block about__instructions">
                            <h2 class="about-block__title">Инструкции</h2>
                            <div class="about-block__content row">
                                {% for i in [1, 2, 3] %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-vl-4">
                                    <a href="" class="about__instructions-download download">
                                        {{ svg.icon({name: 'download', mod: 'download__svg'}) }}
                                        <div class="download__text">скачать инструкцию</div>
                                    </a>
                                    <a href="" class="about__instructions-download download">
                                        {{ svg.icon({name: 'download', mod: 'download__svg'}) }}
                                        <div class="download__text">скачать сертификаты</div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-block about__gallery">
            <div class="container">
                <h2 class="about-block__title">Галерея</h2>
            </div>
            <div class="about-block__content">
                <div class="container">
                    {% include '../partials/carousel/posts.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

