{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% set orders = [
    {
        pic: '1',
        name: 'Маркерная краска SketchPaint (Белая)',
        price: '100 Р',
        count: 1,
        cost: '100 Р',
        costNum: 100
    }, {
        pic: '3',
        name: 'Маркерная краска SketchPaint (Белая)',
        price: '200 Р',
        count: 1,
        cost: '200 Р',
        costNum: 200
    }
] %}

{% set sum = 0 %}
{% set oldSum = 1100 %}

{% block content %}

    <section class="section cart">
        <div class="container-sm">
            <a href="/catalog.html" class="cart__back visible-xs-inline-block">
                {{ svg.icon({name: 'angle_top', mod: 'cart__back-icon'}) }}
                <span class="cart__back-text">вернуться в каталог</span>
            </a>
            <div class="fsb">
                <h1 class="cart__title">Моя корзина</h1>
                <a href="" class="cart__download download hidden-xs">
                    {{ svg.icon({name: 'download', mod: 'download__svg'}) }}
                    <span class="download__text">скачать список pdf</span>
                </a>
            </div>
            <form action="" class="cart__content">
                <div class="cart__list">
                    <table class="cart__table">
                        <thead class="cart__thead">
                            <tr class="cart__thead-tr">
                                <th class="cart__thead-cell _pic">товар</th>
                                <th class="cart__thead-cell _name">наименование</th>
                                <th class="cart__thead-cell _price hidden-xs hidden-sm hidden-md">цена</th>
                                <th class="cart__thead-cell _count">
                                    <span class="hidden-sm hidden-md">количество</span>
                                </th>
                                <th class="cart__thead-cell _cost hidden-xs hidden-sm hidden-md">сумма</th>
                                <th class="cart__thead-cell _del"></th>
                            </tr>
                        </thead>
                        <tbody class="cart__tbody">
                            {% for item in orders %}
                                {% set sum = sum + item.costNum %}
                                <tr class="js-product-count-wr cart__tbody-tr cart-item">
                                    <td class="cart__tbody-cell _pic">
                                        <div class="cart-item__pic">
                                            <img src="assets/images/paints/{{ item.pic }}.png" alt="" class="cart-item__pic-img">
                                        </div>
                                    </td>
                                    <td class="cart__tbody-cell _name">
                                        <span class="cart-item__column">
                                            <span class="cart-item__name">{{ item.name }}</span>
                                            <span class="cart-item__price visible-sm-block visible-md-block" data-price="{{item.costNum}}">{{ item.price }}</span>
                                        </span>
                                    </td>
                                    <td class="cart__tbody-cell _price hidden-sm hidden-md">
                                        <span class="cart-item__price" data-price="{{item.costNum}}">{{ item.price }}</span><span class="visible-xs-inline-block cart-item__price-text">за 1 шт.</span>
                                    </td>
                                    <td class="cart__tbody-cell _count">
                                        {% include '../partials/counter.twig' with {value: '1', border: 'ellipse', mod: 'cart-item__counter'} %}
                                        <span class="cart-item__cost visible-sm-inline-block visible-md-inline-block" data-cost="{{ item.costNum }}">{{ item.costNum }}</span> <span class="visible-sm-inline-block visible-md-inline-block currency">₽</span>
                                    </td>
                                    <td class="cart__tbody-cell _cost hidden-xs hidden-sm hidden-md">
                                        <span class="cart-item__cost" data-cost="{{ item.costNum }}">{{ item.costNum }}</span> <span class="currency">₽</span>
                                    </td>
                                    <td class="cart__tbody-cell _del">
                                        <button type="button" class="cart-item__close">
                                            <span class="cart-item__close-line"></span>
                                            <span class="cart-item__close-line"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="cart__result row">
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-vl-7">
                            <div class="cart__result-promo">
                                <span class="cart__result-promo-title">У вас есть промокод?</span>
                                <div class="cart__result-promo-wrap">
                                    <input class="cart__result-promo-input" name="promocode" placeholder="Ваш промокод">
                                    <button type="button" class="ajax js-input-promocode-submit cart__result-promo-submit">
                                        <svg class="icon-svg-checked">
                                            <use xlink:href="assets/images/sprite.svg#s-checked" />
                                        </svg>
                                        <svg class="icon-svg-error">
                                            <use xlink:href="assets/images/sprite.svg#s-error" />
                                        </svg>
                                        <span class="cart__result-promo-submit-text">Применить</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-vl-5 row">
                            <div class="col-xs-5 col-sm-12 col-md-12 col-lg-5 col-vl-5">
                                <div class="cart__result-title">
                                    <p class="cart__result-title-big">Итого</p>
                                    <p class="cart__result-title-small js-free-delivery">Бесплатная доставка</p>
                                </div>
                            </div>
                            <div class="col-xs-7 col-sm-12 col-md-12 col-lg-7 col-vl-7">
                                <div class="cart__result-cost"><span class="cart__result-cost-sum">{{ sum }}</span> <span class="currency">₽</span></div>
                                <span class="cart__result-old-cost"><span class="cart__result-old-cost-sum">{{ oldSum }}</span> <span class="currency">₽</span></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="fsb">
                    <a href="/catalog.html" class="cart__back hidden-xs">
                        {{ svg.icon({name: 'angle_top', mod: 'cart__back-icon'}) }}
                        <span class="cart__back-text">вернуться в каталог</span>
                    </a>
                    <a href="" class="cart__download download visible-xs-inline-block">
                        {{ svg.icon({name: 'download', mod: 'download__svg'}) }}
                        <span class="download__text">скачать список pdf</span>
                    </a>
                    <button class="js-product-buy button _yellow cart__submit">Продолжить</button>
                </div>
            </form>
        </div>
    </section>
    <section class="">
        <div class="container">
            {% include '../partials/concomitant.twig' %}
        </div>
    </section>

{% endblock %}

