{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% set products = [
    {
        label: 'акция',
        pic: '1',
        name: '<span>Маркерная краска</span> SketchPaint (Белая)',
        info: '1л. - 6кв.м.',
        params: [
            {
                cost: 100,
                name: '0,5л'
            },
            {
                cost: 200,
                name: '1л'
            },
            {
                cost: 300,
                name: '2л'
            }
        ]
    }, {
        label: 'скидка',
        pic: '2',
        name: '<span>Маркерная краска</span> Sherwin Williams Dry',
        info: 'Erase - 20 кв.м',
        params: [
            {
                cost: 100,
                name: '0,5л'
            },
            {
                cost: 200,
                name: '1л'
            },
            {
                cost: 300,
                name: '2л'
            }
        ]
    }, {
        pic: '3',
        name: '<span>Маркерная краска</span> Sherwin Williams Dry',
        info: 'Erase - 20 кв.м',
        params: [
            {
                cost: 100,
                name: '0,5л'
            },
            {
                cost: 200,
                name: '1л'
            },
            {
                cost: 300,
                name: '2л'
            }
        ]
    }, {
        pic: '4',
        name: '<span>Маркерная краска</span> Sherwin Williams Dry',
        info: 'Erase - 20 кв.м',
        params: [
            {
                cost: 100,
                name: '0,5л'
            },
            {
                cost: 200,
                name: '1л'
            },
            {
                cost: 300,
                name: '2л'
            }
        ]
    }, {
        label: 'акция',
        pic: '1',
        name: '<span>Маркерная краска</span> SketchPaint (Белая)',
        info: '1л. - 6кв.м.',
        params: [
            {
                cost: 100,
                name: '0,5л'
            },
            {
                cost: 200,
                name: '1л'
            },
            {
                cost: 300,
                name: '2л'
            }
        ]
    }, {
        label: 'новинка',
        pic: '1',
        name: '<span>Маркерная краска</span> SketchPaint (Белая)',
        info: '1л. - 6кв.м.',
        price: 100
    }, {
        pic: '2',
        name: '<span>Маркерная краска</span> Sherwin Williams Dry',
        info: 'Erase - 20 кв.м',
        price: 200
    }, {
        pic: '4',
        name: '<span>Маркерная краска</span> Sherwin Williams Dry',
        info: 'Erase - 20 кв.м',
        price: 300
    }
] %}

{% block content %}

    <section class="section">
        <div class="breadscrumb-wr">
            <div class="container">
                {% include '../partials/breadcrumb.twig' with {'path': [{name: 'Главная', link: '/'}, {name: 'Маркерная краска'}]} %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="catalog-main">
                <h1 class="catalog-main__title">Маркерная краска</h1>
                <!-- <p class="catalog-main__content">
                    Наносите на стену маркерное покрытие – и вскоре на ней зацветут всеми цветами радуги любые ваши
                    фантазии!
                </p>!-->
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="catalog-list">
                <div class="catalog-list__title">
                    <div class="catalog-list__title-info">
                        <ul class="catalog-list__sub-menu-list">
                            <li class="catalog-list__sub-menu-item catalog-list__sub-menu-item--active"><a href="#" class="catalog-list__sub-menu-link">Маркерные краски</a></li>
                            <li class="catalog-list__sub-menu-item"><a href="#" class="catalog-list__sub-menu-link">Магнитные краски</a></li>
                            <li class="catalog-list__sub-menu-item"><a href="#" class="catalog-list__sub-menu-link">Гифельные краски</a></li>
                            <li class="catalog-list__sub-menu-item"><a href="#" class="catalog-list__sub-menu-link">Аксессуары</a></li>
                            <li class="catalog-list__sub-menu-item"><a href="#" class="catalog-list__sub-menu-link">Грунт и шпаклевка</a></li>
                        </ul>
                    </div>
                    <div class="catalog-list__title-filter">
                        <select class="js-select-catalog catalog-filter-select-input" name="filter" title="">
                            <option value="populity" data-filter="По популярности">
                                            <span class="catalog-filter-select-option">
                                                <span class="catalog-filter-select-option__type">По популярности</span>
                                            </span>
                            </option>
                            <option value="price" data-filter="По цене">
                                            <span class="catalog-filter-select-option">
                                                <span class="catalog-filter-select-option__type">По цене</span>
                                            </span>
                            </option>
                            <option value="alphabet" data-filter="По алфавиту">
                                            <span class="catalog-filter-select-option">
                                                <span class="catalog-filter-select-option__type">По алфавиту</span>
                                            </span>
                            </option>
                        </select>
                    </div>
                </div>
                <div class="catalog-list__content row">
                    {% for i, item in products %}
                        <div class="catalog-list__card col-xs-12 col-sm-6 col-md-6 col-lg-3 col-vl-3">
                            {% include '../partials/card/product.twig' with i, item %}
                        </div>
                    {% endfor %}
                </div>
                <!-- <nav aria-label="Page navigation">
                    <ul class="catalog-list__pagination">
                        <li>
                            <a href="/" aria-label="Previous" class="catalog-list__pagination-button _prev">
                                <span aria-hidden="true">
                                    {{ svg.icon({name: 'angle_top', mod: 'catalog-list__pagination-button-svg'}) }}
                                </span>
                            </a>
                        </li>
                        <li class="catalog-list__pagination-link-wr"><a href="/"
                                                                        class="catalog-list__pagination-link _active">1</a>
                        </li>
                        <li class="catalog-list__pagination-link-wr"><a href="/"
                                                                        class="catalog-list__pagination-link">2</a></li>
                        <li class="catalog-list__pagination-link-wr"><a href="/"
                                                                        class="catalog-list__pagination-link">3</a></li>
                        <li class="catalog-list__pagination-link-wr"><a href="/"
                                                                        class="catalog-list__pagination-link">4</a></li>
                        <li class="catalog-list__pagination-link-wr"><a href="/"
                                                                        class="catalog-list__pagination-link">5</a></li>
                        <li class="catalog-list__pagination-link-wr"><a href="/"
                                                                        class="catalog-list__pagination-link">6</a></li>
                        <li>
                            <a href="/" aria-label="Next" class="catalog-list__pagination-button _next _enabled">
                                <span aria-hidden="true">
                                    {{ svg.icon({name: 'angle_top', mod: 'catalog-list__pagination-button-svg'}) }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav> !-->
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include '../partials/carousel/offers.twig' %}
        </div>
    </section>
    <section class="section">
        {% include '../partials/article.twig' %}
    </section>
{% endblock %}
