{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% block content %}

    <section class="section">
        <div class="breadscrumb-wr">
            <div class="container">
                {% include '../partials/breadcrumb.twig' with {'path': [{name: 'Главная', link: '/'}, {name: 'Контакты'}]} %}
            </div>
        </div>
    </section>
    <section>
        <div class="contacts-main">
            <div class="container">
                <h1 class="contacts-main__title">Контакты</h1>
            </div>
            <div class="container-sm">
                <div class="contacts-main__phones">
                    <div class="contacts-main__phones-column">
                        <h2 class="contacts-main__phones-title">Москва</h2>
                        <div class="contacts-main__phones-content">
                            <a href="tel:+74952301013" class="contacts-main__phones-link">+7 (495) 230-10-13</a>
                        </div>
                    </div>
                    <div class="contacts-main__phones-column">
                        <h2 class="contacts-main__phones-title">Регионы</h2>
                        <div class="contacts-main__phones-content">
                            <a href="tel:+78003333930" class="contacts-main__phones-link">8-800-333-39-30</a>
                            <span class="contacts-main__phones-info">Бесплатно по всей России</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="contacts-main__content row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-vl-4">
                        <div class="contacts-main__content-column">
                            <div class="contacts-main__content-label">
                                {{ svg.icon({name: 'marker_icon', mod: 'contacts-main__content-label-svg'}) }}
                            </div>
                            <div class="contacts-main__content-title">Новосибирск</div>
                            <a href="tel:+73833757003" class="contacts-main__content-text">+7 (383) 375-70-03</a>
                            <div class="contacts-main__content-text">Красный пр 32 офис 345</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-vl-4">
                        <div class="contacts-main__content-column">
                            <div class="contacts-main__content-label">
                                {{ svg.icon({name: 'mail', mod: 'contacts-main__content-label-svg'}) }}
                            </div>
                            <div class="contacts-main__content-title">Почта</div>
                            <a href="mailto:ilove@markerpaint.ru" class="contacts-main__content-text"> ilove@markerpaint.ru</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-vl-4">
                        <div class="contacts-main__content-column">
                            <div class="contacts-main__content-label">
                                {{ svg.icon({name: 'whatsapp', mod: 'contacts-main__content-label-svg'}) }}
                            </div>
                            <div class="contacts-main__content-title">Whatsapp</div>
                            <a href="whatsapp://send?phone=88003333930" class="contacts-main__content-text">Markerpaint</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="contactsMap" class="contacts-map"></div>
    </section>
{% endblock %}

{% block javascript_map %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg1nomn9LTkLBNRJZXGP7Qb6yq6BeViSs"></script>
{% endblock %}

