{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% block content %}

    <section class="section">
        <div class="breadscrumb-wr">
            <div class="container">
                {% include '../partials/breadcrumb.twig' with {
                    'path' : [
                        {
                            name: 'Главная',
                            link: '/'
                        }, {
                            name: 'Доставка и оплата'
                        }
                    ]
                } %}
            </div>
        </div>
    </section>
    <section class="delivery">
        <div class="container">
            <div class="delivery__inner row">
                {% include "../partials/subnav.twig" %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-vl-9">
                    <h1 class="title">
                        Доставка и оплата
                    </h1>
                    <div class="delivery__content">
                        <div class="delivery__info">
                            <h3 class="delivery__info-title">Мы осуществляем доставку курьерскими службами по всей территории России, крупным городам Казахстана и республики Беларусь.
                            </h3>
                            <p class="delivery__info-content">
                                Доставка бесплатная при покупке на сумму <span class="delivery__content-attention">5000 рублей</span>.
                            </p>
                            <p class="delivery__info-content">За подробной информацией обращайтесь к нашим менеджерам</p>
                        </div>
                        <div class="delivery__item">
                            <h2 class="delivery__item-title">Доставка по Москве и Московской области</h2>
                            <h3 class="delivery__desc-title">Самовывоз</h3>
                            <p class="delivery__desc">
                                <span class="delivery__desc-bold">Самовывоз осуществляется с нашего склада по адресу: г. Москва, ст.м. Ботаничекий сад, ул. Сельскохозяйственная, 34а, стр. 2.<br>
                                График работы: пн-пт 10:00 - 20:00, сб 10-15, вс - выходной.</span>
                                <br>Просьба перед приездом предупредить наших менеджеров, чтобы они смогли подать заявку на комплектацию.
                            </p>
                            <p class="delivery__desc">
                                Стоимость самовывоза - <span class="delivery__attention">Бесплатно</span>
                            </p>
                            <h3 class="delivery__desc-title">Пункты самовывоза</h3>
                            <div class="delivery__main-map" id="order__data-item-map" style="height: 471px;"></div>
                        </div>
                        <div class="delivery__item">
                            <h2 class="delivery__item-title">Курьерская доставка по Москве (в пределах МКАД) и Новосибирску</h2>
                            <p class="delivery__desc">
                                <span class="delivery__desc-bold">Стандартная доставка - на следующий рабочий день (заявку нужно разместить до 20:00)</span>
                            </p>
                            <p class="delivery__desc">Стоимость доставки:</p>
                            <p class="delivery__desc">
                                Сумма заказа до <span class="delivery__desc-black">5000 рублей - 300 рублей.</span>
                            </p>
                            <p class="delivery__desc">
                                <span class="delivery__desc-black">от 5000 рублей -</span> <span class="delivery__content-attention">бесплатно.</span>
                            </p>
                            <p class="delivery__desc">
                                Срочная доставка в день заказа - <span class="delivery__desc-black">500 рублей.</span>
                            </p>
                        </div>
                        <div class="delivery__item">
                            <h2 class="delivery__item-title">Курьерская доставка по Московской области</h2>
                            <p class="delivery__desc">
                                <span class="delivery__desc-bold">Стандартная доставка - на следующий рабочий день (заявку нужно разместить до 20:00).<br>
                                Доставляем с 9:00 до 20:00 с понедельника по субботу.</span>
                            </p>
                            <p class="delivery__desc">
                                Стоимость доставки для расстояния до 10 км. от МКАД
                            </p>
                            <p class="delivery__desc">
                                Сумма заказа до <span class="delivery__desc-black">5000 рублей - 500 рублей.</span>
                            </p>
                            <p class="delivery__desc">
                                <span class="delivery__desc-black">от 5000 рублей -</span> <span class="delivery__content-attention">бесплатно.</span>
                            </p>
                            <p class="delivery__desc">
                                Стоимость доставки для расстояния от 10 км. от МКАД
                            </p>
                            <p class="delivery__desc">
                                Сумма заказа до <span class="delivery__desc-black">5000 рублей - 30 рублей за 1 км.</span>
                            </p>
                            <p class="delivery__desc">
                                <span class="delivery__desc-black">от 5000 рублей - 300 - 500 рублей</span> (при наличии пункта самовывоза в Вашем населенном пункте - бесплатно).
                            </p>
                            <p class="delivery__desc">
                                Срочная доставка в день заказа - <span class="delivery__desc-black">1000 рублей.</span>
                            </p>
                        </div>
                        <div class="delivery__item">
                            <h2 class="delivery__item-title">Курьерская доставка по Санкт-Петербургу</h2>

                            <p class="delivery__desc">
                                <span class="delivery__desc-bold">Стандартная доставка - через один рабочий день (заявку нужно разместить до 20:00)</span>
                            </p>
                            <p class="delivery__desc">Стоимость доставки:</p>
                            <p class="delivery__desc">
                                Сумма заказа до <span class="delivery__desc-black">5000 рублей - 300 рублей.</span>
                            </p>
                            <p class="delivery__desc">
                                <span class="delivery__desc-black">от 5000 рублей -</span> <span class="delivery__content-attention">бесплатно.</span>
                            </p>
                        </div>
                        <div class="delivery__item">
                            <h2 class="delivery__item-title">Курьерская доставка по Ленинградской области</h2>
                            <p class="delivery__desc">
                                <span class="delivery__desc-bold">Стандартная доставка - на следующий рабочий день (заявку нужно разместить до 20:00).<br>
                                Доставляем с 9:00 до 20:00 с понедельника по субботу.</span>
                            </p>
                            <p class="delivery__desc">
                                Стоимость доставки для расстояния до 10 км. от МКАД
                            </p>
                            <p class="delivery__desc">
                                Сумма заказа до <span class="delivery__desc-black">5000 рублей - 500 рублей.</span>
                            </p>
                            <p class="delivery__desc">
                                <span class="delivery__desc-black">от 5000 рублей -</span> <span class="delivery__content-attention">бесплатно.</span>
                            </p>
                            <p class="delivery__desc">
                                Стоимость доставки для расстояния от 10 км. от МКАД
                            </p>
                            <p class="delivery__desc">
                                Сумма заказа до <span class="delivery__desc-black">5000 рублей - 30 рублей за 1 км.</span>
                            </p>
                            <p class="delivery__desc">
                                <span class="delivery__desc-black">от 5000 рублей - 300 - 500 рублей</span>
                            </p>
                        </div>
                        <div class="delivery__item">
                            <h2 class="delivery__item-title">Доставка в регионы</h2>
                            <p class="delivery__desc"><span class="delivery__desc-bold">Сроки доставки</span></p>
                            <p class="delivery__desc">
                                Сроки доставки указаны с момента подтверждения заказа нашим менеджером. Все товары, размещенные на сайте, есть на нашем складе и готовы к отгрузке. Отгрузка производится сразу после подтверждения заказа.
                            </p>
                            <p class="delivery__desc">
                                Срок доставки в другие крупные города России — <span class="delivery__desc-black">до 2 до 10 дней</span>
                            </p>
                            <p class="delivery__desc">
                                Срок доставки в отдаленные населенные пункты — <span class="delivery__desc-black">до 12 дней</span>
                            </p>
                            <p class="delivery__desc">
                                Имея 2 филиала в Москве и Новосибирске готовы обеспечить кратчайшие сроки доставки по всей территории России. Все подробности доставки Вы можете уточнить у наших операторов.
                            </p>
                            <p class="delivery__desc">
                                Бесплатный телефон для справок <span class="delivery__content-attention"><a href="tel:+7 (800) 333 39 30">+7 (800) 333 39 30</a></span>
                            </p>
                            <p class="delivery__desc">
                                Если дата доставки приходится на выходной или праздничный день, то сроки доставки увеличиваются на количество выходных или праздничных дней.
                            </p>
                            <p class="delivery__desc">
                                * - Екатеринбург, Нижний Новгород, Самара, Омск, Казань, Челябинск, Ростов-на-Дону, Уфа, Волгоград, Пермь, Красноярск, Воронеж, Саратов, Краснодар, Тольятти, Ижевск, Ульяновск, Барнаул, Владивосток, Ярославль, Иркутск, Тюмень, Хабаровск, Махачкала, Оренбург, Новокузнецк, Кемерово, Томск, Рязань, Астрахань, Пенза, Набережные Челны, Липецк и Тула.
                            </p>
                            <p class="delivery__desc  delivery__desc-black">
                                Если вы привыкли работать с определенной курьерской службой или хотите забрать заказ самостоятельно, пожалуйста укажите это при размещении заказа. Мы найдем для Вас другой удобный Вам способ доставки.
                            </p>
                        </div>
                        <div class="delivery__item">
                            <h2 class="delivery__item-title">Оплата</h2>
                            <p class="delivery__info-title">
                                Никакой предоплаты — оплачивайте заказ наличными при получении заказа.
                            </p>
                            <p class="delivery__desc">
                                Если вы - юридическое лицо или индивидуальный предприниматель - мы выставим Вам счет в течении нескольких минут.
                                Прикрепите реквизиты при оформлении заказа или напишите нам письмо на адрес <span class="delivery__content-attention"><a href="mailto:ilove@markerpaint.ru">ilove@markerpaint.ru</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery-block delivery__gallery">
            <div class="container">
                <h2 class="delivery-block__title">Галерея</h2>
            </div>
            <div class="delivery-block__content">
                <div class="container">
                    {% include '../partials/carousel/posts.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
