{% set faq = {
    "list": [
        {
            "active": true,
            "title": "Маркерная краска",
            "items": [
                {
                    "title": "ЧТО ТАКОЕ SKETCHPAINT?",
                    "description": [
                        {
                            "text": "SketchPaint — это новация в мире красок, которая? позволит иначе взглянуть на привычную грифельную или маркерную доску. Отныне рисовать, делать заметки, составлять планы и схемы гораздо удобней, SketchPaint практически любую поверхность превращает в маркерную!"
                        },
                        {
                            "text": "Удалять старые записи также легко, как и рисовать. С помощью бумажной салфетки и одного движения - поверхность очищается."
                        },
                        {
                            "text": "Маркерная краска красит практически все – стены, двери, окна, мебель. Вместе с краской используются обычные маркеры для досок и стирающие средства (салфетки, губки, тряпки и т.д.). Интересный и недорогой набор идеально подойдет для офиса, школы, дома."
                        }
                    ]
                },
                {
                    "title": "ТРУДНО ЛИ НАНОСИТЬ КРАСКУ SKETCHPAINT?",
                    "description": [
                        {
                            "text": "Следуя инструкции написанным на упаковке, любой человек может самостоятельно нанести краску. Она легко наносится и за 2-4 часа высыхает на поверхности. Если же возникают вопросы, звоните, наши специалисты всегда готовы вам помочь. Благодаря SketchPaint поверхность станет идеальной и прослужит долгие годы."
                        }
                    ]
                },
                {
                    "title": "ЧЕМ УДАЛЯТЬ МАРКЕРНЫЕ НАДПИСИ?",
                    "description": [
                        {
                            "text": "Для стирания надписей лучше всего подойдут специальные салфетки для маркерных досок. Но также можно использовать любую другую салфетку."
                        }
                    ]
                }
            ]
        },
        {
            "title": "Магнитная краска",
            "items": [
            {
                "title": "ЧТО ТАКОЕ SKETCHPAINT?",
                "description": [
                {
                    "text": "SketchPaint — это новация в мире красок, которая? позволит иначе взглянуть на привычную грифельную или маркерную доску. Отныне рисовать, делать заметки, составлять планы и схемы гораздо удобней, SketchPaint практически любую поверхность превращает в маркерную!"
                },
                {
                    "text": "Удалять старые записи также легко, как и рисовать. С помощью бумажной салфетки и одного движения - поверхность очищается."
                },
                {
                    "text": "Маркерная краска красит практически все – стены, двери, окна, мебель. Вместе с краской используются обычные маркеры для досок и стирающие средства (салфетки, губки, тряпки и т.д.). Интересный и недорогой набор идеально подойдет для офиса, школы, дома."
                }
            ]
            },
            {
                "title": "ТРУДНО ЛИ НАНОСИТЬ КРАСКУ SKETCHPAINT?",
                "description": [
                {
                    "text": "Следуя инструкции написанным на упаковке, любой человек может самостоятельно нанести краску. Она легко наносится и за 2-4 часа высыхает на поверхности. Если же возникают вопросы, звоните, наши специалисты всегда готовы вам помочь. Благодаря SketchPaint поверхность станет идеальной и прослужит долгие годы."
                }
            ]
            },
            {
                "title": "ЧЕМ УДАЛЯТЬ МАРКЕРНЫЕ НАДПИСИ?",
                "description": [
                {
                    "text": "Для стирания надписей лучше всего подойдут специальные салфетки для маркерных досок. Но также можно использовать любую другую салфетку."
                }
            ]
            }
        ]
        },
        {
            "title": "Грифельная краска",
            "items": [
            {
                "title": "ЧТО ТАКОЕ SKETCHPAINT?",
                "description": [
                {
                    "text": "SketchPaint — это новация в мире красок, которая? позволит иначе взглянуть на привычную грифельную или маркерную доску. Отныне рисовать, делать заметки, составлять планы и схемы гораздо удобней, SketchPaint практически любую поверхность превращает в маркерную!"
                },
                {
                    "text": "Удалять старые записи также легко, как и рисовать. С помощью бумажной салфетки и одного движения - поверхность очищается."
                },
                {
                    "text": "Маркерная краска красит практически все – стены, двери, окна, мебель. Вместе с краской используются обычные маркеры для досок и стирающие средства (салфетки, губки, тряпки и т.д.). Интересный и недорогой набор идеально подойдет для офиса, школы, дома."
                }
            ]
            },
            {
                "title": "ТРУДНО ЛИ НАНОСИТЬ КРАСКУ SKETCHPAINT?",
                "description": [
                {
                    "text": "Следуя инструкции написанным на упаковке, любой человек может самостоятельно нанести краску. Она легко наносится и за 2-4 часа высыхает на поверхности. Если же возникают вопросы, звоните, наши специалисты всегда готовы вам помочь. Благодаря SketchPaint поверхность станет идеальной и прослужит долгие годы."
                }
            ]
            },
            {
                "title": "ЧЕМ УДАЛЯТЬ МАРКЕРНЫЕ НАДПИСИ?",
                "description": [
                {
                    "text": "Для стирания надписей лучше всего подойдут специальные салфетки для маркерных досок. Но также можно использовать любую другую салфетку."
                }
            ]
            }
        ]
        },
        {
            "title": "Нанесение",
            "items": [
            {
                "title": "ЧТО ТАКОЕ SKETCHPAINT?",
                "description": [
                {
                    "text": "SketchPaint — это новация в мире красок, которая? позволит иначе взглянуть на привычную грифельную или маркерную доску. Отныне рисовать, делать заметки, составлять планы и схемы гораздо удобней, SketchPaint практически любую поверхность превращает в маркерную!"
                },
                {
                    "text": "Удалять старые записи также легко, как и рисовать. С помощью бумажной салфетки и одного движения - поверхность очищается."
                },
                {
                    "text": "Маркерная краска красит практически все – стены, двери, окна, мебель. Вместе с краской используются обычные маркеры для досок и стирающие средства (салфетки, губки, тряпки и т.д.). Интересный и недорогой набор идеально подойдет для офиса, школы, дома."
                }
            ]
            },
            {
                "title": "ТРУДНО ЛИ НАНОСИТЬ КРАСКУ SKETCHPAINT?",
                "description": [
                {
                    "text": "Следуя инструкции написанным на упаковке, любой человек может самостоятельно нанести краску. Она легко наносится и за 2-4 часа высыхает на поверхности. Если же возникают вопросы, звоните, наши специалисты всегда готовы вам помочь. Благодаря SketchPaint поверхность станет идеальной и прослужит долгие годы."
                }
            ]
            },
            {
                "title": "ЧЕМ УДАЛЯТЬ МАРКЕРНЫЕ НАДПИСИ?",
                "description": [
                {
                    "text": "Для стирания надписей лучше всего подойдут специальные салфетки для маркерных досок. Но также можно использовать любую другую салфетку."
                }
            ]
            }
        ]
        },
        {
            "title": "Гарантии",
            "items": [
            {
                "title": "ЧТО ТАКОЕ SKETCHPAINT?",
                "description": [
                {
                    "text": "SketchPaint — это новация в мире красок, которая? позволит иначе взглянуть на привычную грифельную или маркерную доску. Отныне рисовать, делать заметки, составлять планы и схемы гораздо удобней, SketchPaint практически любую поверхность превращает в маркерную!"
                },
                {
                    "text": "Удалять старые записи также легко, как и рисовать. С помощью бумажной салфетки и одного движения - поверхность очищается."
                },
                {
                    "text": "Маркерная краска красит практически все – стены, двери, окна, мебель. Вместе с краской используются обычные маркеры для досок и стирающие средства (салфетки, губки, тряпки и т.д.). Интересный и недорогой набор идеально подойдет для офиса, школы, дома."
                }
            ]
            },
            {
                "title": "ТРУДНО ЛИ НАНОСИТЬ КРАСКУ SKETCHPAINT?",
                "description": [
                {
                    "text": "Следуя инструкции написанным на упаковке, любой человек может самостоятельно нанести краску. Она легко наносится и за 2-4 часа высыхает на поверхности. Если же возникают вопросы, звоните, наши специалисты всегда готовы вам помочь. Благодаря SketchPaint поверхность станет идеальной и прослужит долгие годы."
                }
            ]
            },
            {
                "title": "ЧЕМ УДАЛЯТЬ МАРКЕРНЫЕ НАДПИСИ?",
                "description": [
                {
                    "text": "Для стирания надписей лучше всего подойдут специальные салфетки для маркерных досок. Но также можно использовать любую другую салфетку."
                }
            ]
            }
        ]
        }
    ]
} %}


{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% block content %}

    <section class="section">
        <div class="breadscrumb-wr">
            <div class="container">
                {% include '../partials/breadcrumb.twig' with {'path': [{name: 'Главная', link: '/'}, {name: 'Помощь'}]} %}
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <div class="faq__inner row">
                {% include "../partials/subnav.twig" %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-vl-9">
                    <h1 class="title">
                        FAQ
                    </h1>
                    <ul class="faq__list">
                        {% for item in faq.list %}
                            <li class="faq__item js-acc">
                                <h2 class="faq__item-title js-acc-head">{{ item.title }}
                                    <svg class="icon-svg">
                                        <use xlink:href="assets/images/sprite.svg#s-angle_right"></use>
                                    </svg>
                                </h2>
                                <div class="faq__item-inner js-acc-body {% if item.active %} _active _clicked {% endif %}">
                                    {% for content in item.items %}
                                        <h3 class="faq__item-subtitle">{{ content.title }}</h3>
                                            {% for description in content.description %}
                                                <p class="faq__item-content">{{ description.text }}</p>
                                            {% endfor %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

