{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% set body_class = '_custom' %}

{% set mainSlides = [
    {
        first: true,
        main_mod: '_light',
        title_nav: 'маркерная',
        title_thumb: 'Маркерная краска',
        bg_nav: '2',
        pic: '2'
    }, {
        main_mod: '_pic',
        title_nav: 'магнитная',
        title_thumb: 'Магнитная краска',
        bg_nav: '3',
        pic: '2'
    }, {
        main_mod: '_dark',
        title_nav: 'грифельная',
        title_thumb: 'Грифельная краска',
        bg_nav: '1',
        active: 'true',
        pic: '1'
    }, {
        main_mod: '_light',
        title_nav: 'аксессуары',
        title_thumb: 'Аксессуары',
        bg_nav: '4',
        pic: '2'
    }
] %}

{% block content %}

    <section class="section main">
        <div class="container">
            <div class="main__inner">
                <div class="js-main-swiper-thumbs main-thumbs swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for i, slide in mainSlides %}
                            <div class="js-main-thumb-slide main-thumbs__slide swiper-slide"{% if slide.main_mod %} data-main={{ slide.main_mod }}{% endif %}>
                                <h1 class="main-thumbs__title">{{ slide.title_thumb }}</h1>
                                <div class="main-thumbs__row">
                                    <div class="main-thumbs__content">
                                        <p class="main-thumbs__text">
                                            Обычную доску для маркеров сегодня уверенно теснят маркерные покрытия,
                                            превращающие в поле для творчества любую поверхность. Поверхность становится
                                            идеально гладкой, после покрытия специализированным составом, затягивающим
                                            все ее шероховатости и поры. В чем состоит ее преимущество?
                                        </p>
                                        <div class="main-thumbs__panel">
                                            <button class="button _purple">в каталог</button>
                                            <button class="button _purple">нанесение</button>
                                        </div>
                                    </div>
                                    <div class="main-thumbs__pic">
                                        <img src="assets/images/paints/main_thumb_img_{{ slide.pic }}.png" alt=""
                                             class="main-thumbs__pic-img">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="js-main-swiper-nav  hidden-xs main-nav swiper-container">
                    <div class="swiper-wrapper">
                        {% for i, slide in mainSlides %}
                            
                                <button class="js-main-nav-slide {% if slide.first %} main-nav__slide-label--active {% endif %} main-nav__slide swiper-slide" data-num={{ i }}>
                                    <div class="main-nav__slide-label-wr">
                                        <div class="main-nav__slide-label">
                                            <div class="main-nav__slide-label-pic">
                                                <img src="assets/images/paints/paint_label_{{ slide.bg_nav }}.jpg"
                                                     alt=""
                                                     class="main-nav__slide-label-img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-nav__slide-text">{{ slide.title_nav }}</div>
                                </button>
                            
                        {% endfor %}
                    </div>
                    <div class="main-nav__buttons hidden-xs">
                        <button class="js-swiper-nav-prev main-nav__button _prev">
                            {{ svg.icon({name: 'angle_top', mod: 'main-nav__swiper-button-svg'}) }}
                        </button>
                        
                        <button class="js-swiper-nav-next main-nav__button _next _enabled">
                            {{ svg.icon({name: 'angle_top', mod: 'main-nav__swiper-button-svg'}) }}
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include '../partials/carousel/offers.twig' %}
        </div>
    </section>
    <section class="section  article__section">
        {% include '../partials/article.twig' %}
    </section>
    <section class="section  advantages__section">
        <div class="advantages">
            <div class="js-carousel-advantages advantages__row">
                <div class="advantages__slide">
                    <div class="advantages-slide">
                        <div class="advantages-slide__icon _c-red">
                            {{ svg.icon({name: 'roller', mod: 'advantages-slide__icon-svg'}) }}
                        </div>
                        <h3 class="advantages-slide__title">Услуги покраски</h3>
                        <div class="advantages-slide__content">
                            <p class="advantages-slide__content-text">
                                Рисовать и писать на стенах теперь возможно с инновационными маркерными окрытиями. Краску можно нанести на любую гладкую.
                            </p>
                            <a class="button _purple advantages-slide__content-button">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="advantages__slide">
                    <div class="advantages-slide">
                        <div class="advantages-slide__icon _c-yellow">
                            {{ svg.icon({name: 'brush', mod: 'advantages-slide__icon-svg'}) }}
                        </div>
                        <h3 class="advantages-slide__title">Роспись стен</h3>
                        <div class="advantages-slide__content">
                            <p class="advantages-slide__content-text">
                                Краску можно нанести на любую гладкую. Теперь писать и рисовать можно везде! Мы
                                попытаемся разложить по полочкам как нанести маркерную краску.
                            </p>
                            <a class="button _purple advantages-slide__content-button">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="advantages__slide">
                    <div class="advantages-slide">
                        <div class="advantages-slide__icon _c-blue">
                            {{ svg.icon({name: 'truck', mod: 'advantages-slide__icon-svg'}) }}
                        </div>
                        <h3 class="advantages-slide__title">Бесплатная доставка</h3>
                        <div class="advantages-slide__content">
                            <p class="advantages-slide__content-text">
                                При покупке и выборе маркерной и магнитной краски покупатели обычно сталкиваются с
                                решением большого количества задач и проблем. Мы попытаемся разложить по полочкам как
                                нанести маркерную краску.
                            </p>
                            <a class="button _purple advantages-slide__content-button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include '../partials/carousel/posts.twig' %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include '../partials/partners.twig' %}
        </div>
    </section>
{% endblock %}

{% block modals %}
    {% include "../modal/calculate.twig" %}
{% endblock modals %}
