{% extends '../base.twig' %}
{% import  '../macros/form.twig' as form %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% set orders = [
    {
        pic: '1',
        name: 'Маркерная краска SketchPaint (Белая)',
        count: '100 Шт',
        cost: '107 770 Р'
    }, {
        pic: '4',
        name: 'Маркерная краска Sherwin Williams Dry',
        count: '1 Шт',
        cost: '7 770 Р'
    }, {
        pic: '2',
        name: 'Маркерная краска SketchPaint (Белая)',
        count: '100 Шт',
        cost: '107 770 Р'
    }, {
        pic: '3',
        name: 'Маркерная краска Sherwin Williams Dry',
        count: '1 Шт',
        cost: '7 770 Р'
    }
] %}

{% block content %}

    <section class="section ordering">
        <div class="container">
            <form action="" class="ordering__inner fsb">
                <div class="ordering__column1">
                    <div class="ordering-block ordering-contacts">
                        <h2 class="ordering-block__title">Контактная информация</h2>
                        <div class="ordering-block__content">
                            <div class="ordering-block__field-wr">
                                <input class="ordering-block__field" title="" placeholder="Имя">
                                <span class="ordering-block__field-star">*</span>
                            </div>
                            <div class="ordering-block__field-wr">
                                <input class="ordering-block__field" title="" placeholder="Фамилия">
                                <span class="ordering-block__field-star">*</span>
                            </div>
                            <div class="ordering-block__field-wr">
                                <input class="ordering-block__field" title="" placeholder="Телефон">
                                <span class="ordering-block__field-star">*</span>
                            </div>
                            <div class="ordering-block__field-wr">
                                <input class="ordering-block__field" title="" placeholder="Email">
                                <span class="ordering-block__field-star">*</span>
                            </div>
                            <p class="ordering-contacts__note">
                                <span class="ordering-contacts__star">*</span>
                                <span>Обязательные для заполнения поля</span>
                            </p>
                        </div>
                    </div>
                    <div class="ordering-block ordering-delivering order__data-item_delivery">
                        <div class="order__data-item-ttl">
                            <h2 class="ordering-block__title">Доставка</h2>
                        </div>
                        <div class="order__data-item-main order__data-item-tabs">
                            <button type="button" data-town="moscow" class="order__data-town-toggle btn btn_bold order__data-town-toggle--active">Москва</button>
                            <button type="button" data-town="regions" class="order__data-town-toggle btn btn_bold">Регионы</button>
                        </div>
                        <div class="order__data-delivery-moscow">
                            <div class="js-delivery-moscow-tabs order__data-item-main">
                                <div class="order__data-item-radiobtns">
                                    {{ form.radio({
                                        'name':'delivery',
                                        'value':'Доставка',
                                        'checked':true,
                                        'data_val':'delivery'
                                    }) }}
                                    {{ form.radio({
                                        'name':'delivery',
                                        'value':'Самовывоз',
                                        'descr':'(для Москвы и Московской области)',
                                        'data_val':'pickup'
                                    }) }}
                                </div>
                            </div>
                            <div class="js-delivery-moscow-info order__data-item_delivery-info">
                                <div class="order__data-item_delivery-info-default">
                                    <div class="order__data-item_delivery-info-inputs">
                                        {{ form.input({
                                            'type':'text',
                                            'name':'address',
                                            'title':'Адрес доставки',
                                            'placeholder':'г. Москва, Московская обл., ул. Лазурная, д. 6, кв 51',
                                            'required':true,
                                            inputMod: 'ordering-block__field'
                                        }) }}
                                        {{ form.textarea({
                                            'type':'textarea',
                                            'name':'comment',
                                            'title':'Комментарий',
                                            textareaMod: 'ordering-block__field'
                                        }) }}
                                    </div>
                                </div>
                                <div class="order__data-item_delivery-info-descr">
                                    <p>Покупка от 5000р — <b>бесплатно по РФ</b>; <br> Покупка до 5000р — 300р. по РФ <br>Доставка осуществляется на следующий рабочий день.</p>
                                </div>
                                <div class="order__data-item_delivery-info-pickup minimized">
                                    <p>Стоимость — <b>бесплатно</b>. <br>Осуществляется с нашего склада по адресу: <br>г. Москва, метро Ботаничекий сад, проезд Серебрякова, д. 2, стр. 1. <br>График работы: пн-пт 10:00 - 20:00, сб-вс 10:00 - 15:00.</p>
                                    <ul class="h-reset-list delivery__main-item-notes">
                                        <li>Просьба перед приездом предупредить наших менеджеров, чтобы они смогли подать заявку на комплектацию.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="order__data-delivery-regions">
                            <div class="js-delivery-regions-tabs order__data-item-main">
                                <div class="order__data-item-radiobtns">
                                    {{ form.radio({
                                        'name':'delivery-regions',
                                        'value':'Пункты самовывоза',

                                        'data_val':'pickup-regions'
                                    }) }}
                                    {{ form.radio({
                                        'name':'delivery-regions',
                                        'value':'Доставка до двери',
                                        'checked':true,
                                        'data_val':'delivery-regions'
                                    }) }}
                                </div>
                            </div>
                            <div class="js-delivery-regions-info order__data-item_delivery-info">
                                <div class="js-delivery-regions-form">
                                    <div class="order__data-item_delivery-info-default-regions">
                                        <div class="order__data-item_delivery-info-inputs">
                                            {{ form.input({
                                                'type':'text',
                                                'name':'address',
                                                'title':'Адрес доставки',
                                                'placeholder':'г. Москва, Московская обл., ул. Лазурная, д. 6, кв 51',
                                                'required':true,
                                                inputMod: 'ordering-block__field'
                                            }) }}
                                            {{ form.textarea({
                                                'type':'textarea',
                                                'name':'comment',
                                                'title':'Комментарий',
                                                textareaMod: 'ordering-block__field'
                                            }) }}
                                        </div>
                                    </div>
                                    <div class="order__data-item_delivery-info-descr">
                                        <p>Покупка от 5000р — <b>бесплатно по РФ</b>; <br> Покупка до 5000р — 300р. по РФ <br>Доставка осуществляется на следующий рабочий день.</p>
                                        <p>Заявку необходимо разместить до 18:00</p>
                                    </div>
                                </div>
                                <div class="js-delivery-regions-map">
                                    <div class="order__data-item-map hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ordering-block ordering-paying">
                        <h2 class="ordering-block__title">Способ оплаты</h2>
                        <div class="ordering-block__content row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-vl-6">
                                <label class="ordering-block-radio">
                                    <input type="radio" class="js-ordering-paying-radio ordering-block-radio__input"
                                           name="ordering-paying" value="cash" checked>
                                    <span class="ordering-block-radio__field">
                                       <span class="ordering-block-radio__field-circle"></span>
                                    </span>
                                    <span class="ordering-block-radio__text">Наличными курьеру</span>
                                </label>
                                <label class="ordering-block-radio">
                                    <input type="radio" class="js-ordering-paying-radio ordering-block-radio__input"
                                           name="ordering-paying" value="online">
                                    <span class="ordering-block-radio__field">
                                       <span class="ordering-block-radio__field-circle"></span>
                                    </span>
                                    <span class="ordering-block-radio__text">Оплата онлайн</span>
                                </label>
                                <label class="ordering-block-radio">
                                    <input type="radio" class="js-ordering-paying-radio ordering-block-radio__input"
                                           name="ordering-paying" value="bill">
                                    <span class="ordering-block-radio__field">
                                       <span class="ordering-block-radio__field-circle"></span>
                                    </span>
                                    <span class="ordering-block-radio__text">Выставить счет (для юр. лиц)</span>
                                </label>
                            </div>
                            <div class="ordering-paying__content-wr col-xs-12 col-sm-6 col-md-6 col-lg-6 col-vl-6">
                                <div class="js-ordering-paying-content ordering-paying__content _cash _active">

                                </div>
                                <div class="js-ordering-paying-content ordering-paying__content _online">

                                </div>
                                <div class="js-ordering-paying-content ordering-paying__content _bill">
                                    <textarea class="ordering-block__field _area" title=""
                                              placeholder="Реквизиты организации"></textarea>
                                    <label class="ordering-block-download">
                                        <input type="file" class="ordering-block-download__input">
                                        <span class="ordering-block-download__field">
                                            {{ svg.icon({name: 'clip', mod: 'ordering-block-download__field-svg'}) }}
                                            <span class="ordering-block-download__field-text">Выберите файл</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ordering__column2">
                    <div class="ordering-block ordering-list">
                        <div class="ordering-list__header fsb">
                            <h2 class="ordering-block__title">Ваш заказ</h2>
                            <button class="ordering-list__edit">редактировать заказ</button>
                        </div>
                        <div class="ordering-block__content">
                            <div class="ordering-list__items-wr">
                                <div id="orderingList" class="ordering-list__items">
                                    {% for item in orders %}
                                        <div class="ordering-list__item">
                                            <div class="ordering-list__item-pic">
                                                <img src="assets/images/paints/{{ item.pic }}.png" alt=""
                                                     class="ordering-list__item-pic-img">
                                            </div>
                                            <div class="ordering-list__item-data">
                                                <div class="ordering-list__item-name">{{ item.name }}</div>
                                                <div class="fsb">
                                                    <span class="ordering-list__item-count">{{ item.count }}</span>
                                                    <span class="ordering-list__item-cost">{{ item.cost }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="ordering-list__result fsb">
                                <div class="ordering-list__result-title">
                                    <div class="ordering-list__result-title-big">Итого</div>
                                    <div class="ordering-list__result-title-small">Бесплатная доставка</div>
                                </div>
                                <div class="ordering-list__result-value">1 100 988 Р</div>
                            </div>
                        </div>
                    </div>
                    <div class="ordering-submit-block">
                        <p class="ordering-submit-block__acception">
                            Нажимаю кнопку Отправить вы принимаете
                            <a href="/" class="ordering-submit-block__acception-link">
                                Публичную оферту
                            </a>, <a href="/" class="ordering-submit-block__acception-link">
                                Соглашение на обработку персональных данных
                            </a> и <a href="/" class="ordering-submit-block__acception-link">
                                Политику в отношении персональных данных
                            </a>.
                        </p>
                        <button class="button _yellow ordering-submit-block__submit">
                            <span>заказать</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}

