{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% block content %}

    <section class="breadscrumb-wr  breadscrumb-wr__helper">
        <div class="container">
            {% include '../partials/breadcrumb.twig' with {'path': [{name: 'Главная', link: '/'}, {name: 'Маркерная краска', link: '/'}, {name: 'Маркерная краска SketchPaint'}]} %}
        </div>
    </section>
    <section class="section">
        <div class="product-main">
            <div class="container">
                <div class="product-main__row row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-vl-6">
                        <div class="product-main__pictures hidden-xs">
                            <div class="product-main__panel">
                                <a href="assets/images/gallery/1.jpg" data-fancybox="gallery" data-caption="Caption #1" class="product-main__panel-link">
                                    <img src="assets/images/gallery/1.jpg" alt="" class="product-main__panel-link-img" />
                                </a>
                                <a href="assets/images/gallery/2.jpg" data-fancybox="gallery" data-caption="Caption #2" class="product-main__panel-link">
                                    <img src="assets/images/gallery/2.jpg" alt="" class="product-main__panel-link-img" />
                                </a>
                                <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=ZZY-Ytrw2co" class="product-main__panel-link _video">
                                    <img src="assets/images/gallery/3.jpg" alt="" class="product-main__panel-link-img" />
                                    <div class="product-main__panel-video-bg">
                                        <img src="assets/images/play.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="product-main__pictures-content">
                                <img src="assets/images/paints/1_main.png" alt="" class="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-vl-6">
                        <div>
                            <div class="product-main__wrapper">
                                <h1 class="product-main__title">SketchPaint Белая</h1>
                                <div class="js-product-count-wr product-main__data">
                                    <button class="js-product-buy button _yellow product-main__data-button">
                                        <span>Добавить в корзину</span>
                                        {#{{ svg.icon({name: 'cart', mod: 'product-main__data-button-icon button__icon'}) }}#}
                                    </button>
                                </div>
                            </div>
                            <div class="js-carousel-product-pictures product-main-carousel-pictures visible-xs-block">
                                <div class="product-main-carousel-pictures__slide">
                                    <div class="product-main-carousel-pictures__slide-inner">
                                        <img src="assets/images/gallery/1.jpg" alt="" class="product-main-carousel-pictures__slide-img" />
                                    </div>
                                </div>
                                <div class="product-main-carousel-pictures__slide">
                                    <div class="product-main-carousel-pictures__slide-inner">
                                        <img src="assets/images/gallery/2.jpg" alt="" class="product-main-carousel-pictures__slide-img" />
                                    </div>
                                </div>
                            </div>
                            <div class="product-main__content">
                                <div class="product-main__content-row">
                                    <div class="product-choose">
                                        <div class="product-choose__item" data-price="7700">
                                            <div class="product-choose__item-lt">
                                                <div class="product-choose__item-name">0,5л</div>
                                                {% include '../partials/counter.twig' with {value: '100', border: 'ellipse', mod: 'product-main__data-counter'} %}
                                            </div>
                                            <div class="product-choose__item-price">
                                                <span class="product-choose__item-price-container">7 770 </span>
                                                <span class="product-choose__item-price-currency">Р</span>
                                            </div>
                                        </div>
                                        <div class="product-choose__item" data-price="10770">
                                            <div class="product-choose__item-lt">
                                                <div class="product-choose__item-name">1л</div>
                                                {% include '../partials/counter.twig' with {value: '100', border: 'ellipse', mod: 'product-main__data-counter'} %}
                                            </div>
                                            <div class="product-choose__item-price">
                                                <span class="product-choose__item-price-container">10 770 </span>
                                                <span class="product-choose__item-price-currency">Р</span>
                                            </div>
                                        </div>
                                        <div class="product-choose__item" data-price="15770">
                                            <div class="product-choose__item-lt">
                                                <div class="product-choose__item-name">2л</div>
                                                {% include '../partials/counter.twig' with {value: '100', border: 'ellipse', mod: 'product-main__data-counter'} %}
                                            </div>
                                            <div class="product-choose__item-price">
                                                <span class="product-choose__item-price-container">15 770 </span>
                                                <span class="product-choose__item-price-currency">Р</span>
                                            </div>
                                        </div>
                                    </div>
                                    {#<div class="product-main-select">
                                        <select class="js-select-paints product-main-select-input" name="state" title="">
                                            <option value="1" data-size="0,5л" data-price="7 770 Р">
                                            <span class="product-main-select-option">
                                                <span class="product-main-select-option__size">0,5л</span>
                                                <span class="product-main-select-option__price">7 770 Р</span>
                                            </span>
                                            </option>
                                            <option value="2" data-size="1л" data-price="10 770 Р">
                                            <span class="product-main-select-option">
                                                <span class="product-main-select-option__size">1л</span>
                                                <span class="product-main-select-option__price">10 770 Р</span>
                                            </span>
                                            </option>
                                            <option value="AL" data-size="2л" data-price="15 770 Р">
                                            <span class="product-main-select-option">
                                                <span class="product-main-select-option__size">2л</span>
                                                <span class="product-main-select-option__price">15 770 Р</span>
                                            </span>
                                            </option>
                                        </select>
                                    </div> #}
                                    <div class="product-choose__total">
                                        <div class="product-choose__total-desc">Итого:</div>
                                        <div class="product-choose__total-price">
                                            <span class="product-choose__total-price-container">15 770 </span>
                                            <span class="product-choose__total-price-currency">Р</span>
                                        </div>
                                    </div>


                                    <div class="js-product-count-wr product-main__data">
                                        <button class="js-product-buy button _yellow product-main__data-button">
                                            <span>Добавить в корзину</span>
                                            {#{{ svg.icon({name: 'cart', mod: 'product-main__data-button-icon button__icon'}) }}#}
                                        </button>
                                    </div>
                                </div>
                                <a href="" class="product-main__download download">
                                    {{ svg.icon({name: 'download', mod: 'download__svg'}) }}
                                    <div class="download__text">cкачать инструкцию</div>
                                </a>
                                <a href="" class="product-main__download download">
                                    {{ svg.icon({name: 'download', mod: 'download__svg'}) }}
                                    <div class="download__text">cкачать сертификаты</div>
                                </a>
                                <a href="" class="product-main__download download">
                                    {{ svg.icon({name: 'eye', mod: 'eye__svg'}) }}
                                    <div class="download__text">Смотреть проекты с этим товаром</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="product-info">
                <ul class="js-carousel-product-info-nav product-info__nav" role="tablist">
                    <li role="presentation" class="product-info__nav-tab active">
                        <a href="#cInfoDescription" aria-controls="cInfoDescription" role="tab" data-toggle="tab" class="product-info__nav-tab-link">
                            <span>Описание</span>
                        </a>
                    </li>
                    <li role="presentation" class="product-info__nav-tab">
                        <a href="#cInfoAdvantages" aria-controls="cInfoAdvantages" role="tab" data-toggle="tab" class="product-info__nav-tab-link">
                            <span>Преимущества</span>
                        </a>
                    </li>
                    <li role="presentation" class="product-info__nav-tab">
                        <a href="#cInfoAdvices" aria-controls="cInfoAdvices" role="tab" data-toggle="tab" class="product-info__nav-tab-link">
                            <span>Советы</span>
                        </a>
                    </li>
                </ul>
                <div class="product-info__articles">
                    <div role="tabpanel" class="product-info__articles-pane active" id="cInfoDescription">
                        <div class="product-info__articles-column">
                            <div class="product-info__articles-title">
                                Подойдите к стене и нарисуйте на ней восклицательный знак.
                            </div>
                            <div class="product-info__articles-content">
                                Не можете, потому что вам жалко обои? Срочно срывайте их – они препятствуют вашему личностному росту и развитию творческих способностей! Наносите на стену маркерное покрытие SketchPaint – и вскоре на ней зацветут всеми цветами радуги любые ваши фантазии!
                            </div>
                        </div>
                        <div class="product-info__articles-column">
                            <div class="product-info__articles-content">
                                Не можете, потому что вам жалко обои? Срочно срывайте их – они препятствуют вашему личностному росту и развитию творческих способностей! Наносите на стену маркерное покрытие SketchPaint – и вскоре на ней зацветут всеми цветами радуги любые ваши фантазии! Это был первый таб!
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="product-info__articles-pane" id="cInfoAdvantages">
                        <div class="product-info__articles-column">
                            <div class="product-info__articles-title">
                                Подойдите к стене и нарисуйте на ней восклицательный знак.
                            </div>
                            <div class="product-info__articles-content">
                                Не можете, потому что вам жалко обои? Срочно срывайте их – они препятствуют вашему личностному росту и развитию творческих способностей! Наносите на стену маркерное покрытие SketchPaint – и вскоре на ней зацветут всеми цветами радуги любые ваши фантазии!
                            </div>
                        </div>
                        <div class="product-info__articles-column">
                            <div class="product-info__articles-content">
                                Не можете, потому что вам жалко обои? Срочно срывайте их – они препятствуют вашему личностному росту и развитию творческих способностей! Наносите на стену маркерное покрытие SketchPaint – и вскоре на ней зацветут всеми цветами радуги любые ваши фантазии! Это был второй таб!
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="product-info__articles-pane" id="cInfoAdvices">
                        <div class="product-info__articles-column">
                            <div class="product-info__articles-title">
                                Подойдите к стене и нарисуйте на ней восклицательный знак.
                            </div>
                            <div class="product-info__articles-content">
                                Не можете, потому что вам жалко обои? Срочно срывайте их – они препятствуют вашему личностному росту и развитию творческих способностей! Наносите на стену маркерное покрытие SketchPaint – и вскоре на ней зацветут всеми цветами радуги любые ваши фантазии!
                            </div>
                        </div>
                        <div class="product-info__articles-column">
                            <div class="product-info__articles-content">
                                Не можете, потому что вам жалко обои? Срочно срывайте их – они препятствуют вашему личностному росту и развитию творческих способностей! Наносите на стену маркерное покрытие SketchPaint – и вскоре на ней зацветут всеми цветами радуги любые ваши фантазии! Это был третий таб!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% include '../partials/concomitant.twig' %}
        </div>
    </section>
{% endblock %}
