{% set projects = {
    "list": [
        {
            "date": "27-08-2019",
            "dateText": "27 августа 2019",
            "title": "Стены в прихожей по заказу клентов",
            "img": "projects_1.png",
            "field": "1"
        },
        {
            "date": "27-08-2019",
            "dateText": "27 августа 2019",
            "title": "Офис \"Team Dollar\" в Москве",
            "img": "projects_2.png",
            "field": "2"
        },
        {
            "date": "27-08-2019",
            "dateText": "27 августа 2019",
            "title": "Стены в прихожей по заказу клентов",
            "img": "projects_3.png",
            "field": "3"
        },
        {
            "date": "27-08-2019",
            "dateText": "27 августа 2019",
            "title": "Офис \"Team Dollar\" в Москве",
            "img": "projects_4.png",
            "field": "4"
        },
        {
            "date": "27-08-2019",
            "dateText": "27 августа 2019",
            "title": "Стены в прихожей по заказу клентов",
            "title": "Офис \"Team Dollar\" в Москве",
            "img": "projects_5.png",
            "field": "5"
        },
        {
            "date": "27-08-2019",
            "dateText": "27 августа 2019",
            "title": "Офис \"Team Dollar\" в Москве",
            "img": "projects_6.png",
            "field": "6"
        }


    ]
} %}


{% extends '../base.twig' %}

{% block header %}
    {% include '../common/header.twig' %}
{% endblock %}

{% block content %}

    <section class="section">
        <div class="breadscrumb-wr">
            <div class="container">
                {% include '../partials/breadcrumb.twig' with {'path': [{name: 'Главная', link: '/'}, {name: 'Помощь'}]} %}
            </div>
        </div>
    </section>
    <section class="projects">
        <div class="container">
            <div class="projects__wrapper">
                <h1 class="projects__title">Проекты</h1>
                <div class="projects__item-inner" style="max-width: 215px;">
                    <div class="js-fancybox-gallery-list hidden">
                        {% for photo in 1..5 %}
                            <a data-fancybox="project-{{ loop.index }}"
                               href="../../assets/images/projects/gallery/{{ item.field }}/{{ loop.index }}.jpg"
                               class="js-fancybox-gallery-item fancybox"
                               data-thumb="../../assets/images/projects/gallery/{{ item.field }}/{{ loop.index }}.jpg">
                                <img src="../../assets/images/projects/gallery/{{ item.field }}/{{ loop.index }}.jpg"
                                     alt="MarkerPaint">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="catalog-list__title">
                <div class="catalog-list__title-info">
                    <ul class="catalog-list__sub-menu-list">
                        <li class="catalog-list__sub-menu-item catalog-list__sub-menu-item--active"><a href="#" class="catalog-list__sub-menu-link">Все краски</a></li>
                        <li class="catalog-list__sub-menu-item"><a href="#" class="catalog-list__sub-menu-link">Маркерные</a></li>
                        <li class="catalog-list__sub-menu-item"><a href="#" class="catalog-list__sub-menu-link">Магнитные</a></li>
                        <li class="catalog-list__sub-menu-item"><a href="#" class="catalog-list__sub-menu-link">Гифельные</a></li>
                        <li class="catalog-list__sub-menu-item  catalog-list__sub-menu-item--projects">
                            <a href="javascript:;" class="js-projects-fancybox   footer-links__link">
                                {{ svg.icon({name: 'eye', mod: 'eye__svg'}) }}
                                <p>Смотреть фотогалерею</p>
                            </a>
                        </li>
                        <li class="catalog-list__sub-menu-item  catalog-list__sub-menu-item--insta">
                            <a href="www.instagram.com/markerpaint.ru/" class="js-projects-fancybox   footer-links__link" target="_blank">
                                {{ svg.icon({name: 'instagram', mod: 'instagram__svg'}) }}
                                <p>Instagram</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="projects__inner ">
                <ul class="projects__list row">
                    {% for item in projects.list %}
                        <li class="projects__item col-md-12 col-lg-6">
                            <div class="projects__item-img col-12 col-md-6 js-projects-fancybox">
                                <img src="../assets/images/projects/{{ item.img }}" alt="">
                            </div>
                            <div class="projects__item-inner col-12 col-md-6">
                                <time datetime="{{ item.date }}" class="projects__item-date">{{ item.dateText }}</time>
                                <h3 class="projects__item-title">{{ item.title }}</h3>
                                <a href="javascript:;" class="projects__item-link  js-projects-fancybox">Фотоотчёт</a>
                                <div class="js-fancybox-gallery-list hidden">
                                    {% for photo in 1..5 %}
                                        <a data-fancybox="project-{{ loop.index }}"
                                           href="../../assets/images/projects/gallery/{{ item.field }}/{{ loop.index }}.jpg"
                                           class="js-fancybox-gallery-item fancybox"
                                           data-thumb="../../assets/images/projects/gallery/{{ item.field }}/{{ loop.index }}.jpg">
                                            <img data-src="../../assets/images/projects/gallery/{{ item.field }}/{{ loop.index }}.jpg"
                                                 alt="MarkerPaint">
                                        </a>
                                    {% endfor %}
                                    <a data-fancybox="https://www.youtube.com/watch?v=UceaB4D0jpo"
                                        href="https://www.youtube.com/watch?v=UceaB4D0jpo"
                                        class="js-fancybox-gallery-item fancybox"
                                        {#
                                            Есть 4 типа картинок с youtube.com:
                                            default.jpg
                                            hqdefault.jpg - высокого качества
                                            mqdefault.jpg - среднего качества
                                            sddefault.jpg - стандартной четкости
                                            maxresdefault.jpg - ьаксимального разрешения
                                         #}
                                        data-thumb="https://img.youtube.com/vi/UceaB4D0jpo/default.jpg">
                                        youtube video
                                    </a>
                                     <a data-fancybox="https://vimeo.com/44546589"
                                        href="https://vimeo.com/44546589"
                                        class="js-fancybox-gallery-item fancybox"
                                        {#
                                            здесь чтобы сделать thumbs нужно скачивать картинку с vimeo с помощью php
                                            ссылка в api: https://developer.vimeo.com/api/oembed/videos
                                         #}
                                        data-thumb="https://img.youtube.com/vi/UceaB4D0jpo/default.jpg">
                                        youtube video
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

