.c-product {
    margin-left: auto;
    margin-right: auto;

    &__main {
        position: relative;
        border-radius: 3px;
        background-color: #f9fbfc;
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
        text-align: center;
        @media (min-width: $screen-lg) {
            height: 295px;
            justify-content: flex-end;
        }
        @media (min-width: $screen-vl) {
            height: 410px;
        }
    }

    &__label {
        @include promo-small;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        border-bottom-right-radius: 10px;
        color: $CWhite;
        text-transform: uppercase;
        padding: 12px 15px;
        letter-spacing: 4px;
        @include flex-centered;
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            padding: 9px 14px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            padding: 9px 5px;
        }
        @each $colorName, $color in (
                purple: #665973,
                green: #249c6b,
                yellow: #d0b70f,
                blue: #95c4dc,
                red: #f2707c
        ) {
            &._#{$colorName} {
                background-color: $color;
            }
        }
    }

    &__size {
        position: absolute;
        z-index: 3;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        right: 13px;
        top: 12px;
        height: 174px;

        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            height: 147px;
        }

        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            height: 106px;
        }

        @media (min-width: $screen-vl) {
            right: 19px;
            top: 17px;
            height: 147px;
        }

        &-input {

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: $screen-xs-max) {
                width: 54px;
                height: 54px;
                margin-bottom: 5px;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                width: 43px;
                height: 43px;
                margin-bottom: 5px;
            }
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                width: 35px;
                height: 35px;
                margin-bottom: 5px;
            }
            @media (min-width: $screen-vl) {
                width: 45px;
                height: 45px;
                margin-bottom: 5px;
            }
        }
    }

    &__pic {
        position: relative;
        margin-top: 34px;
        max-width: 250px;
        width: 100%;
        @media (max-width: $screen-xs-max) {
            height: 140px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            height: 205px;
            margin-top: 39px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            height: 147px;
        }
        @media (min-width: $screen-vl) {
            height: 235px;
        }

        &-img {
            position: relative;
            z-index: 2;
            max-width: 198px;
            max-height: 100%;
            margin-bottom: 20px;
            object-fit: cover;
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                max-width: 150px;
            }
        }
    }

    &__name {
        @include name;
        max-width: 78%;
        margin-top: 10px;
        @media (min-width: $screen-lg) {
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
            margin-top: 15px;
        }
    }

    &__name span {
        @include help-text;
        display: block;
        margin-bottom: 10px;
        color: #60566b;
        @media (min-width: $screen-lg) {
            margin-bottom: 15px;
        }
    }

    &__info {
        @include help-text;
        margin-top: 10px;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media (min-width: $screen-sm) {
            margin-top: 15px;
        }
    }

    &__panel {
        margin-top: 15px;
        width: 100%;
        height: 66px;
        border-radius: 33px;
        border: 1px solid #dfd6e9;
        display: flex;
        align-items: center;
        overflow: hidden;
        color: #696171;
        font-weight: 500;
        letter-spacing: 1px;
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            height: 62px;
        }
        @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
            font-size: 11px;
            height: 47px;
            margin-top: 10px;
        }
        @media (min-width: $screen-vl) {
            font-size: 16px;
            margin-top: 16px;
        }

        &-price {
            text-align: center;
            @media (max-width: $screen-xs-max) {
                min-width: 39%;
            }
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                min-width: 130px;
            }
            @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                min-width: 90px;
            }
            @media (min-width: $screen-vl) {
                min-width: 100px;
            }
        }

        &-counter {
            border-left: 1px solid #dfd6e9;
            border-right: 1px solid #dfd6e9;
            background-color: transparent;
            height: 100%;

            & .counter__button {
                padding: 10px;
            }

            @media (max-width: $screen-xs-max) {
                width: 35%;
            }
        }

        &-buy {
            height: 100%;
            flex-grow: 1;
            @include flex-centered;
            color: #665973;
            transition: background-color .3s, color .3s;

            &:hover {
                background-color: #665973;
                color: $CWhite;
            }

            &-svg {
                width: 20px;
                @media (max-width: $screen-xs-max) {
                    width: 27px;
                }
                @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
                    width: 15px;
                }
            }
        }
    }
}
