.navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  opacity: 1;
  transition: opacity .3s;

  &._pic {
    background-image: none;
    background-color: $CWhite;
  }

  &._sticky {
    position: fixed;
      z-index: 99;
  }

  &._invisible {
    opacity: 0;
  }

  @media (max-width: $screen-xs-max) {
    //display: none;
  }
  @media (max-width: $screen-md-max) {
    box-shadow: 0 0 9px 1px rgba(121, 133, 140, 0.14);
    background-color: #665973;
  }
  @media (min-width: $screen-lg) {
    box-shadow: 0 0 17px 1px rgba(31, 41, 54, 0.05);
    padding: 10px 0;
    body._custom &{
      box-shadow: none;
    }
    &._dark {
      background-color: transparent;
    }

    &._sticky._dark {
      background-color: #fff;
    }

    &._sticky._dark .navbar-nav__link, &._sticky._dark .navbar__phone-number, &._sticky._dark .navbar__cart-icon, &._sticky._dark .navbar__cart-text {
      color: #665973;
    }

    &._sticky._dark .navbar__logo-icon {
      color: #36303c;
    }

    &._light:not(._top) {
      background-color: $CWhite;
    }
  }

  /* ---------------------------------Inner------------------------------------ */

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    @media (max-width: $screen-md-max) {
      height: 60px;
    }
  }

  &__inner-wr {
    position: relative;
  }

  &__inner > * {
    @media(max-width: $screen-sm - 1) {
      flex: 1 1 0;
    }
  }

  /* ---------------------------------Logo------------------------------------ */

  &__logo {
    width: 16%;
    margin-left: -20px;
    @include flex-centered;
    flex: 0;

    @media (max-width: $screen-xs-max) {
      margin-left: 20px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-left: 23px;
      order: -2;
      width: 44px;
    }
    @media (min-width: $screen-lg) {
      order: 0;
    }
    &-icon {
      transition: color .3s;
      .navbar._dark & {
        @media (max-width: $screen-md-max) {
          color: $CWhite;
        }
        @media (min-width: $screen-lg) {
          color: $CWhite;
        }
      }
      .navbar._light &,
      .navbar._pic & {
        @media (max-width: $screen-md-max) {
          color: $CWhite;
        }
        @media (min-width: $screen-lg) {
          color: #36303c;
        }
      }
    }
  }

  /* ---------------------------------Menu------------------------------------ */

  &__menu-wr {
    @media(max-width: $screen-md-max) {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      background-color: $CWhite;
      z-index: 2;
    }
    @media (min-width: $screen-lg) {
      display: block;
      height: auto !important;
      width: 43%;
    }
  }

  &__menu-content {
    width: 500px;
    @media(max-width: $screen-xs-max) {
      margin-top: 20px;
    }

    @media(min-width: $screen-sm) {
      display: none;
    }
  }

  &__menu {
    @media(max-width: $screen-md-max) {
      height: 480px;
      padding: 30px 20px 111px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      width: 84%;
    }
    @media (min-width: $screen-vl) {
      width: 81%;
    }
  }

  /* ---------------------------------Content------------------------------------ */

  &__content {
    display: flex;
    flex-grow: 1;
    @media (max-width: $screen-md-max) {
      justify-content: space-between;
    }
    @media (min-width: $screen-lg) {
      justify-content: flex-end;
    }
  }

  &__phone-wr {
    @media (max-width: $screen-md-max) {
      order: -1;
      margin-left: 28px;
    }
    @media (min-width: $screen-lg) {
      order: 0;
      margin-left: 45px;
    }
  }

  &__phone {
    height: 100%;
    display: flex;
    align-items: center;
    @media (max-width: $screen-md-max) {
      order: -1;
    }
    @media (max-width: $screen-xs-max) {

    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      min-width: 200px;
    }
    @media (min-width: $screen-lg) {
      order: 0;
    }
    &-icon {
      width: 23px;
      color: $CWhite;
      margin-right: 15px;
      @media (min-width: $screen-lg) {
        display: none;
      }
    }
    &-number {
      text-transform: uppercase;
      .navbar._light &,
      .navbar._pic & {
        @media (max-width: $screen-md-max) {
          color: $CWhite;
        }
        @media (min-width: $screen-lg) {
          color: #4c4257;
        }
      }
      .navbar._dark & {
        @media (max-width: $screen-md-max) {
          color: $CWhite;
        }
        @media (min-width: $screen-lg) {
          color: $CWhite;
        }
      }
      @media (max-width: $screen-md-max) {
        font-size: 18px;
        letter-spacing: 0.65px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        font-size: 14px;
        letter-spacing: 0.5px;
      }
      @media (min-width: $screen-vl) {
        font-size: 21px;
        letter-spacing: 0.76px;
      }
    }
    &-text {
      text-transform: uppercase;
      width: 100%;
      text-align: left;
      @media (max-width: $screen-md-max) {
        font-size: 8px;
        letter-spacing: 1.6px;
      }
      @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        margin-top: 11px;
        font-size: 9px;
        letter-spacing: 1.8px;
      }
      @media (min-width: $screen-vl) {
        margin-top: 10px;
        font-size: 10px;
        letter-spacing: 2px;
      }
      .navbar._light &,
      .navbar._pic & {
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: #a197aa;
        text-align: center;
      }
      .navbar._dark & {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #97a7b5;
        text-align: center;
      }
    }
  }

  &__cart-wr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: $screen-md-max) {
      order: 0;
    }
    @media (min-width: $screen-lg) {
      order: 0;
      width: 30%;
    }
  }

  &__cart {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $CWhite;
    @media (max-width: $screen-xs-max) {
      margin-right: 17px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      margin-right: 28px;
    }
    @media (min-width: $screen-lg) {
      margin-right: 17px;
    }
    .navbar._light &,
    .navbar._pic & {
      @media (min-width: $screen-lg) {
        color: #7e6390;
      }
    }
    &-icon {
      border-radius: 21px;
      border-width: 2px;
      border-style: solid;
      box-sizing: border-box;
      @include flex-centered;
      transition: border-color .3s;
      @media (max-width: $screen-md-max) {
        border: none;
        width: 26px;
      }
      @media (min-width: $screen-lg) {
        width: 42px;
        height: 42px;
      }
      .navbar._light &,
      .navbar._pic & {
        border-color: #f1f1f4;
      }
      .navbar._dark & {
        border-color: rgba(#cddfe0, 0.1);
      }

      &:hover,&:active {
        .navbar._light &,
        .navbar._pic & {
          border-color: #a499ae;
          box-shadow: 0 0 16px rgba(134, 121, 147, 0.11);
        }
        .navbar._dark & {
          border-color: rgba(#cddfe0, 1);
        }
      }
    }
    &-text {
      margin-left: 11px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.12px;
    }
  }

  /* ---------------------------------Toggle------------------------------------ */

  &__toggle {
    //margin-right: 10px;
    flex: 0;
    @media(min-width: $screen-lg) {
      display: none;
    }
  }
}
