.navbar-nav {

  @media (max-width: $screen-md-max) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 280px;
    margin-right: auto;
  }
  @media(min-width: $screen-lg) {
    @include flex-row;
    @include gutters(3);
  }

  &__item-wr{
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
  }

  &__item{
    position: relative;
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
  }

  &__link {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4f4459;
    @media (max-width: $screen-xs-max) {
      font-size: 18px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      font-size: 13px;
      height: 50px;
    }
    @media (min-width: $screen-vl) {
      font-size: 16px;
      height: 70px;
    }
    @include flex-centered;
    @media (max-width: $screen-md-max) {
      width: 100%;
      color: #4f4459;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: $screen-lg) {
      .navbar._light &,
      .navbar._pic &{
        color: #665973;
        &:hover{
          color: #b1a5bc;
        }
      }
      .navbar._dark &{
        color: $CWhite;
        &:hover{

        }
      }
    }

    &-svg{
      display: none;
      width: 5px;
      margin-left: 8px;
      transform: rotate(90deg);
      .navbar-nav__link[aria-expanded=true] &{
        @include rotate(90deg);
      }

      @media (max-width: $screen-md-max) {
        width: 7px;
        color: #665973;
      }
    }
  }

  &__submenu {
    display: none;
    flex-flow: column nowrap;
    min-width: 170px;
    padding: 1px 0 0;
    & .navbar-nav__submenu-item:nth-of-type(6), & .navbar-nav__submenu-item:nth-of-type(7) {
      background-color:#ffe34b;
      & a {
        color: #554b5f;
      }
    }
    @media (max-width: $screen-md-max) {
      background-color: $CWhite;
    }
    @media (min-width: $screen-lg) {
      position: absolute;
      .navbar._light &,
      .navbar._pic &{
        background-color: $CWhite;
        box-shadow: 0 0 27px rgba(56, 52, 60, 0.05);
      }
      .navbar._dark &{
        background-color: rgba(#53435b, 0.4);
      }
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      top: 50px;
    }
    @media (min-width: $screen-vl) {
      top: 50px;
      left: -2px;
    }
    &.open{
      display: flex;
    }
  }

  &__sublink{
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.18px;
    color: #7f708d;
    @media (max-width: $screen-md-max) {
      color: #7c7386;
      font-size: 14px;
      font-weight: 200;
      letter-spacing: 0.56px;
      line-height: 34px;
    }
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      padding: 7px 0;
    }
    @media (min-width: $screen-vl) {
      padding: 8px 0;
    }
  }
}

.navbar-nav__submenu-item {
  padding-left: 10px;
  transition: all 0.4s ease;
  &:hover  {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}

.navbar-nav__submenu-item--spec {
  width: 100%;
  position: relative;
  //margin-left: -10px;
  padding-left: 10px;
  background-color: #ffe34b;
  color: #7f708d;
  & a {
    color: #7f708d;
    letter-spacing: 1px;
  }
}