.navbar-toggle {
  width: 70px;
  height: 60px;
  @include flex-centered;
  background-color: #ffe34b;

  &__inner {
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__sep {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #000000;
    transition: transform .7s, opacity .7s, width .7s;
    &:nth-child(1){
      position: absolute;
      top: 0;
    }
    &:nth-child(2){
      margin-top: 9px;
    }
    &:nth-child(3){
      position: absolute;
      bottom: 0;
    }
    .navbar-toggle[aria-expanded=true] &{
      width: 28px;
      &:nth-child(1){
        transform-origin: 1px 1px;
        @include rotate(45deg);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        transform-origin: 1px 1px;
        @include rotate(-45deg);
      }
    }
  }
}
