//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @media (max-width: $screen-xs-max) {
    padding: 0 20px;
  }
  @media (min-width: $screen-sm) {
    @include container-fixed;
  }
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  //@media (min-width: $screen-md-min) {
  //  width: $container-md;
  //}
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  @media (min-width: $screen-vl-min) {
    width: $container-vl;
  }
  //@media (min-width: $screen-fh-min) {
  //  width: $container-fh;
  //}
}

.container-sm {

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
    @include container-fixed;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  @media (min-width: $screen-vl-min) {
    width: $container-vl;
  }
  //@media (min-width: $screen-fh-min) {
  //  width: $container-fh;
  //}
}

.container-lg {

  @media (max-width: $screen-md-max) {
    width: 100%;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
    @include container-fixed;
  }
  @media (min-width: $screen-vl-min) {
    width: $container-vl;
  }
  //@media (min-width: $screen-fh-min) {
  //  width: $container-fh;
  //}
}

.container-xs{
  @media (max-width: $screen-xs-max) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 20px;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed;
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row;
}


// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  @include make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}

@media (min-width: $screen-vl-min) {
  @include make-grid(vl);
}

@media (min-width: $screen-fh-min) {
  @include make-grid(fh);
}

.no-gutters {
      margin-right: 0;
      margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
  padding-left: 0;
  padding-right: 0;
}